
.contenedor{ margin-top:20px; margin-left:30px; margin-right:30px;  margin-bottom:60px;}
#btn{ width: 100%; padding: 10px 50px; margin:0;}
#validation{ font-size: 14px; color:red; margin:0; padding:0; position: absolute;}
.btn_modal{ width:100%; height:40px; font-size:15px; background-color:#4CAF50; text-align: center;}
#btnNuevo{ padding:4px; width: 100%; background: #4CAF50; }

#btnTable{background-color: #4CAF50;}
.table{ margin-top:20px;}
    /*estilo form principal*/
        .contFormPrincipal{height:500px; width: 1290px;}
        .contSecSubEmp{height: 370px; width: 100%;}
        .contSecUserName{height: 200px; width: 100%;}

    /* estilo nuevo usuario sistema */
        .contFormNuevoUser{ height: 300px; width: 300px;}
        .bodyFormNuevoUser{ height: 250px; width: 100%;}
        .pieFormNuevoUser{ height: 40px; width: 100%;}

    /*estilo nueva persona(campos necesarios)*/
        .contMAddEmpPer{ height: 450px; width: 750px;}
        .bodyMAddEmpPer{ height: 400px; width: 99%;}
        .pieMAddEmpPer{ margin-top:10px; height: 40px; width: 99%;}

    /*nuevo registro empresapersona*/
        .contFormNuevaPer{ height: 410px; width: 280px;}
        .bodyFormNuevaPer{ height: 360px; width: 99%;}
        .pieFormNuevaPer{ height: 40px; width: 99%;}

/* RESPONSIVE */
    /*lenovo tab 7 essential vertical*/
    @media(max-width:600px){ 
       /* estilo nuevo usuario sistema */
       .contFormNuevoUser{ height: 330px; width: 300px;}
       .bodyFormNuevoUser{ height: 250px; width: 100%;}
       .pieFormNuevoUser{ height: 80px; width: 100%;}

        /*estilo nueva persona(campos necesarios)*/
       .contMAddEmpPer{ height: 490px; width: 400px;}
       .bodyMAddEmpPer{ height: 400px; width: 99%;}
       .pieMAddEmpPer{ margin-top:10px; height: 80px; width: 99%;}

        /*nuevo registro empresapersona*/
       .contFormNuevaPer{ height: 410px; width: 280px;}
       .bodyFormNuevaPer{ height: 360px; width: 99%;}
       .pieFormNuevaPer{ height: 40px; width: 99%;}
    }

    /* iphone 6 plus*/
    @media(max-width:480px){ 
       

        /* estilo nuevo usuario sistema nueva persona(campos necesarios)*/
            .contFormNuevoUser{ height: 300px; width: 330px;}
            .bodyFormNuevoUser{ height: 210px; width: 100%;}
            .pieFormNuevoUser{ height: 40px; width: 100%;}

        /*estilo agregar persona a subempresa*/
            .contMAddEmpPer{ height: 540px; width: 340px;}
            .bodyMAddEmpPer{overflow-x: hidden; overflow-y: auto; height: 440px; width:100%; }
            .pieMAddEmpPer{ height: 90px; width: 100%}

        /*nuevo registro empresapersona*/
            .contFormNuevaPer{ height: 450px; width: 330px;}
            .bodyFormNuevaPer{ height: 360px; width: 100%;}
            .pieFormNuevaPer{ height: 90px; width: 100%;}
        }

    /* iphone 6 */
    @media(max-width:380px){ 
       
    }

    /* iphone 5 */
    @media(max-width:320px){ 
       
    }

    /* iphone 4 */
    @media(max-height:480px){
        
    }