
.contenedor{ margin-top:20px; margin-left:30px; margin-right:30px; margin-bottom:60px;}
#btn{ width: 100%; padding: 10px 50px; margin:0;}
#validation{color:red; margin:0; padding:0; position: absolute; font-size: 14px;}
.btn_modal{ width:100%; height:40px; font-size:15px; background-color:#4CAF50;}
#btnTable{background-color: #4CAF50;}
.table{ margin-top:20px;}


/* estilos formuario nueva subempresa desktop*/
    .contFormNuevaSuEmp{ height:450px; width: 480px;}
    .bodyFormNuevaSuEmp{ height: 410px; width: 100%; overflow-x: hidden; overflow-y: auto;}
    .pieFormNuevaSuEmp{ height: 40px; width: 100%;}

/* estilos formulario nueva empresa desktop*/
    .contFormNuevaEmp{ height: 250px; width: 300px; }
    .bodyFormNuevaEmp{ height: 210px; width:100%;}
    .pieFormNuevaEmp{ height: 40px; width: 100%;}

/* estilos formulario Nuevo Periodo desktop*/
    .contNuevoPer{width: 250px; height: 300px;}
    .nPerBody{ width: 100%; height: 250px;}
    .nPerBtns{ width: 100%; height: 40px;}

/* RESPONSIVE */
    /*ipad PRO*/
    @media(max-width:1100px){ 
    }
    
    /* ipad*/
    @media(max-width:600px){ 
    }

    /* iphone 6 plus*/
    @media(max-width:480px){ 
        /* estilos formuario nueva subempresa desktop*/
            .contFormNuevaSuEmp{ height:510px; width: 330px;}
            .bodyFormNuevaSuEmp{ height: 430px; width: 100%; overflow-x: hidden; overflow-y: auto;}
            .pieFormNuevaSuEmp{ height: 80px; width: 100%;}

        /* estilos formulario nueva empresa desktop*/
            .contFormNuevaEmp{ height: 300px; width: 330px; }
            .bodyFormNuevaEmp{ height: 210px; width:100%;}
            .pieFormNuevaEmp{ height: 40px; width: 100%;}

        /* estilos formulario Nuevo Periodo */
            .contNuevoPer{ width: 350px; height: 370px;}
            .nPerBody{width: 100%; height: 290px;}
            .nPerBtns{ width: 100%; height: 80px;}
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        
        /* estilos formulario nueva empresa desktop*/
            .contFormNuevaEmp{ height: 300px; width: 300px; }
            .bodyFormNuevaEmp{ height: 210px; width:100%;}
            .pieFormNuevaEmp{ height: 40px; width: 100%;}

        /* estilos formuario nueva subempresa desktop*/
            .contFormNuevaSuEmp{ height:510px; width: 300px;}
            .bodyFormNuevaSuEmp{ height: 430px; width: 100%; overflow-x: hidden; overflow-y: auto;}
            .pieFormNuevaSuEmp{ height: 80px; width: 100%;}

        /* estilos formulario Nuevo Periodo */
            .contNuevoPer{ width: 300px; height: 350px;}
            .nPerBody{width: 100%; height: 270px;}
            .nPerBtns{ width: 100%; height: 80px;}
    }

    /* iphone 5 */
    @media(max-width:320px){ 
        /* estilos formulario nueva empresa desktop*/
            .contFormNuevaEmp{ height: 300px; width: 300px; }
            .bodyFormNuevaEmp{ height: 210px; width:100%;}
            .pieFormNuevaEmp{ height: 40px; width: 100%;}

        /* estilos formuario nueva subempresa desktop*/
            .contFormNuevaSuEmp{ height:510px; width: 300px;}
            .bodyFormNuevaSuEmp{ height: 430px; width: 100%; overflow-x: hidden; overflow-y: auto;}
            .pieFormNuevaSuEmp{ height: 80px; width: 100%;}

        /* estilos formulario Nuevo Periodo */
            .contNuevoPer{ width: 250px; height: 300px;}
            .nPerBody{width: 100%; height: 220px;}
            .nPerBtns{ width: 100%; height: 80px;}
    }

    /* iphone 4 */
    @media(max-height:480px){
        .container{max-height: 160px;max-width: 280px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
          
            padding: 0 8px;
            margin: 0;
        }
            .contNuevoPer{ width: 250px; height: 300px;}
            .nPerBody{width: 100%; height: 220px;}
            .nPerBtns{ width: 100%; height: 80px;}
    }