.contenedor{overflow:hidden; margin:0 10px;}

/* ESTILOS BOTONES DEL MAPA*/
#btn{
    width:75px; 
    height:40px; 
    font-size:13px;
    background-color:#4CAF50;
    text-align: center;
}


#btnTable{
    background-color: #4CAF50;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{ padding: 4px; width: 100%; background: #4CAF50; }


/*USADO EN LOS BOTONES DE LAS VENTANAS MODALES*/
.btn_Modal{
    margin-top: 30px;
}

/* APARIENCIA BOTONES DE LA VENTANA NUEVO */
.btn_modal{
    width:100%; 
    height:40px; 
    font-size:15px;
    border:none;
    background-color:#4CAF50;
    text-align: center;
}




/* TEXTO VALIDACION BAJO EL INPUT */
#validation{ font-size: 14px; color:red; margin:0; padding:0; position: absolute;}

/* MODIFICANDO ESTILO PARA LOS INPUTS Y SU VALIDACION */
.form-group{ margin-bottom:30px; }

.cont_modal{
    overflow-y: auto; 
    overflow-x: auto;
    height:300px;
    width: 100%;
}


/* desktop */
    /*form contenedor mapa (desktop)*/
        #contMapa{height: 520px; width: 900px; }
        #pieMapa{margin-top:10px;;height: 40px; width: 900px; }
        .btn_mapa{ width:100%; height:40px; font-size:15px; background-color:#4CAF50;}

    /* form modal preview puntos de control */
        .contFmVistaPC{ height: 410px; width: 400px; }
        .bodyFmVistaPC{ height: 360px; width: 100%;}
        .pieFmVistaPC{height: 40px; width: 100%;}
        
    /* form modal editar puntos de control */
        .contFmEditPC{ height: 410px; width: 400px; }
        .bodyFmEditPC{ height: 360px; width: 100%;}
        .pieFmEditPC{height: 40px; width: 100%;}
/*responsive */

    /* iphone 6 plus*/
    @media(max-width:480px){ 
        .container{max-height: 520px;max-width: 330px;}
 
        .cont_modal{
            overflow-y: auto; 
            overflow-x: auto;
            height:520px;
            width: 100%;
        }
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        .container{max-height: 450px;max-width: 330px;}
      
        .cont_modal{
            overflow-y: auto; 
            overflow-x: auto;
            height:450px;
            width: 100%;
        }
    }

    /* iphone 5 */
    @media(max-width:320px){ 
        .container{max-height: 390px;max-width: 290px;}
        
        .cont_modal{
            overflow-y: auto; 
            overflow-x: auto;
            height:390px;
            width: 100%;
        }
    }

    /* iphone 4 */
    @media(max-height:480px){
        .container{max-height: 370px;max-width: 280px;}
       
        .cont_modal{
            overflow-y: auto; 
            overflow-x: auto;
            height:370px;
            width: 100%;
        }
    }
