#titulo{
    color: black;
    margin-top:20px;
    text-decoration: none;
    text-align: center;
}
.col{
    margin-top:0px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:0px;
}
.contenedor{
    margin-top:20px;
    margin-left:40px;
    margin-right:20px;
    margin-bottom:60px;
}

.table{
    margin-top:20px;
}

/* ESTILOS BOTONES DEL MAPA*/
#btn{
    width:75px; 
    height:40px; 
    font-size:13px;
    background-color:#4CAF50;
    text-align: center;
}

/*ESTILO DEL CONTENEDOR DE BOTONES DEL MAPA */
#btnMap{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    flex-grow: 5;
    /*width: 120px;
    height: 45px;
    font-size: 16px;
    text-align: center;
    list-style-type: none;*/
}

#btnTable{
    background-color: #4CAF50;
}

#mapa{
    margin-top:0px;
    margin-left:-10px;
    margin-right:10px;
    margin-bottom:10px;
}

/* BOTON MODAL NUEVO */
.btn_modal{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}