/* estilo para desktop */
   
    .contenedor{ margin-top:20px; margin-left:30px; margin-right:30px; margin-bottom:0px;}
    #validation{ font-size: 14px; color:red; margin:0; padding:0; position: absolute; }
    .btn_modal{ width:100%; height:40px; font-size:15px; background-color:#4CAF50; text-align: center; }
    /* estilo tabla principal */
    #btnTable{ background-color: #4CAF50;  }

    /* desktop style form ingresar nueva persona*/
        .contFormNPersona{ height: 430px; width: 800px;}

        .bodyFormNPersona{height: 390px; width: 100%; overflow-x: hidden; overflow-y: auto;}

        .pieFormNPersona{ height: 40px; width: 100%;}
        
    /* estilo mensajes configuracion modal*/
        .contModMjs{height: 100px; width: 300px;}

        .bodyModMjs{height: 50px; width: 100%; text-align:left}
        
        .pieModMjs{height: 40px; width: 100%;}
/* RESPONSIVE */
    /*lenovo tab 7 essential vertical*/
    @media(max-width:600px){
      /* desktop style form ingresar nueva persona*/
      .contFormNPersona{ height: 590px; width: 400px;}
      .bodyFormNPersona{height: 510px; width: 100%; overflow-x: hidden; overflow-y: auto;}
      .pieFormNPersona{ height: 80px; width: 100%;}
      
  /* estilo mensajes configuracion modal*/
      .contModMjs{height: 130px; width: 300px;}
      .bodyModMjs{height: 50px; width: 100%; text-align:left}
      .pieModMjs{height: 80px; width: 100%;}
    }

    /* iphone 6 plus*/
    @media(max-width:480px){ 
        /* desktop style form ingresar nueva persona*/
            .contFormNPersona{ height: 510px; width: 330px;}
            .bodyFormNPersona{height: 430px; width: 100%; overflow-x: hidden; overflow-y: auto;}
            .pieFormNPersona{ height: 80px; width: 100%;}
        
        /* estilo mensajes configuracion modal*/
            .contModMjs{height: 130px; width: 330px;}
            .bodyModMjs{height: 50px; width: 100%; text-align:left}
            .pieModMjs{height: 80px; width: 100%;}
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        /* desktop style form ingresar nueva persona*/
        .contFormNPersona{ height: 510px; width: 300px;}
        .bodyFormNPersona{height: 430px; width: 100%; overflow-x: hidden; overflow-y: auto;}
        .pieFormNPersona{ height: 80px; width: 100%;}
    
    /* estilo mensajes configuracion modal*/
        .contModMjs{height: 130px; width: 300px;}
        .bodyModMjs{height: 50px; width: 100%; text-align:left}
        .pieModMjs{height: 80px; width: 100%;}
    }

    /* iphone 5 */
    @media(max-width:320px){ 
         /* desktop style form ingresar nueva persona*/
         .contFormNPersona{ height: 350px; width: 240px;}
         .bodyFormNPersona{height: 270px; width: 100%; overflow-x: hidden; overflow-y: auto;}
         .pieFormNPersona{ height: 80px; width: 100%;}
     
        /* estilo mensajes configuracion modal*/
         .contModMjs{height: 130px; width: 240px;}
         .bodyModMjs{height: 50px; width: 100%; text-align:left}
         .pieModMjs{height: 80px; width: 100%;}
    }

    /* iphone 4 */
    @media(max-height:480px){
        
    }