/*table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}


th, td{
    padding: 10px;
    text-align: center;
}*/
/*.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 100%;*/
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
    width: 100%;
}

/* BOTON MODAL NUEVO */
#btn{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}

.win_modal{
    padding: 10px 20px;
}

.contenedor{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:60px;
}

.col{
    margin-top:0px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:0px;
}

/*@media (max-width:480px){
	.pdf{
		width:200px !important;
        margin:0;
	}
}

@media (max-width:360px){
	.pdf{
		width:100px !important;
        margin:0;
	}
}

@media screen and (max-width: 40em) {
    .ui-dialog.ui-dialog-responsive {
        width: 90% !important;
    }
}

*/
