#titulo{
    color: black;
    margin-top:20px;
    margin-bottom:10px;
    text-decoration: none;
    text-align: left;
}

.contenedor{
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:60px;
}

#btn{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}

/*.win_modal{}

.form-control{
    height: 38px;
    margin:0;
    padding: 0;
    margin-bottom:10px;
    width: 100%;
}*/



#validation{
    color:red; 
    margin:0; 
    padding:0;
    position: absolute;
}


/* BOTONES (GUARDAR CANCELAR + OTROS) VENTANAS MODALES */
.btn_modal{
    width:100%; 
    height:40px; 
    font-size:15px;
    background-color:#4CAF50;
    text-align: center;
    padding: 0;
    margin:0;
}

/*GRUPO BOTONES DE LAS VENTANAS MODALES*/
.btn_Modal{
    margin-top: 30px;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{
    padding:4px;
    width: 100%;
    background: #4CAF50; 
}

/*USADO EN LOS BOTONES DE LAS VENTANAS MODALES*/
.container{
    margin-bottom: 20px;
     max-width: 750px;
     max-height: 350px;
}

.formHoraBase{
    width: 420px;
}

.dataArchPDF{
    width: 350px;
}

#programacion{
    margin-bottom: 20px;
    max-width: 900px;
    max-height: 350px;
}   

.cont_modal{
    overflow-y: auto; 
    overflow-x: auto;
    height:100%;
    width: 100%;
    margin:auto;
    /*padding:0px;*/
}
col-xl-12{
    padding: 0;
}

/*estilos form hora base*/
.contFormHoraBase{height:500px; width: 400px;}
.bodyFormHoraBase{height: 450px; width: 100%;}
.pieFormHoraBase{height: 40px; width: 100%;}

/* estilos formulario (nueva programacion) ingresar horas de salida */
    /* estilo ventana */
        ._windMolHSal{
            overflow-y: auto; 
            overflow-x: auto;
            max-width: 800px;
            max-height: 1000px;
            margin:auto;
        }
        /* CONFIGURANDO LA VENTANA MODAL */
        .windMolHSal{
            margin:0px 15px;
            width: 420px;
            height: 480px;
            /*border: 2px solid green;*/
        }
        .btnAsignarHSalBase{
            width:100%; 
            height:40px; 
            font-size:15px;
            background-color:#00796B;
            text-align: center;
            padding: 0;
            margin:auto;
            margin-top: 30px;
        }
    /* encabezado */
        /*titulo*/  
        #PlacaSelectHB{
            font-size: 15px;
            color:rgb(3, 94, 3);
        }
    /* input + boton + tabla */
        .contModHSalidas{
            height: 360px;
            width:100%;
            margin-bottom: 40px;
        }
    /* pie */
        .btnModalHSalidas{
            width:100%;
            height: 40px;
            margin:auto;
            bottom: 10px;
            padding: 0;
        }

/* ESTILOS DATATABLE + TABLEHTML */

    #btnTable{
        background-color: #4CAF50;
    }

    .table{
        margin-top:20px;
    }
    .horaBase{
        height: 370px;
        width: 340px;
    }
    /* 30 DIAS */
    #progTPlacas1{
        width:3500px;
    }
    /* ENTRE 30  Y 20 DIAS */
    #progTPlacas2{
        width:2600px;
    }
    /* ENTRE 30  Y 20 DIAS */
    #progTPlacas3{
        width:2000px;
    }
    /* ENTRE 30  Y 20 DIAS */
    #progTPlacas4{
        width:750px;
    }
    /* ENTRE 30  Y 20 DIAS */
    #progTPlacas5{
        width:500px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        /*width: 100%;*/
        border: 1px solid #ddd;
        padding: 0;
        margin:0;
    }

    th, td {
        border: none;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even){
        background-color: #f2f2f2;
        width: 100%;
    }


    .dias_Sorteo{
        height: 340px;
        max-width: 540px;
        margin-left:40px;
        padding:0;
    }

/* RESPONSIVE */
    /*ipad PRO*/
    @media(max-width:1100px){ 
        .container{max-height: 350px;
                   max-width: 670px;}
        #programacion{
            margin-bottom: 20px;
            max-width: 900px;
            max-height: 350px;
        } 

        .formHoraBase{
            width: 420px;
        }

        .dataArchPDF{
            width: 350px;
        }
    }
    
    /* ipad*/
    @media(max-width:770px){ 
        .container{max-height: 350px;
                   max-width: 420px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: yellow;*/
            padding: 0;
            margin: 0;
        }
        #programacion{
            margin-bottom: 20px;
            max-width: 700px;
            max-height: 350px;
        } 
        .formHoraBase{
            width: 420px;
        }

        .dataArchPDF{
            width: 350px;
        }
    }

    /* iphone 6 plus*/
    @media(max-width:480px){ 
        .container{max-height: 320px;max-width: 360px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: yellow;*/
            padding: 5px 8px;
            margin: 0;
        }
        #programacion{
            margin-bottom: 20px;
            max-width: 350px;
            max-height: 340px;
        } 

        .formHoraBase{
            width: 350px;
        }

        .dataArchPDF{
            max-height: 260px;
            max-width: 310px;
            padding:0px 0px;
            margin:10px 25px;
        }

        .btn_modal{
            padding: 5px 0px;
        }
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        .container{max-height: 260px;max-width: 340px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: red;*/
            padding: 0 8px;
            margin: 0;
        }
        #programacion{
            margin-bottom: 20px;
            max-width: 310px;
            max-height: 340px;
        } 
        .formHoraBase{
            width: 310px;
        }

        .dataArchPDF{
            width: 310px;
        }
    }

    /* iphone 5 */
    @media(max-width:320px){ 
        .container{max-height: 200px;max-width: 300px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: blue;*/
            padding: 0 8px;
            margin: 0;
        }
        #programacion{
            margin-bottom: 20px;
            max-width: 250px;
            max-height: 270px;
        } 
        .formHoraBase{
            width: 250px;
        }
        .dataArchPDF{
            width: 250px;
        }
    }

    /* iphone 4 */
    @media(max-height:480px){
        .container{max-height: 160px;max-width: 280px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: blue;*/
            padding: 0 8px;
            margin: 0;
        }
        #programacion{
            margin-bottom: 20px;
            max-width: 250px;
            max-height: 180px;
        } 

        .formHoraBase{
            width: 250px;
        }
        .dataArchPDF{
            width: 250px;
        }
    }