/*table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}


th, td{
    padding: 10px;
    text-align: center;
}*/
/*.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 100%;*/
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
    width: 100%;
}

/* BOTON MODAL NUEVO 
#btn{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}*/

/* COLOR BOTONES DE FILA DEL DATATABLE */
#btnTable{
    background-color: #4CAF50;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{
    padding:4px;
    width: 100%;
    background: #4CAF50; 
}

.win_modal{
    padding: 10px 20px;
    height:380px;
    width: 100%;
    overflow-y: auto;
}

.contenedor{
    margin-top:20px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:60px;
}

/*.col{
    margin-top:0px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:0px;
}*/

.table{
    margin-top:20px;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{
    padding:4px;
    width: 100%;
    background: #4CAF50; 
}

/*USADO EN LOS BOTONES DE LAS VENTANAS MODALES*/
.container{
    margin-bottom: 20px;
}

/*USADO EN LOS BOTONES DE LAS VENTANAS MODALES*/
.btn_Modal{
    margin-top: 30px;
}

/* APARIENCIA BOTONES DE LA VENTANA NUEVO */
.btn_modal{
    width:100%; 
    height:40px; 
    font-size:15px;
    background-color:#4CAF50;
    text-align: center;
}

/* TEXTO VALIDACION BAJO EL INPUT */
#validation{
    color:red; 
    margin:0; 
    padding:0;
    position: absolute;
}

#titulo{
    color: black;
    margin-top:20px;
    margin-bottom:20px;
    text-decoration: none;
    text-align: center;
    font-size:15px;
}

/* MODIFICANDO ESTILO PARA LOS INPUTS Y SU VALIDACION */
.form-group{
    margin:0;
    padding-bottom:18px;
    padding-top:10px; 
}

.cont_modal{
    overflow-y: auto; 
    overflow-x: visible;
    height:350px;
    width: 100%;
}

/*@media (max-width:480px){
	.pdf{
		width:200px !important;
        margin:0;
	}
}

@media (max-width:360px){
	.pdf{
		width:100px !important;
        margin:0;
	}
}

@media screen and (max-width: 40em) {
    .ui-dialog.ui-dialog-responsive {
        width: 90% !important;
    }
}

*/
