#titulo{
    color: black;
    margin-top:20px;
    margin-bottom:10px;
    text-decoration: none;
    text-align: left;
}
/*col{
    margin-top:10px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:0px;
}*/
.contenedor{
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:60px;
}

#btn{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}

/*.win_modal{}*/

.form-control{
    height: 38px;
    margin:0;
    padding: 0;
    margin-bottom:10px;
    width: 100%;
}

.form-group{
    margin:0;
    padding-bottom:18px;
    padding-top:10px; 
}

/*row{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}*/

#validation{
    color:red; 
    margin:0; 
    padding:0;
    position: absolute;
}

#verdadero{
    color:green;
    padding: 0;
    padding: 0;
    position: absolute;
}

/* BOTONES (GUARDAR CANCELAR + OTROS) VENTANAS MODALES */
.btn_modal{
    width:100%; 
    height:40px; 
    font-size:15px;
    background-color:#4CAF50;
    text-align: center;
}

/*GRUPO BOTONES DE LAS VENTANAS MODALES*/
.btn_Modal{
    margin-top: 30px;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{
    padding:4px;
    width: 100%;
    background: #4CAF50; 
}

/* VENTANAS MODALES*/
    .container{
        margin-bottom: 20px;
        
        max-width: 300px;
        max-height: 320px;
        height: 320px;
        width: 300px;
    }
    .nrotarj{
        margin-bottom: 20px;
        padding:10px 20px;
        margin:0;       
        max-width: 380px;
        max-height: 450px;
    }
    .cont_modal{
        overflow-y: auto; 
        overflow-x: auto;
        height:100%;
        width: 100%;
        margin:auto;
    }
    col-xl-12{
        padding: 0;
    }

/*ESTILOS TABLAS*/
    #btnTable{
        background-color: #4CAF50;
    }
    .table{
        margin-top:20px;
    }

/* ESTILO TEXTBOX-NRO DE TARJETAS ASIGNADAS
    #inputNroTarj{
        height: 80px;
        font-size: 70px;
        margin-bottom:10px;
        width: 100%;
    }*/

/* RESPONSIVE */
    /*ipad PRO*/
    @media(max-width:1100px){ 
        .container{max-height: 350px;
                   max-width: 670px;}
    }

    /* ipad*/
    @media(max-width:600px){ 
        .container{
            max-height: 350px;
            max-width: 420px;
        }
        
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: yellow;*/
            padding: 0 8px;
            margin: 0;
        }
    }
    
    /* iphone 6 plus*/
    @media(max-width:480px){ 
        .container{max-height: 350px;max-width: 380px;}

        .nrotarj{
            margin-bottom: 20px;
            padding:10px 20px;
            margin:0;       
            max-width: 380px;
            max-height: 350px;
        }
        
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: yellow;*/
            padding: 0 8px;
            margin: 0;
        }
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        .container{max-height: 260px;max-width: 340px;}
        
        .form-control{
            width: 100%;
            
        }
        .col-xs-12{
            /*background: red;
            padding: 0;*/
            padding: 0 8px;
            margin: 0;
        }
    }

    /* iphone 5 */
    @media(max-width:320px){
        .container{max-height: 200px;max-width: 280px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: blue;*/
            padding: 0 8px;
            margin: 0;
        }
    }

    /* iphone 4 */
    @media(max-height:480px){
        .container{max-height: 160px;max-width: 280px;}
        .form-control{
            width: 100%;
        }
        .col-xs-12{
            /*background: blue;*/
            padding: 0 8px;
            margin: 0;
        }
    }
