/*form principal contenedor  (desktop)  */
    .contenedor{overflow:hidden; margin:0 10px; /*border: 1px solid red;*/ }
    .form-group{ margin-bottom:20px;}
    #validation{font-size: 14px; color:red; margin:0; padding:0; position: absolute;}
    .btn_modal{margin-bottom: 20px; width:100%; height:40px; background-color:#4CAF50;}
    #contMapa{height: 520px; width: 900px;}
    #pieMapa{height: 40px; width: 900px; }


/*estilos form modal add new ruta*/
    .contMAddRuta{  height: 440px; width: 300px; }
    .bodyMAddRuta{ height: 400px; width: 99%;}
    .pieMAddRuta{margin-top:10px; height: 40px; width: 99%;}

/*estilos mensajes usuario modal*/
    .contMMjsUser{  height: 100px; width: 300px; }
    .bodyMMjsUser{ height: 50px; width: 99%;}
    .pieMMjsUser{margin-top:10px; height: 40px; width: 99%;}


/* responsive */
/* iphone 6 plus*/
@media(max-width:480px){ 
    #contMapa{height: 520px; width: 380px;}
    #pieMapa{height: 40px; width: 380px; }
    .btn_modal{margin-bottom: 0;}
}

/* iphone 6 */
@media(max-width:380px){ 
    #contMapa{height: 460px; width: 346px;}
    #pieMapa{height: 40px; width: 346px; }
    .btn_modal{margin-bottom: 0;}
}

/* iphone 5 */
@media(max-width:320px){ 
    #contMapa{height: 400px; width: 286px;}
    #pieMapa{height: 40px; width: 286px; }
    .btn_modal{margin-bottom: 0;}
}

/* iphone 4 */
@media(max-height:480px){
    #contMapa{height: 350px; width: 286px;}
    #pieMapa{height: 40px; width: 286px; }
    .btn_modal{margin-bottom: 0;}
}