
row{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

/*.col{
    margin-top:0px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:0px;
}*/

/*USADO EN EL MAPA Y TODO EL FORMULARIO (NO VENTANAS MODALES)  */
.contenedor{
    margin-top:20px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:60px;
}

/*USADO EN LOS BOTONES DE LAS VENTANAS MODALES*/
.container{
    margin-bottom: 20px;
}


.btn_Modal{
    margin-top: 30px;
}

#mapa{
    margin-top:20px;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:10px;
    padding: 0;
}

.titulo{
    color: black;
    margin-top:20px;
    margin-bottom:10px;
    text-decoration: none;
    text-align: left;
}

/*ESTILO CONTENEDOR BOTONES MAPA */
#btnMap{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    flex-grow: 5;
    width: 100%;
}

/*ESTILOS BOTONES MAPA */
#btn{
    /*margin : 0;
    padding:0;
    width:200%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-grow: 5;
    background-color:#4CAF50;*/
    width:75px; 
    height:40px; 
    font-size:13px;
    background-color:#4CAF50;
    text-align: center;
}

#btnTable{
    background-color: #4CAF50;
}

.table{
    margin-top:20px;
}

/* APARIENCIA BOTONES DE LA VENTANA NUEVO */
.btn_modal{
    /*width: 100%;
    padding: 10px 50px;
    margin:0;*/
    width:100%; 
    height:40px; 
    font-size:15px;
    background-color:#4CAF50;
    text-align: center;
}
/* APARIENCIA BOTONES MAPA*/
.btn_mapa{
    width:100%; 
    height:40px; 
    font-size:15px;
    border:none;
    background-color:#4CAF50;
    text-align: center;
}

/*APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
#btnNuevo{
    padding:4px;
    width: 100%;
    background: #4CAF50; 
}

/* MODIFICANDO ESTILO PARA LOS INPUTS Y SU VALIDACION */
.form-group{
    margin:0;
    padding-bottom:18px;
    padding-top:10px; 
}

/* TEXTO VALIDACION BAJO EL INPUT */
#validation{
    /*font-size: 80%; */
    color:red; 
    margin:0; 
    padding:0;
    position: absolute;
}

.form-control{
    /*width: 100%;
    margin-bottom: 10px;*/
    height: 38px;
    margin:0;
    padding: 0;
    margin-bottom:10px;
    width: 100%;
}

    /*
    float: right;
    padding: 0px 10px;
    style="display: inline-block; font-size: 80%; color:red; margin:0; padding:0;"*/
     /*width:120px; 
    height:45px; 
    font-size: 16px;
    margin: 10px 10px;
    text-align: center;
    margin:0;
     
    padding:0;*/
    /*text-decoration: none;
    float: right;
    display: block;*/
    /*padding: 10px 20px;*/
    
       /*margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:-50px;
    height: 100px;
    width: 100%;
    text-align: center;
    flex-direction: row;
    position:absolute;
    transition: .5s ease;
    top: 0%;
    left: 0%;*/