#titulo{
    color: black;
    margin-top:20px;
    margin-bottom:10px;
    text-decoration: none;
    text-align: left;
}

.contenedor{
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:60px;
}

#btn{
    width: 100%;
    padding: 10px 50px;
    margin:0;
}

/* VALIDACION DE DATOS*/
    #validation{
        color:red; 
        margin:0; 
        padding:0;
        position: absolute;
        font-size: 14px;
    }

    #verdadero{
        color:green;
        padding: 0;
        padding: 0;
        position: absolute;
        font-size: 14px;
    }



/* APARIENCIA BOTON NUEVO (ARRIBA DE GRILLA PRINCIPAL)*/
    #btnNuevo{
        padding:4px;
        width: 100%;
        background: #4CAF50; 
    }

/* VENTANAS MODALES*/
    
    /* ventanas de confirmacion */
        /* mensajes */
        .mdlMnjsConf{
            height: 30px;
            width: 100%;
            margin: 0;
            padding: 0 20px;
        }
        /* pie botones */
        .btnFormsMnjsComf{
            margin-top: 30px;
            width: 100%;
            height: 40px;
        }
    /* CUADRO SALIDAS */
        /*LIMITA EL MAXIMO Y MINIMO DE LA VENTANA MODAL*/
        ._cuadroSalidas{
            overflow-y: auto; 
            overflow-x: auto;
            max-width: 1100px;
            max-height: 520px;
            margin:auto;
        }
        /* CONFIGURANDO LA VENTANA MODAL */
        .cuadroSalidas{
            margin-bottom: 20px;
            width: 1100px;
            height: 460px;
        }
        .btnClassCuadroSalidas{
            height: 40px;
            width: 100%;
            
        }
    /* ESTILOS TABLA TARJETA DE CONTROL DETALLE */
        .contTarjCtrlDet{overflow-y: auto; overflow-x: hidden; width: 450px; height: 500px;}
        .bodyTarjCtrlDet{ width: 100%; height: 450px;/*border: 2px solid yellow;*/}
        .pieTarjCtrlDet{ width:100%;height: 40px;}

    /* CUADRO ASIGNAR TARJETA con programcion */
            /*LIMITA EL MAXIMO Y MINIMO DE LA VENTANA MODAL*/
            ._asignaUnaTarj{
                overflow-y: hidden; 
                overflow-x: auto;
                max-width: 800px;
                max-height: 1000px;
                /*margin:auto;*/
            }
            /* CONFIGURANDO LA VENTANA MODAL */
            .asignaUnaTarj{
                margin:0px 15px;
                width: 650px;
                height: 520px;
            }
            .contenidoAsignarTarjetaIndividual{ height: 350px; width:100%; margin-bottom: 40px; }
            .contenidoAsignarTarjetaMulti{ height: 350px; width:100%; margin-bottom: 40px;}
            .btnCloseOnly{
                /*border: 2px solid green;*/
                width:100%;
                margin:auto;
                margin-top: 390px;
                margin-bottom: 2px;
                padding: 0;
                bottom: 0px;
            }
            .btnModAsigT{
                width:100%;
                height: 40px;
                margin:auto;
                bottom: 10px;
                padding: 0;
                
                /*margin-bottom: 0; position: absolute;float: right; */
            }
    /* asignar tarjeta sin programacion */
            .asigTarjSinProgForm{ height: 520px; width: 670px; overflow-x: hidden;}
            .agTrjEncabezado{height: 80px; width: 650px;}
            .agTrjCuerpo{ height: 370px; width: 650px;}
            .agTrjPie{ height: 40px; width: 100%; margin-top: 20px; padding-bottom: 0;}
    /* buscar y agregar placa a salidas en dia sin programacion*/
            .modAddPlacaCont{
                height: 520px;
                width: 550px;
                overflow-x: hidden;
            }
            .modAddPlacaEncab{
                width: 100%;
                height: 80px;
               
            }
            .modAddPlacaCuerpo{
                width: 100%;
                height:  390px;
             
            }
            .modAddPlacaPie{
                width: 100%;
                height: 40px;
              
            }
    /* BOTONES (GUARDAR CANCELAR + OTROS) VENTANAS MODALES */
            .btn_modal{
                width:100%; 
                height:40px; 
                font-size:15px;
                background-color:#4CAF50;
                text-align: center;
                padding: 0;
                margin:0;
            }
            .btnCuadroSalidas{
                width:100%; 
                height:40px; 
                font-size:15px;
                background-color:#00796B;
                text-align: center;
                padding: 0;
                margin:auto;
                margin-top: 30px;
            }
    
    /* CUADRO DE SALIDAS - TODAS LAS VUELTAS */
        #tablaSalidas{
            max-width:6500px;
        }

        thead{
            width: 100%;
            border:none;
        }

        thead tr{
            width: 6500px;
            border:none;
        }

        table thead tr th{
            border:none;
        }
        
        table tbody td{
           font-size: 14px;
            text-align:center;
            /*border:none;*/
            margin:0;
            padding:10px 0;
            width:190px;
        }

/*ESTILOS TABLAS*/
    #btnTable{
        background-color: #4CAF50;
    }
    .table{
        margin-top:20px;
    }

/* estilos formulario dia con programacion*/
    /*calculo reten*/
        .contFormCalRetenDL{height: 350px; width: 330px;}
        .bodyFormCalRetenDL{height: 300px; width: 100%;}
        .pieFormCalRetenDL{height: 40px; width: 100%;}
/* estilos formulario dia sin programacion */
    

/* RESPONSIVE */
    /*ipad PRO*/
    @media(max-width:1100px){ 
       
    }

    /* ipad*/
    @media(max-width:600px){ 
       
    }
    
    /* iphone 6 plus*/
    @media(max-width:480px){ 
        /* ESTILOS TABLA TARJETA DE CONTROL DETALLE */
            ._tbTarjCtrlDet{
                margin:0;
                width: 380px;
                height: 400px;
            }
            .btnTarjDetallePCtrl{
                width:380px;
                margin-top:15px;
                height: 60px;
                padding-top:20px;
                margin:auto;
                position: absolute;
            }
        /* ESTILOS TABLA ASIGNAR TARJETA DE CONTROL */
            .form-control{
                margin-bottom:15px;
            }
            ._asignaUnaTarj{
                border: 2px solid green;
                max-width: 350px;
                max-height: 470px;
                margin:auto; padding: 0;
                /*margin: 0px -15px;*/
               
            }
            .asignaUnaTarj{
                overflow: auto;
                height: 640px;
                width: 350px;
                margin:auto;
                border: 2px solid red;
            }
            .contenidoAsignarTarjetaIndividual{
                height: 280px;
                width: 350px;
                margin-bottom: 40px;
            }
            .contenidoAsignarTarjetaMulti{
                height: 330px;
                width: 350px;
                margin-bottom: 40px;
            }
            .btnModAsigT{
                width: 360px;
                position: relative;
            }
    }

    /* iphone 6 */
    @media(max-width:380px){ 
        /* ESTILOS TABLA TARJETA DE CONTROL DETALLE */
            ._tbTarjCtrlDet{
                margin:0;
                width: 340px;
                height: 400px;
                /*border: 2px solid yellow;*/
            }
            .btnTarjDetallePCtrl{
                width:340px;
                margin-top:15px;
                height: 60px;
                padding-top:20px;
                margin:auto;
                /*border: 2px solid red;*/
                position: absolute;
            }

    }

    /* iphone 5 */
    @media(max-width:320px){
        /* ESTILOS TABLA TARJETA DE CONTROL DETALLE */
            ._tbTarjCtrlDet{
                margin:0;
                width: 290px;
                height: 400px;
                /*border: 2px solid yellow;*/
            }
            .btnTarjDetallePCtrl{
                width:290px;
                margin-top:15px;
                height: 60px;
                padding-top:20px;
                margin:auto;
                /*border: 2px solid red;*/
                position: absolute;
            }
  
    }

    /* iphone 4 */
    @media(max-height:480px){
        /* ESTILOS TABLA TARJETA DE CONTROL DETALLE */
            ._tbTarjCtrlDet{
                margin:0;
                width: 290px;
                height: 300px;
                /*border: 2px solid yellow;*/
            }
            .btnTarjDetallePCtrl{
                width:290px;
                margin-top:15px;
                height: 60px;
                padding-top:10px;
                margin:auto;
                /*border: 2px solid red;*/
                position: absolute;
            }
       
    }
