* {
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
    color:white;
}

/*body{
    background: #DEDEDE;
    display : flex;
    min-height: 100vh;
}*/

form{
    margin:auto;
    width:50%;
    max-width: 500px;
    background : #F3F3F3;
    padding:30px;
    border: 1px solid rgba(0,0,0,0.2)
}

h2{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    color: rgba(0,0,0,0.5);
}

input{
    display:block;
    padding:10px;
    width:100%;
    margin: 30px 0;
    font-size:20px;
}


@media(max-width:991px){
    /* BARRA HORIZONTAL MODO MOVIL */
    .navbar{
        width: 100%;
    }

    /* CONTENEDOR DE LOS MENUS*/
    .navbar-nav{
        margin:0;
        padding: 0;
        /*border-right: 3px solid orange;*/
    }
    #nomUser{
        display: none;
    }
    #btn_logout{
        display: none;
    }
    .navbar-nav .nav-item{
        border-top: 2px solid white;
        border-right:none !important;
        /*max-width: 1000px;*/
        text-decoration-style: none;
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    /* ITEMs DE LOS MENUS SUB ITEM (MENU DESPLEGABLE) */
    .navbar-nav .nav-item .sub-nav-item{
        list-style: square inside;
        height: 68px;
        padding-left: 30px;
        padding-top: 21px;
        margin: 0;
        width: 100%;
        border-top: 1px solid #4CAF50;
        transition: all 0.5s;
    }

    /* CONTENEDR MENU DFESPLEGABLE PANTALLA MOVIL: ;*/
    .dropdown-menu{
        margin-top:18px;
        margin-bottom: -20px;
        padding: 0;
        /*border-top: 2px solid blue;*/
    }
    .dropdown{
        width:100%;
    }
}

@media(max-width:480px){
    /*.navbar{
        width:100%;
        border-radius: 35px;
    }
    */
}

footer{
    background-color: #00796B;
    width: 100%;
    height: 50px;
    bottom:0;
    /*position:fixed;*/
    position:fixed;
    /*font-family:"Times New Roman", Times, serif;*/
    text-align:center;
    font-size: 6px;
    font:menu;
    color:#fff;
}

/* NAVEGADOR NORMAL*/
.navbar{
    border:0;
    margin-top: -5px;
    border-radius:0;
    padding-top: 0px; 
    padding-bottom: 0px;
    background-color: #00796B;
}

/*CONTENEDOR MENU DESPLEGABLE*/
.dropdown-menu:hover{
    text-decoration: none;
    margin-right:20px;
    padding:0;
    /*background:#4CAF50;*/
}

/* CONTENEDR MENU DFESPLEGABLE PANTALLA NORMAL: ;*/
.dropdown-menu{
    /*display: block;*/
    width: 100%;
    /*padding:30px 30px;*/
    margin-right:20px;
    /*position: absolute;*/
    /*margin:0;*/
    background-color:#00796B;
    /*bottom: 0;*/
}


/*ICONO NAVBAR IMAGEN BUS - USADO PARA DARLE ALTURA AL NAVBAR MODO MOVIL(CORREGIR ESTO)*/
.navbar-brand{
    font-size: 13px;
    margin:0;
    padding: 0;
    height: 68px;
}

/* ICONO MENU DISPOSITIVOS MOVILES */
.navbar-toggler-right{
    margin:10px -10px;
    padding: 10px 10px;
    /*float: left;
    justify-content: flex-start;
    margin-top: 13px;
    margin-right: -5px;*/
}

/* NAVBAR CUANDO ESTA EN MOVIL, EL ESPACIO QUE USA 
LA LISTA DESPLEGABLE QUE VA A ABAJO OCUPANDO ESPACIO 
DESPLAZANDO AL FORMNULARIO*/
.navbar-nav{
    font-size: 13px;
    text-align:center;
    margin:0;
    padding: 0;
    height: 100%;
   
}

/* PERSONALIZAR BOTON PARA ABRIR SUBMENUS */
.dropdown-toggle:hover{
    margin: 0;
    padding: 0;
    /*background: red;*/
    text-decoration: none;
}

/* ITEM LISTA*/
    .nav-item{
        display: block;
        padding:0;
        margin:0; 
        width: 140px;
        /*max-width: 180px;*/
        border-right: 1px solid white;
        /*line-height: 30px; 
        border-top:  2px solid white;*/
        text-decoration: none;
        font-size: 14px;
    }
    .nav-item:hover{
        background-color: #4CAF50;
    }
    /*PONIENDO CURSOR SOBRE UNA ETIQUETA*/
    .nav-item a:hover{
        text-decoration: none;
        color:white;
    }

/* BOTONES DEL MENU PARA DESPLEGAR - btn abrir MENU */
.dropdown{
    padding:20px 0;
    margin:0;
    background-color: #00796B;
}


/* SUB ITEM (MENU DESPLEGABLE) */
    .sub-nav-item{
        width: 250px;
        height: 68px;
        padding: 17px 20px;
        margin: auto;    
        border-top: 1px solid white;
        transition: all 0.5s;
        background: #00796B;
    }

    .sub-nav-item:hover{
        background-color: #4CAF50;
    }

    .sub-nav-item a{
        font-size: 14px;
        margin: 0;
        padding:0;
        text-align: center;
    }

.active{
    /*background: black;*/
    color:#4CAF50;
    font-weight: 900;
}

#nomUsuario{
    display: inline-block;
    padding: 17px 20px; 
}

/* NARBAR NORMAL ESCRITORIO */ 
    #user_Logout{
        display: flex;
        justify-content: flex-end;
    }

    #nomUser{
        list-style:none;
        font-size: 13px;
        margin: 0;
        margin-top:20px;
        margin-right: 20px;
        padding: 0;
    }

    #btn_logout{
        border-left: 1px solid white;
        margin:0;
        margin-top:3px;
        font-size: 14px;
        list-style:none;
        padding: 7px 50px;
        /*width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;*/
        text-align: center;
    /* width: 40px;
        height: 20px;*/
    }

    #btn_logout:hover{
        background:#4CAF50;
        text-decoration: none;
        color:white;
        font-size: 14px;
        padding: 7px 50px;
        margin:0;
        margin-top:3px;
        text-align: center;
    }



/* NARBAR MODO MOVIL 
   #navbarNavDropdown{
       padding-top: 40px;
       position: initial;
   }*/