<div *ngIf="ClassGlobal.localstorageItems()==true">

    <nav class="navbar navbar-toggleable-md navbar-inverse"  >
        <!--BARRA BOTON PEQUEÑO RESPONSIVE-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                aria-controls="navbarNavDropdown"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--
            ICONO NAVBAR-->
            <a class="navbar-brand">
                <!--a class="navbar-brand" href="#"><img id="icono" src="./src/icons/Aviation_63-512.png" width="30" height="30" alt="">-->
            </a> 
        

        <!--LISTA NAVBAR-->
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!--MANTENIMIENTO-->
                <li class="nav-item dropdown">
                    <a  href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Mantenimiento<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="sub-nav-item "><a href="#" routerLink="/regpersonal" routerLinkActive="active">Personal</a></li>
                        <li class="sub-nav-item "><a href="#" routerLink="/regempper" routerLinkActive="active">Persona por Empresa</a></li>
                        <li class="sub-nav-item "><a href="#" routerLink="/regempsubemp" routerLinkActive="active">La Empresa</a></li>
                        <li class="sub-nav-item "><a href="#" routerLink="/regbus" routerLinkActive="active">Bus</a></li>
                    </ul>
                </li>

                <!--OPERACIONES-->
                <li class="nav-item dropdown">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Operaciones <span class="caret"></span></a>

                    <!--MENU-->
                    <ul class="dropdown-menu">
                        <li class="sub-nav-item "><a href="#" routerLink="/ruta" routerLinkActive="active">Ruta</a></li>		 
                        <li class="sub-nav-item "><a href="#" routerLink="/pcontrol" routerLinkActive="active">Puntos de Control</a></li>						
                        <li class="sub-nav-item "><a href="#" routerLink="/prog" routerLinkActive="active">Programacion</a></li>		
                        <li class="sub-nav-item "><a href="#" routerLink="/tcontrol" routerLinkActive="active">Tarjeta de Control</a></li>		
                        <!--<li class="nav-item "><a href="#" routerLink="/regtime" routerLinkActive="active">Reg Tiempo</a></li>-->
                    </ul>
                </li>

                <!--REPORTES-->
                <li class="nav-item dropdown">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Reportes <span class="caret"></span> </a>
                    <!--MENU-->
                    <ul class="dropdown-menu">
                        <li class="sub-nav-item ">
                            <a href="#" routerLink="/reportPers" routerLinkActive="active">Personas</a>
                        </li>
                        <li class="sub-nav-item "><a >Sanciones</a></li>
                        <li class="sub-nav-item "><a >Mantenimiento</a></li>
                    </ul>
                </li>
                
                <!--
                <li class="nav-item dropdown" >
                    <a id="_username">Usuario:{{nombre}}</a>
                </li>
                <li class="nav-item dropdown" >
                    <a id="_btnlogout" href="#" routerLink="/login">Cerrar Sesion</a>
                </li>
                -->
            </ul>  
        </div>

        <!---->
        <div id="user_Logout">
            <li id="nomUser">
                <a>Usuario:{{nombre}}</a>
            </li>
            <li id="btn_logout" >
                <a href="#" routerLink="/login">Cerrar Sesion</a>
            </li>
        </div>
        
        
        
        
    </nav>

 </div>

<!--{{varGlobal.localstorageItems()}}-->
<!--<alert></alert>-->
<router-outlet></router-outlet>

<footer >
    <ul>
        <p><br></p>
        <p>Derechos Reservados - Aplicativo de Transporte Publico</p>
        <p>2017 - Industrias Qu@ntum</p>
    </ul>
</footer>
