* {
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
    color:white;
}

/*body{
    background: #DEDEDE;
    display : flex;
    min-height: 100vh;
}*/

form{
    margin:auto;
    width:50%;
    max-width: 500px;
    background : #F3F3F3;
    padding:30px;
    border: 1px solid rgba(0,0,0,0.2)
}

h2{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    color: rgba(0,0,0,0.5);
}

input{
    display:block;
    padding:10px;
    width:100%;
    margin: 30px 0;
    font-size:20px;
}


@media(max-width:991px){
    /*.navbar{
        width:60%;
        border-radius: 35px;
    }
    .nav-item{
        color:red;
    }*/
    #nomUser{
        display: none;
    }
    #btn_logout{
        display: none;
    }

   
}

@media(max-width:480px){
    /*.navbar{
        width:100%;
        border-radius: 35px;
    }
    */
}

footer{
    background-color: #00796B;
    width: 100%;
    height: 50px;
    bottom:0;
    /*position:fixed;*/
    position:fixed;
    /*font-family:"Times New Roman", Times, serif;*/
    text-align:center;
    font-size: 10px;
    font:menu;
    color:#fff;
}

/* NAVEGADOR NORMAL*/
.navbar{
    border:0;
    margin-top: -5px;
    border-radius:0;
    padding-top: 0px; 
    padding-bottom: 0px;
    background-color: #00796B;
}

/*CONTENEDOR MENU DESPLEGABLE*/
.dropdown-menu:hover{
    text-decoration: none;
    margin-right:20px;
    padding:0;
    /*background:#4CAF50;*/
}

/* CONTENEDR MENU DFESPLEGABLE PANTALLA NORMAL: ;*/
.dropdown-menu{
    /*display: block;*/
    width: 100%;
    /*padding:30px 30px;*/
    margin-right:20px;
    /*position: absolute;*/
    /*margin:0;*/
    background-color:#00796B;
    /*bottom: 0;*/
}


/*ICONO NAVBAR IMAGEN BUS*/
.navbar-brand{
    font-size: 13px;
    margin:0;
    padding:20px 20px;
    /*padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top : 18px;*/
}

/* ICONO MENU DISPOSITIVOS MOVILES */
.navbar-toggler-right{
    margin:10px -10px;
    padding: 10px 10px;
    /*float: left;
    justify-content: flex-start;
    margin-top: 13px;
    margin-right: -5px;*/
}

/* NAVBAR CUANDO ESTA EN MOVIL, EL ESPACIO QUE USA 
LA LISTA DESPLEGABLE QUE VA A ABAJO OCUPANDO ESPACIO 
DESPLAZANDO AL FORMNULARIO*/
.navbar-nav{
    font-size: 13px;
    text-align:center;
    margin:0;
    padding: 0;
    height: 100%;
    width: 60%;
}

/* PERSONALIZAR BOTON PARA ABRIR SUBMENUS */
.dropdown-toggle:hover{
    margin: 0;
    padding: 0;
    /*background: red;*/
    text-decoration: none;
}

/* ITEM LISTA*/
.nav-item{
    display: block;
    padding:20px 1px; 
    width: 150%;
    border-right: 2px solid white;
    line-height: 30px; 
    /*border-top:  2px solid white;*/
    text-decoration: none;
    font-size: 14px;
    background:red;
    
}

/* BOTONES DEL MENU PARA DESPLEGAR */
.dropdown{
    padding:20px 0;
    margin:0;
    background-color: #00796B;
    /*background: #F3F3F3;
    color: #F3F3F3;*/
}


.nav-item:hover{
    background-color: #4CAF50;
    
}

/*PONIENDO CURSOR SOBRE UNA ETIQUETA*/
.nav-item a:hover{
    text-decoration: none;
    color:white;
}


/* SUB ITEM (MENU DESPLEGABLE) */
.sub-nav-item{
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid white;
    transition: all 0.5s;
}

.sub-nav-item:hover{
    background-color: #4CAF50;
}

.sub-nav-item a{
    font-size: 14px;
    margin: 0;
    padding:0;
    text-align: center;
}

.active{
    /*background: black;*/
    color:#4CAF50;
    font-weight: 900;
}

#nomUsuario{
    display: inline-block;
    padding: 17px 20px; 
}

/* NARBAR NORMAL ESCRITORIO */ 
    #user_Logout{
        display: flex;
        justify-content: flex-end;
    }

    #nomUser{
        list-style:none;
        font-size: 13px;
        margin: 0;
        margin-top:20px;
        margin-right: 20px;
        padding: 0;
    }

    #btn_logout{
        border-left: 1px solid white;
        margin:0;
        margin-top:3px;
        font-size: 14px;
        list-style:none;
        padding: 7px 50px;
        /*width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;*/
        text-align: center;
    /* width: 40px;
        height: 20px;*/
    }

    #btn_logout:hover{
        background:#4CAF50;
        text-decoration: none;
        color:white;
        font-size: 14px;
        padding: 7px 50px;
        margin:0;
        margin-top:3px;
        text-align: center;
    }

/* NARBAR MODO MOVIL */
   