{{mensaje}}
<div class="contenedor">
    <div class="row">
        <label class="control-label">Distribuir Tiempos</label>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
            <input class="form-control" placeholder="Buscar...">
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
            <button pButton label="Buscar Incidencia"></button>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <p-dataTable [value]="" emptyMessage="No hay registro" scrollable="true" scrollWidth="auto" selectionMode="single" [(selection)]="selectRowtb1">
                <p-column field="nro" header="N°" [style]="{'width':'3em'}"  ></p-column>
                <p-column field="PeNombres" header="Nombres" [style]="{'width':'8em'}"  ></p-column>
                <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'8em'}"></p-column>
                <p-column field="EmPeTipo" header="Cargo" [style]="{'width':'6em','text-align':'center'}"></p-column>
            </p-dataTable>
        </div>

        <div class="table-responsive">
            <p-dataTable [value]="" emptyMessage="No hay registro" scrollable="true" scrollWidth="auto" selectionMode="single" [(selection)]="selectRowtb2">
                <p-column field="nro" header="N°" [style]="{'width':'3em'}"  ></p-column>
                <p-column field="PeNombres" header="Nombres" [style]="{'width':'8em'}"  ></p-column>
                <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'8em'}"></p-column>
                <p-column field="EmPeTipo" header="Cargo" [style]="{'width':'6em','text-align':'center'}"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>