<!--FORMULARIO PRINCIPAL-->
    
    <div class="contenedor">
        <div class="row">Tiempos de separacion</div> 
        <br>

        <div class="row">
            <!--TIEMPOSALIDA-->
            <div class="col-xl-5 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <!--BOTON-->
                    <div class="col-xl-6 col-md-4 col-sm-6 col-xs-12">
                        <button class="btnFormPrin" pButton label="Tiempo Separacion" 
                            (click)="btnTSeparacion();" [disabled]="SuEmId==0"></button>
                    </div>

                    <!--SUBEMPRESAS-->
                    <div class="col-xl-6 col-md-4 col-sm-6 col-xs-12">
                        <select class="form-control" [(ngModel)]="SuEmId" (change)="funcCboSubEmp($event)">
                            <!--<option *ngFor="let subemp of arrSubEmps" (change)="funcCboSubEmp()" [ngValue]="subemp">-->
                            <option *ngFor="let subemp of arrSubEmps"  [value]="subemp.SuEmId">
                                {{subemp.SuEmRSocial}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <!--TABLA-->
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <p-dataTable [value]="arrmgtmpsal" emptyMessage="No hay registro" scrollable="true" scrollWidth="auto" selectionMode="single" (onRowSelect)="onRowTiempoSalida($event)" [(selection)]="selectRowtb1">
                                <p-column styleClass="col-button" [style]="{'width':'3em','height':'3em'}">
                                    <template let-col let-row="rowData" pTemplate="body">
                                        <button type="button" pButton id="btnTable" (click)="editartiemposalida(row.TiSaId)" icon="fa-pencil-square-o"></button>
                                        <button type="button" pButton id="btnTable" (click)="eliminartiemposalida(row.TiSaId)" icon="fa-trash"></button>
                                    </template>
                                </p-column>
                                <p-column field="nro" header="N°" [style]="{'width':'3em'}"  ></p-column>
                                <p-column field="TiSaNombre" header="Nombre" [style]="{'width':'8em'}"  ></p-column>
                                <p-column field="TiSaValor" header="Valor" [style]="{'width':'8em'}"  ></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>

            <!--TIEMPOPROGRAMADO-->
            <div class="col-xl-7 col-md-6 col-sm-12 col-xs-12">
                <!--
                <div class="row">Bus Relacionado </div>
                -->
                <div id="grupo2">
                    <label>Placas Adjuntas</label>
                    <!--BOTONES-->
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                            <input class="form-control" placeholder="Buscar...">
                        </div>
                        
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                            <button class="btnFormPrin" pButton label="Agregar Bus a Tiempos" [disabled]="_TiSaId==0" (click)="funcBtnAsignarATiempos();"></button>
                        </div>
                        <!--
                        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                            <button class="btnFormPrin" pButton label="Asignar Buses" (click)="btnAsignarATiempo();"></button>
                        </div>
                        -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                            <button class="btnFormPrin" pButton label="Re-Distribucion Tiempo"></button>
                        </div>
                    </div>
                    <br>
                    <!--TITULO-->
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                
                                <p-dataTable [value]="arrmgtmpprog" emptyMessage="No hay registro" scrollable="true" scrollWidth="auto" selectionMode="single" (onRowSelect)="onRowTiempoProgramado($event)" [(selection)]="selectRowtb1">
                                    <p-column styleClass="col-button" [style]="{'width':'3em','height':'3em'}">
                                        <template let-col let-row="rowData" pTemplate="body">
                                            <button type="button" pButton id="btnTable" (click)="eliminartiempoprogramado(row.TiPrId)" icon="fa-trash"></button>
                                            <!--<button type="button" pButton id="btnTable" (click)="eliminartiemposalida(row.TiSaId)" icon="fa-trash"></button>-->
                                        </template>
                                    </p-column>
                                    <p-column field="nro" header="N°" [style]="{'width':'3em','text-align':'center'}"  ></p-column>
                                    <p-column field="BuPlaca" header="Placa" [style]="{'width':'8em','text-align':'center'}"  ></p-column>
                                    <p-column field="BuDescripcion" header="Descripcion" [style]="{'width':'8em'}"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!--MODALES-->
    <!--FORMULARIOS-->
        <!--TIEMPO DE SEPARACION ENTRE CADA MINIBUS-->
        <p-dialog header="Tiempo entre MiniBus" [resizable]="false" [(visible)]="disSepacionTimes" modal="modal" width="100%" height="100%" [closable]= false>
            <!--INPUTS-->
            <div class="row">
                <div class="cont_modal">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--NOMBRE DEL REGISTRO-->
                                    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" [(ngModel)]="objTiempoSalida.TiSaNombre" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <!--VALOR DEL TIEMPO-->
                                    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Tiempo (HH:MM:SS)</label>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" [(ngModel)]="objTiempoSalida.TiSaValor" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--BOTONES-->
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardarTmpo();" label="Guardar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelarTmpo();" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog>

        <!--ASIGNANDO TIEMPO DE SALIDA-->
        <p-dialog header="Iniciando Tiempos de Salida" [resizable]="false" [(visible)]="disInitTimesProg" modal="modal" width="100%" height="100%" [closable]= false>
            <div class="row">
                <div class="cont_modal">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--BUSCAR POR FECHA-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Buscar Programacion</label>
                                        
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="date" class="form-control">
                                            </div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <button class="btn_modal" type="text" pButton icon="fa-search" (click)="Buscar();" label="Buscar"></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!--TABLA-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group ">
                                            <label>Programacion</label>
                                            <p-dataTable [value]="arrProgr" scrollable="true" scrollWidth="100%" scrollHeight="250px" selectionMode="single" 
                                                        (onRowSelect)="onRowPlaca($event)" emptyMessage="Lista Vacia" >
                                                <p-column field="nro" header="N°" [style]="{'width':'2em'}" ></p-column>
                                                <!--<p-column field="PrDeOrden" header="Sorteo" [style]="{'width':'3em'}" ></p-column>-->
                                                <p-column field="placa" header="Placa" [style]="{'width':'5em'}" ></p-column>
                                                <p-column field="suemp" header="Pertenece" [style]="{'width':'8em'}" ></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>

                                <!--HORASALIDA NROPLACA TIEMPOENTRESALIDAS -->
                                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--HORA DE SALIDA-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Hora Salida 1er Bus</label>
                                        
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="time" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <!--NRO DE PLACAS-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Nro de Placas</label>
                                        
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="number" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <!--TIEMPO ENTRE SALIDAS-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Tiempo Entre Salidas</label>
                                        
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="time" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--BTN INICIAR HORA SALIDAS-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardarTarjeta();" label="Iniciar Tiempos"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardarAsignacion();" label="Guardar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelarAsignacion();" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog>

        <!--ASIGNAR A TIEMPO SEPARACION-->
        <p-dialog [resizable]="false" [(visible)]="disAsignarTimesSeparacion" modal="modal" width="100%" height="100%" [closable]= false>
            <p-header> <label>Asignar con {{TiSaValor}}</label> </p-header>
            <div class="row">
                <div class="cont_modal">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <!--BOTONES FECHA PROGRAMACIONES-->
                            <div class="row">
                                <!--PROGRAMACION-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <select class="form-control" required [(ngModel)]="_prId" (change)="funcCboPrId($event)">
                                            <option *ngFor="let prog of arrProgr" [value]="prog.prId">
                                                {{prog.prDescripcion}}
                                            </option>
                                        </select> 
                                        <div *ngIf="arrprogfecha.length!=0" id="valido">
                                            {{msjEtiquetaProg}}
                                        </div>
                                        <div *ngIf="arrprogfecha.length==0" id="alerta">
                                            {{msjEtiquetaProg}}
                                        </div>
                                    </div>
                                </div>
                                
                                <!--FECHA ACTUAL-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="date" [(ngModel)]="fecha" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                                    <button class="btn_modal" type="text" pButton icon="fa-search" (click)="funcBtnBuscarxFecha();" label="Buscar Programacion"></button>
                                </div>
                            </div>
                            
                            <!--TABLA-->
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                    <div id="tablemodal1">
                                        <div class=" form-group ">
                                            
                                            <p-dataTable [value]="arrProgramacion" scrollable="true" scrollWidth="100%" scrollHeight="250px" selectionMode="single" 
                                                        (onRowSelect)="onRowPlaca($event)" emptyMessage="Lista Vacia" [(selection)]="selectRowtbTimeSep">
                                                
                                                <p-column field="nro" header="N°" [style]="{'width':'3em','text-align':'center'}" ></p-column>
                                                <p-column field="nroPlaca" header="Placa" [style]="{'width':'5em','text-align':'center'}" ></p-column>
                                                <p-column field="SuEmRSocial" header="Empresa" [style]="{'width':'8em'}" ></p-column>
                                                <p-column field="TiSaDescripcion" header="Rol" [style]="{'width':'6em','text-align':'center'}" ></p-column>
                                            
                                            </p-dataTable>

                                            <div *ngIf="tisa=='********'" id="alerta">
                                                {{msjEtiquetaRol}}
                                            </div>
                                            <div *ngIf="tisa!='********'" id="valido">
                                                {{msjEtiquetaRol}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardartiempoprogramado();" label="Guardar" [disabled]="false"></button>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelartiempoprogramado();" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog>

        <!--RE-DISTRIBUCION DE TIEMPOS-->
        <p-dialog header="Re-Distribuir Tiempos" [resizable]="false" [(visible)]="disReDistribTimes" modal="modal" width="100%" height="100%" [closable]= false>
            
        </p-dialog>

    <!--VENTANAS DE VALIDACION-->
        <!--MODAL CONFIRMAR ELIMINAR REG TIEMPOSALIDA-->
        <p-dialog [(visible)] = "displayConfirmarEliminarTS" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensajeconfirmar}}
            <div class=" btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="acepEliminarTS()" label = "Eliminar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="canEliminarTS()" label="Cancelar"></button>
                </div>
                
            </div>
        </p-dialog>

        <!--MODAL CONFIRMAR EDITAR REG  TIEMPOSALIDA-->
        <p-dialog [(visible)] = "displayConfirmarEditarTS" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensajeconfirmar}}
            <div class=" btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="acepEditarTS()" label = "Editar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="canEditarTS()" label="Cancelar"></button>
                </div>
                
            </div>
        </p-dialog>

        <!--MODAL CONFIRMAR ELIMINAR REG TIEMPOPROGRAMADO-->
        <p-dialog [(visible)] = "displayConfirmarEliminarTP" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensajeconfirmar}}
            <div class=" btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="acepEliminarTP()" label = "Eliminar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="canEliminarTP()" label="Cancelar"></button>
                </div>
                
            </div>
        </p-dialog>