<div class="contenedor">
    <div id="titulo">Persona por Empresa</div>
    
    <!--FILTRO BUSQUEDA(NUEVO-REG) -->
    <div class="row">
        <!--COMBO SUBEMPRESAS-->
            <div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">                 
                <select class="form-control" required [(ngModel)]="suemid" (change)="_SuEmId($event)">
                    <option *ngFor="let suem of _arrsuEmp" [value]="suem.SuEmId">
                        {{suem.SuEmRSocial}}
                    </option>
                </select> 
            </div>

        <!--BUSQUEDA-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
            </div>
        <!--NUEVO REGISTRO-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <button id="btnNuevo" type="button"  pButton icon="fa-user-plus" (click)="nuevoEmpPer(); vincularPersona();" label="Integrar Persona" ></button>
            </div>
    </div>
    
     <!--TABLA EMPRESAPERSONA-->
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="table table-responsive">
                    <p-dataTable [value]="arrEmpPer" [globalFilter]="filtroGlobal" scrollable="true" emptyMessage="No Hay Registros" scrollWidth="100%" (onRowSelect)="onRowSelectPerEmp($event)">
                        <p-column styleClass="col-button" [style]="{'width':'3em'}">
                            <template let-col  let-emp="rowData"  pTemplate="body">
                                    <button type="button" pButton class="btn" (click)=  "editarEmpPer(emp.Id)" icon="fa-pencil-square-o" > </button>
                                    <button type="button" pButton class="btn" (click)=  "eliminarEmpPer(emp.Id)" icon="fa-trash" > </button>                  
                            </template>
                        </p-column>
                        <p-column field="nro" header="N°" [style]="{'width':'3em','text-align':'center'}" ></p-column>
                        <p-column field="PeNombres" header="Nombres" [style]="{'width':'10em'}"></p-column>
                        <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'10em'}" ></p-column>
                        <p-column field="EmPeTipo" header="Cargo" [style]="{'width':'9em','text-align':'center'}"></p-column>
                        <p-column field="PeDNI" header="Dni" [style]="{'width':'7em','text-align':'center'}" ></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>

</div>


<!--FORMULARIOS-->
    <!-- NUEVO REGISTRO EMPRESAPERSONA  -- AGREGANDO (BUSCANDO) UN USUARIO PARA AGREGARLO A LA SUBEMPRESA CON UN CARGO-->
    <p-dialog [(visible)]="displayNuevaEmpPersona" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
        <!-- COMBO SUEMPS - FILTRO - BTNNUEVAPERSONA - PERSONASTABLA-->
        <div class="row">
            <div class="cont_modal">
                <div class="container">
                    
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <!--COMBO + FILTRO + BTNNUEVAPER-->
                        <div class="row">
                            <!--COMBO SUBEMPRESAS-->
                                <div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">                 
                                    <select class="form-control" required [(ngModel)]="_suemid" (change)="SuEmId($event)">
                                        <!--<option value="" disabled selected hidden>Please Choose...</option>-->
                                        <option *ngFor="let suem of _arrsuEmp" [value]="suem.SuEmId">
                                            {{suem.SuEmRSocial}}
                                        </option>
                                    </select> 
                                </div>
                            
                            <!--COMBO TIPO PERSONA EN LA EMPRESA-->
                                <div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">                 
                                    <select class="form-control" required [(ngModel)]="idTiEmpPer" (change)="idTipEmpPer($event)">
                                        <option *ngFor="let tEmp of arrTipoEmpPer" [value]="tEmp.id">
                                            {{tEmp.perTEmpPer}}
                                        </option>
                                    </select> 
                                </div>

                            <!--FILTRO-->
                                <div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">
                                    <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal2/>
                                </div>

                            <!--BTN NUEVA ASIGNACION-->
                                <div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">
                                    <button id="btn" type="button" (click)="nuevaPersona();" pButton icon="fa-file-text-o" label="Nueva Persona"></button>
                                </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <!--PERSONASTABLA-->
                        <div class="row">
                            <div class="table table-responsive">                               
                                <p-dataTable [value]="personalArr" [globalFilter]="filtroGlobal2" (onRowSelect)="onRowSelPers($event)" emptyMessage="Lista vacia" scrollable="true" scrollWidth="100%" selectionMode="single" >                            
                                    <p-column styleClass="col-button" [style]="{'width':'2em'}">
                                        <template let-col let-per="rowData" pTemplate="body">                                                           
                                            <button type="button" pButton (click)="eliminarPersona(per.PeId)" icon="fa-trash"> </button>
                                        </template>
                                    </p-column>
                                    <p-column field="nro" header="N°" [style]="{'width':'2em','text-align':'center'}"></p-column>
                                    <p-column field="PeNombres" header="Nombres"  [style]="{'width':'8em'}"></p-column>
                                    <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'8em'}"></p-column>
                                    <p-column field="PeDNI"       header="DNI"  [style]="{'width':'4em'}"></p-column>
                                    <p-column field="PeTipoLicencia" header="Licencia"  [style]="{'width':'4em'}"></p-column>
                                </p-dataTable>                  
                            </div>    
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button id="btn" type="button" (click)="guardarEmpPersona();" pButton icon="fa-save" label="Guardar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button id="btn" type="button" (click)="cancelarEmpPersona();" pButton icon="fa-close" label="Cancelar"></button>
            </div>
            <!--<div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">
                <button id="btn" type="button" (click)="nuevaPersona()" pButton icon="fa-user-plus" label="Agregar Persona"></button>
            </div>-->
        </div>
    </p-dialog>

    <!--NUEVA PERSONA (CAMPOS NECESARIOS)-->
    <p-dialog header="Añadiendo Persona" [(visible)]="displayAgregaPersona" [resizable]="false" modal="modal" width="350" responsive="true" [closable]="false">
        
        <div class="row">
            <div class="container">
                <div class="form-group">
                    <input type="text" class="form-control" maxlength="40" placeholder="Nombres"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" maxlength="60" placeholder="Apellidos"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" maxlength="8" placeholder="DNI"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" maxlength="10" placeholder="Nro. Tel. Celular"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button id="btn" type="button" (click)="guardarNuevaPersona()" pButton icon="fa-save" label="Guardar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button id="btn" type="button" (click)="cancelarNuevaPersona()" pButton icon="fa-close" label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>
<!--VENTANAS CONFIRMACION-->




