<div class="contenedor">
    <!--EMPRESAPERSONA-->
        <div id="titulo">Persona por Empresa</div>
        
        <!--FILTRO BUSQUEDA(NUEVO-REG) -->
        <div class="row">
            <!--COMBO SUBEMPRESAS-->
                <div class="col-xl-2 col-md-4 col-sm-12 col-xs-12">                 
                    <select class="form-control" required [(ngModel)]="suemid" (change)="_SuEmId($event)">
                        <option *ngFor="let suem of _arrsuEmp" [value]="suem.SuEmId">
                            {{suem.SuEmRSocial}}
                        </option>
                    </select> 
                </div>

            <!--BUSQUEDA-->
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12">
                    <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
                </div>
            
            <!--NUEVO REGISTRO-->
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12">
                    <button id="btnNuevo" pButton icon="fa-user-plus" [disabled]="suemid==0" (click)="nuevoEmpPer(); vincularPersona();" label="Integrar Persona" ></button>
                </div>
        </div>
        
        <!--TABLA EMPRESAPERSONA-->
        <div class="row">
            <div class="table table-responsive">
                <p-dataTable [value]="arrEmpPer" [globalFilter]="filtroGlobal" scrollable="true" [(selection)]="selectedRow" emptyMessage="No Hay Registros" scrollWidth="100%" selectionMode="single" (onRowSelect)="onRowSelectPerEmp($event)">
                    <p-column styleClass="col-button" [style]="{'width':'3em'}">
                        <template let-col  let-emp="rowData"  pTemplate="body">
                                <button type="button" pButton class="btn"  (click)=  "editarEmpPer(emp.Id)" icon="fa-pencil-square-o" > </button>
                                <button type="button" pButton class="btn" (click)=  "eliminarEmpPer(emp.Id)" icon="fa-trash" > </button>                  
                        </template>
                    </p-column>
                    <p-column field="nro" header="N°" [style]="{'width':'4em','text-align':'center'}" ></p-column>
                    <p-column field="PeNombres" header="Nombres" [style]="{'width':'10em'}"></p-column>
                    <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'10em'}" ></p-column>
                    <p-column field="EmPeTipo" header="Cargo" [style]="{'width':'9em','text-align':'center'}"></p-column>
                    <p-column field="PeDNI" header="Dni" [style]="{'width':'8em','text-align':'center'}" ></p-column>
                </p-dataTable>
            </div>
        </div>


    <!--TABLA USUARIO DEL SISTEMA-->
        <!--TITULO-->
        <div id="titulo">Usuario de la Aplicacion</div>
        <div class="row">
            <!--BUSQUEDA-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <input class="form-control" placeholder="Buscar..." type="text" #filtroGlobal3/>
            </div>

            <!--BOTON NUEVO-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <button class="form-control" id="btnNuevo" pButton icon="fa-user-plus" [disabled]="nombre=='x'" (click)="nuevoUserSystem();" label="Nuevo Usuario"></button>
            </div>
        </div>

        <!--TABLA USUARIO DEL SISTEMA-->
        <div class="row">
            <div class="table table-responsive">
                <p-dataTable [value]="arrAllUser" [globalFilter]="filtroGlobal3" scrollable="true" emptyMessage="No Hay Registros" scrollWidth="100%" >
                    <p-column styleClass="col-button" [style]="{'width':'3em'}">
                        <template let-col  let-usersystem="rowData"  pTemplate="body">
                                <!--<button pButton class="btn" (click)="editarUserSystem(usersystem.UsId)" [disabled]="EmPeId==-1" icon="fa-pencil-square-o" > </button>-->
                                <button pButton class="btn" (click)="eliminarUserSystem(usersystem.UsId)" icon="fa-trash" > </button>                  
                        </template>
                    </p-column>
                    <p-column field="Nro" header="N°" [style]="{'width':'4em','text-align':'center'}" ></p-column>
                    <p-column field="PeNombres" header="Nombres" [style]="{'width':'10em'}"></p-column>
                    <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'10em'}" ></p-column>
                    <p-column field="UsUserName" header="Usuario" [style]="{'width':'8em','text-align':'center'}" ></p-column>
                </p-dataTable>
            </div>
        </div>
</div>


<!--FORMULARIOS-->
    <!-- NUEVO REGISTRO EMPRESAPERSONA AGREGANDO (BUSCANDO) UN USUARIO PARA AGREGARLO A LA SUBEMPRESA CON UN CARGO-->
    <p-dialog header="Integrar a SubEmpresa" [(visible)]="displayNuevaEmpPersona" [resizable]="false" modal="modal" width="100%" height="100%" responsive="true" [closable]="false">
        <!-- COMBO SUEMPS - FILTRO - BTNNUEVAPERSONA - PERSONASTABLA-->
        <div class="row">
            <div class="cont_modal">
                <div class="container">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <!--COMBO + FILTRO + BTNNUEVAPER-->
                        <div class="row">
                            <!--COMBO SUBEMPRESAS-->
                                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">                 
                                    <select class="form-control" required [(ngModel)]="_suemid" (change)="SuEmId($event)" #subempid="ngModel">
                                        <!--<option value="" disabled selected hidden>Please Choose...</option>-->
                                        <option *ngFor="let suem of _arrsuEmp" [value]="suem.SuEmId">
                                            {{suem.SuEmRSocial}}
                                        </option>
                                    </select> 
                                    <div id="validation" [hidden]="!subempid.touched || subempid.valid ">
                                        obligatorio
                                    </div>
                                </div>
                            
                            <!--COMBO TIPO PERSONA EN LA EMPRESA-->
                                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">                 
                                    <select class="form-control" required [(ngModel)]="idTiEmpPer" (change)="idTipEmpPer($event)" #tipocargoempper="ngModel">
                                        <option *ngFor="let tEmp of arrTipoEmpPer" [value]="tEmp.id">
                                            {{tEmp.perTEmpPer}}
                                        </option>
                                    </select> 
                                    <div id="validation" [hidden]="!tipocargoempper.touched || tipocargoempper.valid ">
                                        obligatorio
                                    </div>
                                </div>

                            <!--FILTRO-->
                                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                                    <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal2/>
                                </div>

                            <!--BTN NUEVA ASIGNACION-->
                                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                                    <button class="btn_modal" (click)="nuevaPersona();" pButton icon="fa-file-text-o" label="Nueva Persona"></button>
                                </div>
                        </div>
                    
                        <!--PERSONASTABLA-->
                        <div class="row">
                            <div class="table table-responsive">                               
                                <p-dataTable [value]="personalArr" [globalFilter]="filtroGlobal2" (onRowSelect)="onRowSelPers($event)" [(selection)]="selectRowPersona" emptyMessage="Lista vacia" scrollable="true" scrollWidth="100%" selectionMode="single" >                            
                                    <p-column styleClass="col-button" [style]="{'width':'4em'}">
                                        <template let-col let-per="rowData" pTemplate="body">                                                           
                                            <button type="button" pButton (click)="eliminarPersona(per.PeId)" icon="fa-trash"> </button>
                                        </template>
                                    </p-column>
                                    <p-column field="nro" header="N°" [style]="{'width':'4em','text-align':'center'}"></p-column>
                                    <p-column field="PeNombres" header="Nombres"  [style]="{'width':'10em'}"></p-column>
                                    <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'10em'}"></p-column>
                                    <p-column field="PeDNI"       header="DNI"  [style]="{'width':'8em','text-align':'center'}"></p-column>
                                    <p-column field="PeTipoLicencia" header="Licencia"  [style]="{'width':'6em','text-align':'center'}"></p-column>
                                </p-dataTable>                  
                            </div>    
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="btn_Modal row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" (click)="guardarEmpPersona(); subempid.reset(); tipocargoempper.reset();" [disabled]="!this.selectPersona || !subempid.valid || !tipocargoempper.valid" pButton icon="fa-save" label="Guardar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" (click)="cancelarEmpPersona(); subempid.reset(); tipocargoempper.reset();" pButton icon="fa-close" label="Cancelar"></button>
            </div>
            <!--<div class="col-xl-4 col-md-4 col-sm-4 col-sx-12">
                <button class="btn_modal" (click)="nuevaPersona()" pButton icon="fa-user-plus" label="Agregar Persona"></button>
            </div>-->
        </div>
    </p-dialog>

    <!--NUEVA PERSONA (CAMPOS NECESARIOS)-->
    <p-dialog header="Añadiendo Persona" [(visible)]="displayAgregaPersona" [resizable]="false" modal="modal"width="100%" height="100%" responsive="true" [closable]="false">
        
        <div class="row">
            <div class="cont_modal">
                <div class="container">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombres:</label>
                                    <input type="text" class="form-control" maxlength="40" [(ngModel)]="persona.nombres" #nompersona="ngModel" required/>
                                    <div id="validation" [hidden]="!nompersona.touched || nompersona.valid">Error en los datos</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Apellidos:</label>
                                    <input type="text" class="form-control" maxlength="60" [(ngModel)]="persona.apellidos" #apepersona="ngModel" required/>
                                    <div id="validation" [hidden]="!apepersona.touched || apepersona.valid">Error en los datos</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>DNI:</label>
                                    <input type="text" class="form-control" maxlength="8" [(ngModel)]="persona.dni" #dnipersona="ngModel" required/>
                                    <div id="validation" [hidden]="!dnipersona.touched || dnipersona.valid">Error en los datos</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nro Celular:</label>
                                    <input type="text" class="form-control" maxlength="10" [(ngModel)]="persona.nrocel" #nrocelpersona="ngModel" required/>
                                    <div id="validation" [hidden]="!nrocelpersona.touched || nrocelpersona.valid">Error en los datos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn_Modal row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" [disabled]="!nompersona.valid || !apepersona.valid || !dnipersona.valid || !nrocelpersona.valid" (click)="guardarNuevaPersona(); nompersona.reset();  apepersona.reset();  dnipersona.reset();  nrocelpersona.reset(); " pButton icon="fa-save" label="Guardar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" (click)="cancelarNuevaPersona(); nompersona.reset();  apepersona.reset();  dnipersona.reset();  nrocelpersona.reset();" pButton icon="fa-close" label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>

    <!--CREANDO UN USUARIO PARA INGRESAR AL SISTEMA-->
    <p-dialog  [(visible)]="displayUserSystem" [resizable]="false" modal="modal" width="100%" height="100%" responsive="true" [closable]="false">
        <p-header>Para: {{nombre}} </p-header>
        <div class="row">
            <div class="cont_modal">
                <div class="container">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario:</label>
                                    <input type="text" class="form-control" maxlength="25" [(ngModel)]="userSystem.nomUser" required #nickuser="ngModel" />
                                    <span *ngIf="!nickuser.valid && nickuser.touched" id="validation" style="display: inline-block; font-size: 80%;" >
                                        <div [hidden]="!nickuser.errors.required"> Obligatorio </div>
                                        <div [hidden]="!nickuser.errors.maxlength"> Maximo 25 Caracteres </div>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Contraseña:</label>
                                    <input type="text" class="form-control" minlength="10" maxlength="25" [(ngModel)]="userSystem.password" required #password="ngModel" />
                                    <span *ngIf="!password.valid && password.touched" id="validation" style="display: inline-block; font-size: 80%;" >
                                        <div [hidden]="!password.errors.required"> Obligatorio </div>
                                        <div [hidden]="!password.errors.minlength"> Minimo 10 Caracteres </div>
                                        <div [hidden]="!password.errors.maxlength"> Maximo 25 Caracteres </div>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn_Modal row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" [disabled]="!nickuser.valid || !password.valid" (click)="guardarNewUserSystem(); nickuser.reset(); password.reset();" pButton icon="fa-save" label="Guardar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-sx-12">
                <button class="btn_modal" (click)="cancelarNewUserSystem(); nickuser.reset(); password.reset();" pButton icon="fa-close" label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>
<!--VENTANAS CONFIRMACION-->

    <!--CONFIRMACION EDITAR EMPRESA_PERSONA--> 
        <p-dialog [(visible)]="displayConfEditEmpPer" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            {{mensaje}}
            <div class="btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12">
                    <button class="btn_modal" type="button" pButton icon="fa-save" label="Editar" (click)="aceptarEditEmpPer()"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12"> 
                    <button class="btn_modal" type="button" pButton icon="fa-close" label="Cancelar" (click)="cancelEditEmpPer()"></button>
                </div>
            </div>
        </p-dialog>

    <!--CONFIRMACION ELIMINAR EMPRESA_PERSONA--> 
        <p-dialog [(visible)]="displayConfElimEmpPer" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            {{mensaje}}
            <div class="btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12">
                    <button class="btn_modal" type="button" pButton icon="fa-trash-o" label="Eliminar" (click)="aceptarElimEmpPer()"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12"> 
                    <button class="btn_modal" type="button" pButton icon="fa-close" label="Cancelar" (click)="cancelElimEmpPer()"></button>
                </div>
            </div>
        </p-dialog>


