<div class="contenedor">
    <!--TITULO-->
    <div class="titulo">La Empresa</div>
    
    <!--CUERPO-->
    <div class="row">
        <!--EMPRESA-->
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="table table-responsive">
                    <p-dataTable [value]="empresas" scrollable="true"  scrollWidth="100%" selectionMode="single" (onRowSelect)="onRowSelectEmpresa($event)">
                            <!--COLUMNAS-->
                            <p-column styleClass="col-button" [style]="{'width':'3em'}">
                                <template let-col let-Emp="rowData" pTemplate="body" >
                                    <button id="btnTable" type="button" pButton (click)="editarEmpresa(Emp.EmId)" icon="fa-pencil-square-o" class="btn"></button>			
                                </template>          
                            </p-column>
                            <p-column field="Nro" header="N°" [style]="{'width':'4em','text-align':'center'}"></p-column>
                            <p-column field="EmConsorcio" header="Consorcio" [style]="{'width':'18em'}" ></p-column>
                            <p-column field="EmTipo" header="Tipo" [style]="{'width':'8em','text-align':'center'}" ></p-column>
                            <!--<div class="ui-helper-clearfix" style="width:100%"></div>-->
                    </p-dataTable>
                </div>
            </div>
        </div>

        <!--SUBEMPRESA-->
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!--BTN NUEVA SUBEMPRESA-->
            <div class="row">
                <div class="col-xl-4 col-md-3 col-sm-4 col-xs-12">
                    <button type="button" pButton id="btnNuevo" icon="fa-file-text-o" (click)="nuevaSubEmpresa();" [disabled]="EmId==0" label="Nueva Empresa"></button>
                </div>
            </div>
            <!--TABLA SUBEMPRESA-->
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table table-responsive">
                        <p-dataTable [value]="subempresas" [rows]="4" scrollable="true"  scrollWidth="100%" selectionMode="single" (onRowSelect)="onRowSelectSubEmp($event)">
                                <!--COLUMNAS-->
                                <p-column styleClass="col-button" [style]="{'width':'3em'}">
                                    <template let-col let-ObjSubEmp="rowData" pTemplate="body" >
                                        <button id="btnTable" type="button" pButton (click)="editarSubEmpresa(ObjSubEmp.SuEmId)" icon="fa-pencil-square-o" class="btn"></button>
                                        <button id="btnTable" type="button" pButton (click)="eliminarSubEmpresa(ObjSubEmp.SuEmId)" icon="fa-trash" class="btn"></button>					
                                    </template>          
                                </p-column>
                                <p-column field="nro" header="N°" [style]="{'width':'4em','text-align':'center'}"></p-column>
                                <p-column field="SuEmRSocial" header="R. Social" [style]="{'width':'18em'}" ></p-column>
                                <p-column field="SuEmRuc" header="Ruc" [style]="{'width':'10em'}" ></p-column>
                                <p-column field="SuEmDireccion" header="Direccion" [style]="{'width':'25em'}" ></p-column>
                                <p-column field="SuEmUbigeo" header="Ubigeo" [style]="{'width':'8em'}" ></p-column>
                                <p-column field="SuEmTelefono" header="Telefono" [style]="{'width':'8em'}" ></p-column>
                                <p-column field="SuEmTiempoVuelta" header="T. Vuelta" [style]="{'width':'8em'}" ></p-column>
                                <!--<div class="ui-helper-clearfix" style="width:100%"></div>-->
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VENTANAS MODALES-->
        <!--FORMULARIOS-->
            <!--NUEVA SUB EMPRESA-->
            <p-dialog header="Nueva Empresa" [(visible)]="displayNuevaSubEmp" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]=false>
                <!--CONTENIDO-->
                <div class="row">
                    <div class="cont_modal">
                        <div class="container">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <!--ACTIVIDAD-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Activo:</label>
                                            <!--<input type="text" class="form-control" [(ngModel)]="subempresa.SuEmActivo"/>-->
                                            <select class="form-control">
                                                <option>si</option>
                                                <option>no</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--DIRECCION-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Direccion:</label>
                                            <input type="text" class="form-control" maxlength=30 [(ngModel)]="subempresa.SuEmDireccion" #DIREC="ngModel" required/>
                                            <div id="validation" [hidden]="!DIREC.touched || DIREC.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--EMAIL-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text"  class="form-control" [(ngModel)]="subempresa.SuEmEmail" #EMAIL="ngModel" required/>
                                            <div id="validation" [hidden]="!EMAIL.touched || EMAIL.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--RAZON SOCIAL-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Razon social:</label>
                                            <input type="text" class="form-control" [(ngModel)]="subempresa.SuEmRSocial" #RSOC="ngModel" required />
                                            <div id="validation" [hidden]="!RSOC.touched || RSOC.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--NRO RUC-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Nro. Ruc:</label>
                                            <input type="text" class="form-control" [(ngModel)]="subempresa.SuEmRuc"  #RUC="ngModel" required/>
                                            <div id="validation" [hidden]="!RUC.touched || RUC.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--TELEFONO-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Telefono:</label>
                                            <input type="text" class="form-control" [(ngModel)]="subempresa.SuEmTelefono"  #NTEL="ngModel" required/>
                                            <div id="validation" [hidden]="!NTEL.touched || NTEL.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--TIEMPO DE RECORRIDO-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Tiempo de Recorrido:</label>
                                            <input type="text" class="form-control" [(ngModel)]="subempresa.SuEmTiempoVuelta"  #TREC="ngModel" required/>
                                            <div id="validation" [hidden]="!TREC.touched || TREC.valid">Error en los datos</div>
                                        </div>
                                    </div>

                                    <!--UBIGEO-->
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Ubigeo:</label>
                                            <input type="text" class="form-control" pattern="[0-9][0-9][0-9][0-9][0-9][0-9]" [(ngModel)]="subempresa.SuEmUbigeo"  #UBIGEO="ngModel" required/>
                                            <div id="validation" [hidden]="!UBIGEO.touched || UBIGEO.valid">Error en los datos</div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <!--BOTONES VENTANA-->
                <div class="btn_Modal row " >
                    <div class="col-xl-6 col-md-6 col-sm-6 col-sm-6">
                        <button class="btn_modal" type="button" pButton icon="fa-save" label="Guardar" [disabled]="!DIREC.valid || !EMAIL.valid || !RSOC.valid || !RUC.valid || !NTEL.valid || !TREC.valid || !UBIGEO.valid" (click)="guardarSubEmpresa(); DIREC.reset(); EMAIL.reset(); RSOC.reset(); RUC.reset(); NTEL.reset(); TREC.reset(); UBIGEO.reset();" ></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-sm-6">    
                        <button class="btn_modal" type="button" pButton icon="fa-close" label="Cancelar" (click)="cancelSubEmpresa(); DIREC.reset(); EMAIL.reset(); RSOC.reset(); RUC.reset(); NTEL.reset(); TREC.reset(); UBIGEO.reset();"></button>
                    </div>
                </div>
            </p-dialog>

            <!-- EDITAR EMPRESA-->
            <p-dialog header="Editar Registro" [(visible)]="displayEditEmpresa" [resizable]="false" modal="modal" width="300" responsive="true" [closable]=false>
                <!--CONTENIDO-->
                <div class="row">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input class="form-control" type="text" maxlength=30 [ngModel]="empresa.EmConsorcio">
                            </div>
                            <div class="form-group">
                                <label>Tipo:</label>
                                <select class="form-control">
                                        <option>si</option>
                                        <option>no</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--BOTONES VENTANA-->
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-sm-6">
                        <button class="btn_modal" type="button" pButton icon="fa-save" label="Guardar"  (click)="displayEditEmpresa=false" ></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-sm-6">    
                        <button class="btn_modal" type="button" pButton icon="fa-close" label="Cancelar" (click)="displayEditEmpresa=false"></button>
                    </div>
                </div>
            </p-dialog>

        <!--CONFIRMACION-->
            <!--BTNCOLUMNA EDITAR EMPRESA-->
            <p-dialog  [(visible)]="displayEditConfEmpresa" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]=false>
                <p>{{confMensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-check" (click)="acpEditEmpresa();" label="Aceptar"></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancEditSubEmp();" label="Cancelar"></button>
                    </div>
                </div>
            </p-dialog>

            <!--BTNCOLUMNA EDITAR SUBEMP-->
            <p-dialog  [(visible)]="displayEditSubEmp" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]=false>
                <p>{{confMensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-check" (click)="acpEditSubEmp();" label="Aceptar"></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancEditSubEmp();" label="Cancelar"></button>
                    </div>
                </div>
            </p-dialog>

            <!--BTNCOLUMNA ELIMINAR SUBEMP-->
            <p-dialog [(visible)]="displayElimSubEmp" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]=false>
                <p>{{confMensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-check" (click)="acpElimSubEmp();" label="Aceptar"></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancElimSubEmp();" label="Cancelar"></button>
                    </div>
                </div>
            </p-dialog>

        <!--MENSAJES USUARIO-->
