<!--
<p-dialog [(visible)]="disFormModMensaje" modal="modal" [resizable]="false" 
            width="100%" height="100%" responsive="true" [closable]="false">
</p-dialog>  
-->
<div class="contConfirMnj">
        <div class="bodyConfMnj">
            {{mensaje}}
        </div>
        <div class="pieConfMnj">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button class="btn_modal" pButton icon="fa-check" label="Aceptar" (click)="funcAceptar()"></button>
                </div>
            </div>
        </div>
    </div>
          