<div class="card">
    <div><h4>Puntos de Control</h4></div>

    <div class="card-block" style="padding:3">
            <div class="card-title">
                <input placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
                <!--boton nuevo-->
                <span class="text-xs-right">
                    <button (click)="newPuntoControlMaestro()" pButton icon="fa-file-text-o" label="Nuevo"></button>
                </span>
            </div>

            <!--tablas-->
           
                <p-dataTable [value]="pCMaestroMostrar" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal"
                    scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" (onRowSelect)="onRowSelect($event)">

                    <p-column styleClass="col-button" [style]="{'width':'3em'}">
                        <!--botones para la columna-->
                        <!--encabezado-->
                        <template pTempalte="header">
                            <button type="button" pButton icon="fa-refresh">  </button>
                        </template>

                        <!--botones de las filas-->

                        <template let-col let-envioPresentar="rowData" pTemplate="body">
                            <!--Boton editar-->
                            <button type="button" class="btn"> </button>
                            <!--Boton eliminar-->
                            <button type="button" class="btn"> </button>
                        </template>
                    </p-column>

                    <!--campos de la datatable-->
                    <p-column field="PuCoId"    header="Id" [sortable]="true" [style]="{'width':'3em'}" ></p-column>
                    <p-column field="RuId"      header="Ruta" [sortable]="true" [style]="{'width':'9em'}" hidden="true"></p-column>
                    <p-column field="PuCoTiempoBus" header="T. Vuelta" [sortable]="true" [style]="{'width':'9em'}" hidden="true"></p-column>
                    <p-column field="PuCoClase"     header="Tipo" [sortable]="true" [style]="{'width':'6em'}"></p-column>
                    <p-column field="UsId"      header="Usuario" [sortable]="true" [style]="{'width':'9em'}" hidden="true"></p-column>
                    <p-column field="UsFechaReg" header="Fecha" [sortable]="true" [style]="{'width':'6em'}" ></p-column>
                </p-dataTable>
            

            <!--tabla detalle punto de control-->
            <div class="card-block" style="padding:3">
                <div class="card">
                    <div class="card-block" style="padding:3">
                                    <p-dataTable [value]="pCDetalleMostrar" [rows]="10"  [globalFilter]="filtroGlobal"
                                        scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" 
                                        (onRowSelect)="onRowSelect($event)">

                                        <p-column styleClass="col-button" [style]="{'width':'3em'}">
                                            <!--botones para la columna-->
                                            <!--encabezado-->
                                            <template pTempalte="header">
                                                <button type="button" pButton icon="fa-refresh">  </button>
                                            </template>

                                            <!--botones de las filas-->

                                            <template let-col let-envioPresentar="rowData" pTemplate="body">
                                                <!--Boton editar-->
                                                <button type="button" class="btn"> </button>
                                                <!--Boton eliminar-->
                                                <button type="button" class="btn"> </button>
                                            </template>
                                        </p-column>

                                        <!--campos de la datatable-->
                                        <p-column field="PuCoDeId"      header="N°"         [style]="{'width':'2em'}" ></p-column>
                                        <p-column field="PuCoId"        header="PuCoId"    [style]="{'width':'3em'}" hidden="true"></p-column>
                                        <p-column field="PuCoDeLatitud" header="Latitud"     [style]="{'width':'6em'}" hidden="true"></p-column>
                                        <p-column field="PuCoDeLongitud" header="Longitud"  [style]="{'width':'6em'}" hidden="true"></p-column>
                                        <p-column field="PuCoDeDescripcion" header="Lugar"  [style]="{'width':'9em'}"></p-column>
                                        <p-column field="PuCoDeHora"        header="Hora"      [style]="{'width':'4em'}"></p-column>
                                        <p-column field="UsId"              header="Usuario"     [style]="{'width':'9em'}" hidden="true"></p-column>
                                        <p-column field="UsFechaReg"    header="Fecha"   [style]="{'width':'9em'}"     hidden="true"></p-column>                    
                                    </p-dataTable>
                    </div>
                </div>
            </div>

            <!--mapa-->
            <div class="container">
                     
                    <p-growl [value]="msgs"></p-growl>
                    <p-gmap 
                        #gmap
                        [options]="options" 
                        [overlays]="overlays"
                        [style]="{'width':'100%','height':'450px'}" 
                        (onMapClick)="handleMapClick($event)"
                        (onOverlayClick)="handleOverClick($event)"
                        (onOverlayDragEnd)="handleDragEnd($event)">
                    </p-gmap>   
                    <!--
                       <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
                    -->
                    <!--cuadro modal nuevo punto de control detalle-->
                    <p-dialog [(visible)]="displayNuevoPunto" modal="modal" width="300" responsive="true"  [closable]="false">
                        <div class="ui-grid ui-grid-pad ui-fluid" *ngIf="selectedPosition">
                                <!--nombre puntos control (ubicacion)-->
                                <!--
                                <div class="form-group col-7">
                                    <label class="control-label" for="namePControl">Nombre: </label>
                                    <input class="form-control"   id="namePControl" name="namePunto" [(ngModel)]="pcDetalle.PuCoDeDescripcion" type="text">
                                </div>
                                -->
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"><label for="title">Nombre:</label></div>
                                    <div class="ui-grid-col-10">
                                        <input type="text" pInputText id="title" [(ngModel)]="pcDetalle.PuCoDeDescripcion">
                                    </div>
                                </div>
                                 <!--tiempo -->
                                 
                                <div class="form-group col-7">
                                    <label class="control-label" for="time">Tiempo:</label>
                                    <input class="form-control" type="text" id="time" name="time"  [(ngModel)]="pcDetalle.PuCoDeHora"  />
                                </div>
                                <!--
                                <div class="col-3">
                                    <label class="control-label" for="timeSeg">Seg:</label>
                                    <input class="form-control" id="timeSeg" name="timeSegundos" placeholder="00" type="number" />
                                </div>
                                -->
                                 
                        </div>
                        <p-footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton label="Agregar"  (click)="guardarPunto()" ></button>
                                <button type="button" pButton label="Cancelar" (click)="deshacerPunto()"></button>
                            </div>
                        </p-footer>
                    </p-dialog>
                    
                <div class="container">
                    <button type="button" pButton label="Cargar Ruta" (click)="cargarRuta()" ></button>
                    <button type="button" pButton label="Guardar Puntos" (click)="guardarpuntosDetalleRest()" ></button>
                </div>
            </div>
            
            
            <!--modal boton nuevo punto control maestro-->
            <p-dialog header="Nuevo Lista Puntos de control" [(visible)]="displayListaPuntos" 
                      modal="modal" width="350" responsive="true">
                <!--tipo tarjeta-->
                <div class="form-group ">
                    <label class="control-label" for="tipetarj">Tipo de Tarjeta:</label>
                    <input class="form-control" id="tipetarj" name="tipetarjeta"  type="text" [(ngModel)]="pcMaestro.PuCoClase"/>
                </div>
                
                <!--tiempo -->
                <div class="form-group">
                    <label class="control-label" for="timeb">Tiempo de Recorrido:</label>
                    <input class="form-control" id="timeb" name="timebus"  type="text" [(ngModel)]="pcMaestro.PuCoTiempoBus"/>
                </div>

                <!--modal footer-->
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton  (click)="guardarPCMaestro()" label="Guardar"></button>
                        <button type="button" pButton  (click)="cancelarPCMaestro()" label="Close"></button>
                    </div>
                </p-footer>
            </p-dialog>    
                <!--final boton nuevo modal-->
</div>



