<div class="contenedor">
    <div id="titulo">Listado de Personas</div>
    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
            <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
            <button class="form-control" id="btnNuevo" (click)="nuevoPersonal()" pButton icon="fa-file-text-o" label="Agregar Persona"></button>
        </div>
    </div>

    <!--TABLA PRINCIPAL-->
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table table-responsive">
                <p-dataTable [value]="personalArr"  [globalFilter]="filtroGlobal" scrollable="true" emptyMessage="No Hay Registros"
                            scrollWidth="300" selectionMode="single" (onRowSelect)="onRowSelectPersonal($event)">

                    <p-column styleClass="col-button" [style]="{'width':'3em'}">
                        <template let-col  let-Personal="rowData"  pTemplate="body">
                                <button type="button" pButton class="btn" (click)=  "editarPersonal(Personal.PeId)" icon="fa-pencil-square-o" > </button>                  
                                <button type="button" pButton class="btn" (click)= "eliminarPersonal(Personal.PeId)" icon="fa-trash">  </button>
                        </template>
                    </p-column>
                    <p-column field="nro" header="N°" [style]="{'width':'3em','text-align':'center'}" ></p-column>
                    <p-column field="PeNombres" header="Nombres" [style]="{'width':'10em'}"></p-column>
                    <p-column field="PeApellidos" header="Apellidos" [style]="{'width':'10em'}" ></p-column>
                    <p-column field="PeDNI" header="Dni" [style]="{'width':'6em','text-align':'center'}"></p-column>
                    <p-column field="PeDireccion" header="Direccion" [style]="{'width':'14em'}"></p-column>
                    <p-column field="PeTipoLicencia" header="Licencia" [style]="{'width':'6em'}"></p-column>
                    <p-column field="PeCelular" header="Celular" [style]="{'width':'6em','text-align':'center'}"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>


        <!--MODAL NUEVO PERSONAL-->
        <p-dialog [style]="{'font-size':'14px'}" [(visible)]="displayNuevo" modal="modal" [resizable]="false" width="100%" [closable]="false">
            <!--ENCABEZADO-->
            <p-header>{{mensaje}}</p-header>
            <div class="row">
                <div class="cont_modal">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <!--NOMBRE -->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombres:</label>
                                        <input class="form-control"  type="text" maxlength="25" required #nombpers="ngModel" [(ngModel)]="personal.PeNombres"/>
                                        <span *ngIf="!nombpers.valid && (nombpers.touched || nombpers.dirty)" >  
                                            <div id="validation" [hidden]="!nombpers.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>

                                <!--APELLIDO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Apellidos:</label>
                                        <input class="form-control" type="text" maxlength="25" required #apepers="ngModel" [(ngModel)]="personal.PeApellidos" />
                                        <span *ngIf="!apepers.valid && (apepers.touched || apepers.dirty)" >  
                                            <div id="validation" [hidden]="!apepers.errors.required"> obligatorio </div>
                                        </span>
                                    </div>  
                                </div>

                                <!--DNI-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label >Dni:</label>
                                        <input class="form-control" type="text" maxlength="8" required #dniperso="ngModel" [(ngModel)]="personal.PeDni" />
                                        <span *ngIf="!dniperso.valid && (dniperso.touched || dniperso.dirty)" >  
                                            <div id="validation" [hidden]="!dniperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div> 
                                </div>

                                <!--SEXO  COMBO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Genero:</label>
                                        <!--DROPDOWN-->
                                        <select class="form-control" [(ngModel)]="PeSexo" (change)="funCboPeGeneroId($event)" required #cbosexo="ngModel" >
                                            <option *ngFor="let gen of genero" [value]="gen.id">
                                                {{gen.sexo}}
                                            </option>
                                        </select> 
                                        <div id="validation" [hidden]="!cbosexo.touched || cbosexo.valid ">
                                            Error, revise los datos ingresados
                                        </div>
                                    </div>
                                </div>

                                <!--ESTADO CIVIL COMBO  -->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>EstadoCivil:</label>
                                        <!--DROPDOWN-->
                                        <select class="form-control" required #estcivilper="ngModel" [(ngModel)]="PeEstCivil" (change)="funCbopeEstCivilId($event)">
                                            <option *ngFor="let estC of estCivil" [value]="estC.id">
                                                {{estC.estado}}
                                            </option>
                                        </select> 
                                        <div id="validation" [hidden]="!estcivilper.touched || estcivilper.valid ">
                                            Error, revise los datos ingresados
                                        </div>
                                    </div>
                                </div>

                            
                                <!--FECHA NACIMIENTO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha Nac.:</label>
                                        <input class="form-control" type="date" [(ngModel)]="personal.PeFecNac" required #fnacpers="ngModel" />
                                        <div id="validation" [hidden]="fnacpers.valid || !fnacpers.touched">
                                                Error, revise los datos ingresados
                                        </div> 
                                    </div>
                                </div>

                                <!--DIRECCION-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label >Direccion:</label>
                                        <input class="form-control" type="text" maxlength="50" required #direcperso="ngModel" [(ngModel)]="personal.PeDireccion" />
                                        <span *ngIf="!direcperso.valid && (direcperso.touched || direcperso.dirty)" >  
                                            <div id="validation" [hidden]="!direcperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>
                        
                                <!--TIPO PERSONAL
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo:</label>
                                
                                        <input class="form-control" type="text" [(ngModel)]="personal. PeTipo" />
                                    </div>
                                </div>-->

                                <!--LICENCIA-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Licencia:</label>
                                        <input class="form-control" type="text" maxlength="8" required #licenchoferperso="ngModel" [(ngModel)]="personal.PeTipoLicencia" />
                                        <span *ngIf="!licenchoferperso.valid && (licenchoferperso.touched || licenchoferperso.dirty)" >  
                                            <div id="validation" [hidden]="!licenchoferperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>

                                <!--NRO CELULAR-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nro Movil:</label>
                                        <input class="form-control" type="text" maxlength="10" required #nromovilperso="ngModel" [(ngModel)]="personal.PeNMovil" />
                                        <span *ngIf="!nromovilperso.valid && (nromovilperso.touched || nromovilperso.dirty)" >  
                                            <div id="validation" [hidden]="!nromovilperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>

                            
                                <!--NRO FIJO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nro Fijo:</label>
                                        <input class="form-control" type="text" maxlength="8" required #nrofijoperso="ngModel" [(ngModel)]="personal.PeNFijo" />
                                        <span *ngIf="!nrofijoperso.valid && (nrofijoperso.touched || nrofijoperso.dirty)" >  
                                            <div id="validation" [hidden]="!nrofijoperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>

                                <!--CORREO ELECTRONICO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label >Email:</label>
                                        <input class="form-control" type="text" maxlength="30" required #emailperso="ngModel" [(ngModel)]="personal.PeEmail" />
                                        <span *ngIf="!emailperso.valid && (emailperso.touched || emailperso.dirty)" >  
                                            <div id="validation" [hidden]="!emailperso.errors.required"> obligatorio </div>
                                        </span>
                                    </div>
                                </div>
                               
                                <!--FECHA INGRESO-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha Ingreso:</label>
                                        <input class="form-control" type="date" [(ngModel)]="personal.getPeFechaIng" required #fingresopers="ngModel" />
                                        <!--<span *ngIf="!fingresopers.valid && (fingresopers.touched || fingresopers.dirty)"  >  
                                            <div id="validation" [hidden]="!fingresopers.errors.required"> obligatorio </div>
                                        </span>--> 
                                        <div id="validation" [hidden]="fingresopers.valid || !fingresopers.touched">
                                                Error, revise los datos ingresados
                                        </div>
                                    </div>
                                </div>
                                <!--{{!fingresopers.valid}}  {{!fingresopers.touched}}-->
                                <!--FECHA SALIDA-->
                                <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fecha Salida:</label>
                                        <input class="form-control" type="date" [(ngModel)]="personal.PeFechaSal" required #fsalidapers="ngModel" />
                                        <div id="validation" [hidden]="fsalidapers.valid || !fsalidapers.touched">
                                                Error, revise los datos ingresados
                                        </div> 
                                    </div>
                                </div>
                                 <!--{{personal.PeFechaSal}} {{fsalidapers.valid}} {{fsalidapers.touched}}-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--BOTONES-->
            <div class="btn_Modal row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="button" pButton icon="fa-save" label="Guardar" [disabled]="!nombpers.valid || !apepers.valid || !dniperso.valid || !cbosexo.valid || !estcivilper.valid || !fnacpers.valid || !direcperso.valid || !licenchoferperso.valid || !nromovilperso.valid || !nrofijoperso.valid || !emailperso.valid || !fingresopers.valid || !fsalidapers.valid" (click)="guardarPersonal();  nombpers.reset(); apepers.reset(); dniperso.reset(); cbosexo.reset(); estcivilper.reset(); fnacpers.reset(); direcperso.reset(); licenchoferperso.reset(); nromovilperso.reset(); nrofijoperso.reset(); emailperso.reset(); fingresopers.reset(); fsalidapers.reset();"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="button" pButton icon="fa-close" label="Cancelar" (click)="cancelarPersonal(); nombpers.reset(); apepers.reset(); dniperso.reset(); cbosexo.reset(); estcivilper.reset(); fnacpers.reset(); direcperso.reset(); licenchoferperso.reset(); nromovilperso.reset(); nrofijoperso.reset(); emailperso.reset(); fingresopers.reset(); fsalidapers.reset();"></button>
                </div>
            </div>
        </p-dialog>

        <!--MODAL CONFIRMAR ELIMINAR PERSONAL-->
            <p-dialog [(visible)]="displayEliminar" [resizable]="false" modal="modal" width="100%" [closable]="false">
                {{mensaje}}
                <div class="row">
                    <button type="button" pButton label="Aceptar" (click)="verificarEliminar()"></button>
                    <button type="button" pButton label="Cancelar" (click)="cancelarEliminar()"></button>
                </div>
            </p-dialog>

        <!--MODAL CONFIRMAR ELIMINAR PERSONAL-->
            <p-dialog [(visible)]="displayConfEditar" [resizable]="false" modal="modal" width="100%" [closable]="false">
                {{mensaje}}
                <div class="btn_Modal row">
                    <button type="button" pButton label="Aceptar" (click)="verificarEditar()"></button>
                    <button type="button" pButton label="Cancelar" (click)="cancelarEditar()"></button>
                </div>
            </p-dialog>

<!--
    <div class="win_modal" style="overflow-y: auto; height:380px; width: 100%;">
    CUERP
    <div style="overflow-y: auto; height:300px; height:400px; width: 100%;">
   <button type="button" pButton label="Aceptar" (click)="verificarEliminar()" (ngSubmit)="onsubmit()"></button>
-->