<div class="card">
    <h5>Tabla Programaciones</h5>
    <!--TABLA PROGRAMACION MAESTRO-->
    <div class="card-block" style="padding:3">
        <input placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
        <span class="text-xs-right"><button type="text" (click)="NuevaProgCabecera()" pButton  label="Nuevo"></button></span>
        <!--TABLA PROGRAMACION MAESTRO-->
        <div class="card-text">
            <p-dataTable [value]="programacionMaestroArrayHTML" [rows]="7" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,15,20]" [globalFilter]="filtroGlobal"
                scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" (onRowSelect)="onRowSelectMaestro($event)">
                <!--botones para la PRIMERA COLUMNA -->
                <p-column styleClass="col-button" [style]="{'width':'4em'}">
                    <!--<template pTempalte="header"><button type="button" pButton icon="fa-refresh">  </button></template>-->
                    <template let-col let-progrRowMaestro="rowData" pTemplate="body">
                        <button type="button" pButton class="btn" (click)="editarCabecera(progrRowMaestro)" icon="fa-pencil-square-o" ></button>
                        <button type="button" pButton class="btn" (click)="eliminarRegistroGrilla(progrRowMaestro.prId)" icon="fa-trash" ></button>
                    </template>
                </p-column>
                <!--campos de la datatable-->
                <p-column field="nro" header="N°"  [style]="{'width':'4em','text-align':'center'}"></p-column>
                <p-column field="tipo" header="Tipo"  [style]="{'width':'8em','text-align':'center'}"></p-column>
                <p-column field="prDescripcion" header="Nombre"  [style]="{'width':'14em','text-align':'center'}"></p-column>
                <p-column field="PrCantidadBuses" header="Cant."  [style]="{'width':'4em','text-align':'center'}"></p-column>
                <p-column field="PrFechaInicio" header="Desde" [style]="{'width':'8em','text-align':'center'}"></p-column>
                <p-column field="PrFechaFin" header="Hasta" [style]="{'width':'8em','text-align':'center'}"></p-column>
                <p-column field="dias" header="Dias"  [style]="{'width':'4em','text-align':'center'}"></p-column>
            </p-dataTable>
        </div><!--fin tabla PROGRAMACION MAESTRO-->
    </div>
</div>

         <!--VENTANA BOTON NUEVO (PROGRAMACION 1ERA VENTANA)-->
        <p-dialog  [(visible)]="displayNuevaProgramacion" modal="modal" width="100%" responsive="true" [resizable]="false" [closable]="false">
            <!--TITULO-->
            <p-header> {{titleNuevoProgPrimerModal }} Programacion </p-header>
            
            <!--CUERPO-->
            <div class="win_modal"  style="overflow-y: auto; height:380px; width: 100%;">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <!--NOMBRE PARA RECONOCER A LA PROGRAMACION  -->
                    <div class="form-group">
                        <label for="descripcion" class="control-label">Identificador:</label>
                        <input class="form-control" type="text" id="descripcion"[(ngModel)]="progMaestro.PrDescripcion" #descrip="ngModel" required />
                        <span *ngIf="!descrip.valid && descrip.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;" >
                            <div [hidden]="!descrip.errors.required"> obligatorio </div>
                        </span>
                    </div>

                    <!--FECHAS -->
                    <div class="form-group">
                        <label>Del:</label>
                        <input class="form-control" name="finicio"  type="date" [(ngModel)]="progMaestro.PrFechaInicio" required #fde="ngModel" />
                        <span *ngIf="!fde.valid && fde.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >   
                            <div [hidden]="!fde.errors.required"> Obligatorio </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label >Hasta:</label>
                        <input class="form-control" name="ffinal"  type="date" [(ngModel)]="progMaestro.PrFechaFin"  required #fha="ngModel" />
                        <span *ngIf="!fha.valid && fha.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                            <div [hidden]="!fha.errors.required"> Obligatorio </div>
                        </span>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <!--CANTIDAD DE BUSES ACTIVOS E INACTIVOS-->
                    <div class="form-group">
                        <label for="nrobuses" class="control-label">Buses:____Activos:{{bAct}}_ No Activos: {{bNAct}}</label>
                    </div>

                    <!--TIPO DE PROGRAMACION MANUAL O AUTOMATICO-->
                    <div class="form-group">
                        <label >Tipo:</label>
                        <select class="form-control" [(ngModel)]="tipoProg" (change)="tipoProgramacion($event)" required #tprog="ngModel">
                            <option *ngFor="let tipo of _tipoProg" [ngValue]="tipo.id">{{tipo.nTipo}}</option>
                        </select>
                        <div [hidden]="!tprog.touched || tprog.valid " class="alert alert-danger" style="display: inline-block; font-size: 80%;">
                                Error, revise los datos ingresados
                        </div>
                    </div>

                    <!--FORMA DE PROGRAMACION POR TIEMPO Y CANTIDAD DE BUSES (Escala o Pescadito)-->
                    <div class="form-group">
                        <label >Forma:</label>
                        <select class="form-control" [(ngModel)]="formaProg" (change)="formaProgramacion($event)" required #fprog="ngModel" >
                            <option *ngFor="let forma of _formaProg" [ngValue]="forma.id">{{forma.nForma}}</option>
                        </select>
                        <div [hidden]="!fprog.touched || fprog.valid " class="alert alert-danger" style="display: inline-block; font-size: 80%;">
                                Error, revise los datos ingresados
                        </div>
                    </div>
                </div>
            </div>

            <!--BOTONES-->
            <div class="row">
                <div class="col-xl-6">
                    <button id="btn" type="text" pButton icon="fa-check" (click)="showProgBase(); tprog.reset(); fprog.reset(); fde.reset(); fha.reset(); descrip.reset();" label="Continuar" [disabled]="!tprog.valid || !fprog.valid || !fde.valid || !fha.valid || !descrip.valid "></button>
                </div>
                <div class="col-xl-6">
                    <button id="btn" type="text" pButton icon="fa-close" (click)="cancelNewProgramacion(); tprog.reset(); fprog.reset(); fde.reset(); fha.reset(); descrip.reset();" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog> 
        <!--FIN BOTON NUEVO MODAL-->

        <!--modal del boton guardar (2DA VENTANA  TERMINAR GENERANDO LA PROGRAMACION) -->
        <p-dialog header="Programacion Base" [resizable]="false" [(visible)]="displayProgramacionBase" 
                    modal="modal" width="450" responsive="true" [closable]="false" >           
                    <!--lista de placas (programacion base) MANUAL -->
                    <p-pickList [source]="arrayPlacas" [target]="ordenSorteo" sourceHeader="Placa" 
                                targetHeader="Orden" [responsive]="false" [sourceStyle]="{'height':'130px','width':'100px'}" 
                                [targetStyle]="{'height':'130px','width':'100px'}">
                        <template let-placa pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:12px; float:right; margin:5px 5px 0 0">
                                    {{placa.nroPlaca}}
                                </div>
                            </div>
                        </template>
                    </p-pickList>
                               
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-close" (click)="cancelarProgBaseSegundoModal()" [disabled]="disabledButtonForm()" label="Cancelar"></button>
                            <button type="button" pButton icon="fa-check" (click)="generarProgramacionSegundoModal()" label="Generar Programacion"></button>
                        </div>
                    </p-footer>
        </p-dialog> <!--fin boton modal guardar-->


        <!--MODAL PROGRAMACIONES-->
        <p-dialog header="Programacion"  [(visible)]="displayProgramacion" modal="modal" 
         width="400" height="600"  [closable]="false" [resizable]="false" *ngIf="nroColumn>=5">
            <div class="container "> 
                    <!--<div class="table-container" > </div>-->
                        <div class="container" style="overflow-x:auto; overflow-y:auto; height:420px; ">
                            <!--AUMENTAR MAS TAMAÑOS DE TABLAS COMO MAXIMO HASTA 63 DIAS DE PROGRAMACION DE DOS MESES-->
                            <table *ngIf="nroColumn>=30" width="3500px">
                                
                                <thead>
                                    <tr><th *ngFor="let dia of this.nroDias;">{{dia}}</th></tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let c of _detalle">
                                        <td *ngFor="let placa of c">{{placa}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table *ngIf="30>nroColumn && nroColumn>=20" width="2000px">   
                                <thead>
                                    <tr><th *ngFor="let dia of this.nroDias;">{{dia}}</th></tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of _detalle">
                                        <td *ngFor="let placa of c">{{placa}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table *ngIf="20>nroColumn && nroColumn>10" width="1500px">
                                
                                <thead>
                                    <tr><th *ngFor="let dia of this.nroDias;">{{dia}}</th></tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let c of _detalle">
                                        <td *ngFor="let placa of c">{{placa}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table *ngIf="10>=nroColumn && nroColumn>5" width="750px">
                                
                                <thead>
                                    <tr><th *ngFor="let dia of this.nroDias;">{{dia}}</th></tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let c of _detalle">
                                        <td *ngFor="let placa of c">{{placa}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table *ngIf="5>=nroColumn && nroColumn>0" width="500px">
                                <thead>
                                    <tr><th *ngFor="let dia of this.nroDias;">{{dia}}</th></tr>
                                </thead>                                  
                                <tbody>
                                    <tr *ngFor="let c of _detalle">
                                        <td *ngFor="let placa of c">{{placa}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                <footer >
                    <button id="btn" type="button" pButton (click)="cerrarProg()"   label="Cerrar"></button>
                    <button id="btn" type="button" pButton (click)="descargarProgramacion()" label="Descargar"></button>
                </footer>
            </div>
        </p-dialog>

        <!--MODAL CONFIRMAR ELIMINAR REGISTRO-->
        <p-dialog [(visible)]="displayConfirmar" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="displayConfirmar=false"   label="Cancelar"></button>
                     <button type="button" pButton (click)="borrarRegistro()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>

        <!--MODAL ACEPTAR NUEVA PROGRAMACION (CONFIRMAR)-->
        <p-dialog [(visible)]="displayAceptarProgNueva" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="aceptarNuevaProg()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>

        <!--ERROR AL INGRESAR DATOS 1ERA VENTANA MODAL-->
        <p-dialog [(visible)]="displayErrorDatos" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="errorDatos()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>

        <!--ERROR EN LA TABLA DE PROGRAMACION, VENTANA MODAL-->
        <p-dialog [(visible)]="displayErrorTablaProgramacion" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="errorTablaProgramacion()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>

        <!--ERROR FALTAN PLACAS EN EL SORTEO, VENTANA MODAL-->
        <p-dialog [(visible)]="displayFaltanPlacas" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="faltanPlacas()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>

        <!--MENSAJE SE ACABA DE DESCARGAR LA PROGRAMACION, VENTANA MODAL-->
        <p-dialog [(visible)]="displayDescargaProg" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <p-footer class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                     <button type="button" pButton (click)="descargaProg()" label="Aceptar"></button>
                </p-footer>
        </p-dialog>
      




<!--


        <p-dialog  [(visible)]="displayNuevaProgramacion" modal="modal" width="100%" responsive="true" [closable]="false">
            <p-header> {{titleNuevoProgPrimerModal }} Programacion </p-header>

          
            <div class="form-group">
                <div class="col-4"><label >Tipo:</label></div>
                <div class="col-8">
                    <select class="form-control" [(ngModel)]="tipoProg" (change)="tipoProgramacion($event)" required #tprog="ngModel">
                        <option *ngFor="let tipo of _tipoProg" [ngValue]="tipo.id">{{tipo.nTipo}}</option>
                    </select>
                    <div [hidden]="!tprog.touched || tprog.valid " class="alert alert-danger" style="display: inline-block; font-size: 80%;">
                            Error, revise los datos ingresados
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-4"><label >Forma:</label></div>
                <div class="col-8">
                    <select class="form-control" [(ngModel)]="formaProg" (change)="formaProgramacion($event)" required #fprog="ngModel" >
                        <option *ngFor="let forma of _formaProg" [ngValue]="forma.id">{{forma.nForma}}</option>
                    </select>
                    <div [hidden]="!fprog.touched || fprog.valid " class="alert alert-danger" style="display: inline-block; font-size: 80%;">
                            Error, revise los datos ingresados
                    </div>
                </div>
            </div>

     
            <div class="form-group">
                <label class="control-label" for="finicio">Del:</label>
                <input class="form-control" id="finicio" name="finicio"  type="date" [(ngModel)]="progMaestro.PrFechaInicio" required #fde="ngModel" />
                <span *ngIf="!fde.valid && fde.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >   
                    <div [hidden]="!fde.errors.required"> Obligatorio </div>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ffinal">Ingreso:</label>
                <input class="form-control" id="ffinal" name="ffinal"  type="date" [(ngModel)]="progMaestro.PrFechaFin"  required #fha="ngModel" />
                <span *ngIf="!fha.valid && fha.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                    <div [hidden]="!fha.errors.required"> Obligatorio </div>
                </span>
            </div>


            <div class="form-group">
                <label for="nrobuses" class="control-label">Buses:____Activos:{{bAct}}_ No Activos: {{bNAct}}</label>
               <input class="form-control" type="number" [(ngModel)]="progMaestro.PrCantidadBuses" id="nrobuses">
            </div>


            <div class="form-group">
                <label for="descripcion" class="control-label">Identificador:</label>
                <input class="form-control" type="text" id="descripcion"[(ngModel)]="progMaestro.PrDescripcion" #descrip="ngModel" required />
                    <span *ngIf="!descrip.valid && descrip.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;" >
                        <div [hidden]="!descrip.errors.required"> obligatorio </div>
                    </span>
            </div>

       
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="text" pButton icon="fa-check" (click)="showProgBase(); tprog.reset(); fprog.reset(); fde.reset(); fha.reset(); descrip.reset();" 
                            label="Continuar" [disabled]="!tprog.valid || !fprog.valid || !fde.valid || !fha.valid || !descrip.valid "></button>
                    <button type="text" pButton icon="fa-close" (click)="cancelNewProgramacion(); tprog.reset(); fprog.reset(); fde.reset(); fha.reset(); descrip.reset();" label="Cancelar"></button>
                </div>
            </p-footer>
        </p-dialog> 

-->
