<div class="card">
<div><h4>Programaciones</h4></div>

        <!--TABLA PROGRAMACION MAESTRO-->
        <div class="card-block" style="padding:3">
            <div class="card-title">
                    <input placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
                    <!--boton nuevo-->
                    <span class="text-xs-right">
                        <button type="text" (click)="showNuevaProgramacionModalMaestro()" pButton  label="Nuevo"></button>
                    </span>

                    <!--modal boton nuevo (PROGRAMACION 1ERA VENTANA)-->
                    <p-dialog header="Nueva Programacion" [(visible)]="displayNuevaProgramacion" 
                              modal="modal" width="415" responsive="true" [closable]="false">
                                
                                 <!--combobox tipo de programcion-->
                                <div class="form-group ">
                                    <label for="sorteos">Tipo:  {{tipoProgramacion||'none'}}</label>
                                        <div class="ui-g" style=" width:250px; margin-bottom: 10px">
                                            <div class="ui-g-12">
                                                <p-radioButton name="tipoprog" value="Automatico" label="Automatico" [(ngModel)]="tipoProgramacion"></p-radioButton>
                                                <p-radioButton name="tipoprog" value="Manual"     label="Manual" [(ngModel)]="tipoProgramacion"></p-radioButton>
                                            </div>
                                        </div>
                                </div>

                                <!--fechas -->
                                        <div class="form-group row">
                                            <div class="form-group">
                                                <label class="control-label" for="date1">De:</label>
                                                <input class="form-control" id="date1" name="finicio" placeholder="MM/DD/YYY" type="date" [(ngModel)]="progMaestro.PrFechaInicio" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="date2">Hasta:</label>
                                                <input class="form-control" id="date2" name="ffinal" placeholder="MM/DD/YYY" type="date"  [(ngModel)]="progMaestro.PrFechaFin"/>
                                            </div>
                                        </div>
                                <!--cantidad de buses-->
                                <div class="form-group">
                                    <label for="nrobuses" class="control-label">Nro Buses:</label>
                                    <input class="form-control" type="number" [(ngModel)]="progMaestro.PrCantidadBuses" id="nrobuses">
                                </div>

                                <!--Descripcion  -->
                                <div class="form-group">
                                    <label for="descripcion" class="control-label">Descripcion:</label>
                                    <textarea class="form-control" id="descripcion"[(ngModel)]="progMaestro.PrDescripcion" ></textarea>
                                </div>
                                <!--modal footer-->
                                <p-footer>
                                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                        <!--
                                        <button type="text" (click)="showNuevaProgramacion()" pButton  label="Nuevo"></button>
                                        <button type="text" pButton icon="fa-check" (click)="displayNuevaProgramacion=true" label="Generar"></button>
                                        -->
                                        <button type="text" pButton icon="fa-check" (click)="showProgBase()" label="Continuar"></button>
                                        <button type="text" pButton icon="fa-close" (click)="cancelNewProgramacion()" label="Cancelar"></button>
                                        
                                        <!--
                                        <button type="text" pButton icon="fa-check" (click)="showNuevaProgramacion()"  label="Generar"></button>
                                        -->
                                    </div>
                                </p-footer>
                    </p-dialog> 
                    <!--FIN BOTON NUEVO MODAL-->

                    <!--modal del boton guardar (2DA VENTANA  TERMINAR GENERANDO LA PROGRAMACION) -->
                    <p-dialog header="Programacion Base"  [(visible)]="displayProgramacionBase" 
                              modal="modal" width="450" responsive="true" [closable]="false" >           
                               <h5>Sorteo: {{tipoProgramacion||'none'}}</h5>
                                <!--lista de placas (programacion base) MANUAL -->
                                <p-pickList [source]="arrayPlacas" [target]="ordenSorteo" sourceHeader="Placa" 
                                            targetHeader="Orden" [responsive]="false" [sourceStyle]="{'height':'130px','width':'100px'}" 
                                            [targetStyle]="{'height':'130px','width':'100px'}">
                                    <template let-placa pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div style="font-size:12px; float:right; margin:5px 5px 0 0">
                                                {{placa.nroPlaca}}
                                            </div>
                                        </div>
                                    </template>
                                </p-pickList>
                                

                                <!--pie modal-->                               
                                <p-footer>
                                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                        <button type="button" pButton icon="fa-close" (click)="cancelarProgBaseSegundoModal()" [disabled]="disabledButtonForm()" label="Cancelar"></button>
                                        <button type="button" pButton icon="fa-check" (click)="generarProgramacionSegundoModal()" label="Generar Programacion"></button>
                                    </div>
                                </p-footer>
                    </p-dialog> <!--fin boton modal guardar-->

                    <!--TABLA PROGRAMACION MAESTRO-->
                    <div class="card-text">
                        <p-dataTable [value]="progPresentar" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal"
                            scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" (onRowSelect)="onRowSelect($event)">
                            <!--botones para la PRIMERA COLUMNA -->
                            <p-column styleClass="col-button" [style]="{'width':'6em'}">
                                <!--encabezado-->
                                <template pTempalte="header">
                                    <button type="button" pButton icon="fa-refresh">  </button>
                                </template>

                                <!--botones de las filas-->
                                <template let-col let-envioPresentar="rowData" pTemplate="body">
                                    <!--Boton editar-->
                                    <button type="button" class="btn"> </button>
                                    <!--Boton eliminar-->
                                    <button type="button" class="btn"> </button>
                                </template>
                            </p-column>

                            <!--campos de la datatable-->
                            <p-column field="PrCantidadBuses" header="Nro Buses" [sortable]="true" [style]="{'width':'4em'}"></p-column>
                            <p-column field="PrFechaInicio" header="Inicio" [sortable]="true" [style]="{'width':'9em'}"></p-column>
                            <p-column field="PrFechaFinFin" header="Fin" [sortable]="true" [style]="{'width':'9em'}"></p-column>
                            <p-column field="PrTipo" header="Tipo" [sortable]="true" [style]="{'width':'6em'}"></p-column>
                        </p-dataTable>
                    </div><!--fin tabla PROGRAMACION MAESTRO-->
            </div>
        </div>

        <!--TABLA PROGRAMACION DETALLE-->
        <div class="card-block" style="padding:3">
            <div class="card-title">
                <div class="card">
                    <div><h4>Detalle de Programacion</h4></div>
                    <div class="card-block" style="padding:3">
                            <div class="card-text">
                                <p-dataTable [value]="progPresentar" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal"
                                    scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" (onRowSelect)="onRowSelect($event)">

                                    <p-column styleClass="col-button" [style]="{'width':'6em'}">
                                        <!--botones para la columna-->
                                        <!--encabezado-->
                                        <template pTempalte="header">
                                            <button type="button" pButton icon="fa-refresh">  </button>
                                        </template>

                                        <!--botones de las filas-->

                                        <template let-col let-envioPresentar="rowData" pTemplate="body">
                                            <!--Boton editar-->
                                            <button type="button" class="btn"> </button>
                                            <!--Boton eliminar-->
                                            <button type="button" class="btn"> </button>
                                        </template>
                                    </p-column>

                                    <!--campos de la datatable-->
                                    <p-column field="PrDeOrden" header="Orden" [sortable]="true" [style]="{'width':'4em'}"></p-column>
                                    <p-column field="PrDePrid" header="Bus" [sortable]="true" [style]="{'width':'9em'}"></p-column>
                                    <p-column field="PrDeFecha" header="Fecha" [sortable]="true" [style]="{'width':'9em'}"></p-column>
                                    <p-column field="PrDeTipo" header="Tipo" [sortable]="true" [style]="{'width':'6em'}"></p-column>
                                </p-dataTable>
                            </div>
                    </div>
                </div> <!--FIN TABLA PROGRAMACION DETALLE-->
            </div>
        </div>
</div>



