<!--PRINCIPAL TABLAS-->
<div class="contenedor">
    <div id="titulo">Tabla Programaciones</div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
            <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
           <button class="form-control" id="btnNuevo" icon="fa-file-text-o" (click)="NuevaProgCabecera()" pButton  label="Nueva Programacion"></button>
        </div>
    </div>

    <!--TABLA PROGRAMACION MAESTRO-->
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table table-responsive">
                <p-dataTable [value]="programacionMaestroArrayHTML"  [globalFilter]="filtroGlobal" 
                    scrollable="true" scrollHeight="350px" dataKey="nro" scrollWidth="100%" selectionMode="single" 
                    emptyMessage="Lista vacia" (onRowSelect)="onRowSelectMaestro($event)"> 
                    <p-column styleClass="col-button" [style]="{'width':'3em'}">
                        <template let-col let-progrRowMaestro="rowData" pTemplate="body">
                            <button type="button" pButton id="btnTable" (click)="editarCabecera(progrRowMaestro)" icon="fa-pencil-square-o" ></button>
                            <button type="button" pButton id="btnTable" (click)="eliminarRegistroGrilla(progrRowMaestro.prId)" icon="fa-trash" ></button>
                        </template>
                    </p-column>
                    <p-column field="nro" header="N°"  [style]="{'width':'4em','text-align':'center'}"></p-column>
                    <p-column field="prDescripcion" header="Nombre"  [style]="{'width':'14em'}"></p-column>
                    <p-column field="PrCantidadBuses" header="N° MBuses"  [style]="{'width':'6em','text-align':'center'}"></p-column>
                    <p-column field="PrFechaInicio" header="Desde" [style]="{'width':'8em','text-align':'center'}"></p-column>
                    <p-column field="PrFechaFin" header="Hasta" [style]="{'width':'8em','text-align':'center'}"></p-column>
                    <p-column field="dias" header="N° Dias"  [style]="{'width':'4em','text-align':'center'}"></p-column>
                    <p-column field="PrDiasIncluidosString" header="Dias Incluidos"  [style]="{'width':'10em','text-align':'center'}"></p-column>
                    <p-column field="tipo" header="Sorteo"  [style]="{'width':'8em','text-align':'center'}"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
    
</div>

<!--VENTANAS FORMULARIOS-->

    <!--1ERA VENTANA BOTON NUEVO (PROGRAMACION 1ERA VENTANA)-->
        <p-dialog  [(visible)]="displayNuevaProgramacion" modal="modal" width="100%" height="100%" responsive="true" [resizable]="false" [closable]="false">
            <!--TITULO-->
            <p-header> {{titleNuevoProgPrimerModal }} Programacion </p-header>
            
            <!--CUERPO-->
            <div class="row">
                <div class="cont_modal">
                    <div class="container">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <!--NOMBRE PARA RECONOCER A LA PROGRAMACION  -->
                            <div class="row">

                                <!--DIAS DE SEMANA INCLUIDOS-->
                                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">    
                                    <label>Dias de la Semana</label>
                                    <p-dataTable [value]="diasSemana" [(selection)]="dtSelectDias">
                                        <p-column [style]="{'width':'2em'}" selectionMode="multiple"></p-column>
                                        <p-column [style]="{'width':'2em'}" field="nro" header="N°"></p-column>
                                        <p-column [style]="{'width':'4em'}" field="nomb" header="Dia"></p-column>
                                    </p-dataTable>     
                                    <label>Dias considerados: {{dtSelectDias.length}}</label>  
                                </div>

                                <div class="col-xl-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <!--NOMBRE PARA LA PROGRAMACION-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="descripcion" class="control-label">Nombre de la Programacion:</label>
                                                <input class="form-control" type="text" [(ngModel)]="progMaestro.PrDescripcion" #descrip="ngModel"  maxlength="30" required />
                                            
                                                <span *ngIf="!descrip.valid && descrip.touched" >
                                                    <div id="validation" [hidden]="!descrip.errors.required"> Obligatorio </div>
                                                </span>
                                            </div>
                                        </div>
                                    
                                        <!--CANTIDAD DE BUSES ACTIVOS E INACTIVOS-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label >Buses:</label>
                                                <div class="control-label">
                                                    <label>{{resBusUnidades}}</label>
                                                    <label [hidden]="bAct>0 && bAct!=0"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <!--DESDE-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label  class="control-label">Del:</label>
                                                <input class="form-control" name="finicio"  type="date" [(ngModel)]="progMaestro.PrFechaInicio" required #fde="ngModel" />
                                                <span *ngIf="!fde.valid && fde.touched"  >   
                                                    <div id="validation" [hidden]="!fde.errors.required"> Obligatorio </div>
                                                </span>
                                            </div>
                                        </div>

                                        <!--HASTA-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label  class="control-label" >Hasta:</label>
                                                <input class="form-control" name="ffinal"  type="date" [(ngModel)]="progMaestro.PrFechaFin"  required #fha="ngModel" />
                                                <span *ngIf="!fha.valid && fha.touched"  >  
                                                    <div id="validation" [hidden]="!fha.errors.required"> Obligatorio </div>
                                                </span>
                                            </div>
                                        </div>

                                        <!--TIPO DE SORTEO MANUAL O AUTOMATICO-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                        
                                            <div class="form-group">
                                                <label  class="control-label">Tipo Sorteo:</label>
                                                <select class="form-control" [(ngModel)]="tipoProg" (change)="fcboTipoProg()" required #tprog="ngModel">
                                                    <option *ngFor="let tipo of _tipoProg" [ngValue]="tipo.id">{{tipo.nTipo}}</option>
                                                </select>
                                                <div id="validation" [hidden]="!tprog.touched || tprog.valid ">
                                                        Error, revise los datos ingresados
                                                </div>
                                            </div>
                                        </div>

                                        <!--FORMA DE PROGRAMACION POR TIEMPO Y CANTIDAD DE BUSES (Escala o Pescadito)-->
                                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label  class="control-label" >Forma Programacion:</label>
                                                <select class="form-control" [(ngModel)]="formaProg" (change)="formaProgramacion()" required #fprog="ngModel" >
                                                    <option *ngFor="let forma of _formaProg" [ngValue]="forma.id">{{forma.nForma}}</option>
                                                </select>
                                                <div id="validation" [hidden]="!fprog.touched || fprog.valid ">
                                                        Error, revise los datos ingresados
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!--BOTONES-->
            <div class="btn_Modal row">
                <div class="col-xl-4 col-md-6 col-sm-12 col-sx-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" 
                    (click)="guardarProgCabecera();" 
                    label="Continuar" 
                    [disabled]=" !(bAct>0 && bAct!=0) || !tprog.valid || !fprog.valid || !fde.valid || !fha.valid || !descrip.valid || !(dtSelectDias.length>4 && dtSelectDias.length<8)"></button>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12 col-sx-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelNewProgramacion(); tprog.reset(); fprog.reset(); fde.reset(); fha.reset(); descrip.reset();" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog> 
    
    <!--2DA VENTANA modal del boton guardar (2DA VENTANA  TERMINAR GENERANDO LA PROGRAMACION) -->
        <p-dialog [resizable]="false" [(visible)]="displayProgramacionBase" modal="modal" width="100%" responsive="true" [closable]="false" >            
            <div class="row">
                <div class="cont_modal">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            
                            <div class="form-group">
                                <label>Orden de Sorteo</label>
                                <p-pickList [source]="arrayPlacas" [target]="ordenSorteo" sourceHeader="Placa" targetHeader="Orden" [responsive]="false" 
                                            [sourceStyle]="{'height':'220px','width':'100px'}"  
                                            [targetStyle]="{'height':'220px','width':'100px'}">
                                    <template let-placa pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div style="display:inline-block; margin:5px 2px 2px 2px" >{{placa.nro}}</div>
                                            <div style="font-size:16px; float:right; margin:5px 5px 0 0">{{placa.nroPlaca}}</div>
                                        </div>
                                    </template>
                                </p-pickList>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>                 
            <!--BOTONES DE LA VENTANA-->           
            <div class="btn_Modal row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-sm-12">  
                    <button class="btn_modal"  pButton icon="fa-check" (click)="programacionSegundoModal()" 
                    label="Continuar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-sm-12">
                    <button class="btn_modal"  pButton icon="fa-close" (click)="cancelarProgBaseSegundoModal()" 
                    [disabled]="disabledButtonForm()" label="Cancelar"></button>
                </div>
            </div>
        </p-dialog> 

    <!--3RA VENTANA, HORA BASE DE SALIDA-->
        <p-dialog [resizable]="false" [(visible)]="displayHoraBase" modal="modal" width="100%" responsive="true" [closable]="false" >
            <p-header>Hora Base de Salidas</p-header>
            <div class="row">
                    <div class="cont_modal">
                        <div class="formHoraBase">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <!--HORAS-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <label id="PlacaSelectHB" [hidden]="nroMiniBus==nroTotalMinibuses">Placa {{placaEditarCelda}}</label>
                                        <br>
                                        <label id="PlacaSelectHB" [hidden]="nroMiniBus==nroTotalMinibuses">Agregados --> {{nroMiniBus+1}} de {{nroTotalMinibuses}}</label>
                                        <label [hidden]="nroMiniBus!=nroTotalMinibuses">Programacion Terminada</label>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="horaBase" #hBase="ngModel" required pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})" [hidden]="nroMiniBus==nroTotalMinibuses" >
                                        </div>
                                        <div id="validation" [hidden]="!hBase.touched || hBase.valid ">
                                            Error en los datos
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <button class="btn_modal" type="text" pButton icon="fa-check" 
                                        (click)="AgregarHBase();" 
                                        [hidden]="nroMiniBus==nroTotalMinibuses"
                                        label="Agregar" [disabled]="!hBase.valid "></button>
                                        
                                    </div>
                                    

                                    <!--DATA TABLE HORA BASE DE SALIDAS-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="table">
                                            <p-dataTable [value]="ordenSorteo" [editable]="true"
                                                        (onEditComplete)="onEditCompleteHB($event)"
                                                        (onEditCancel)="onEditCancelHB($event)"
                                                        (onEditInit)="onEditInitHB($event)"
                                                        scrollable="true" scrollHeight="210px" scrollWidth="100%" 
                                                        emptyMessage="Lista vacia"> 
                                                <p-column field="nro" header="N°"  [style]="{'width':'3em','text-align':'center'}"></p-column>
                                                <p-column field="nroPlaca" header="Placa"  [style]="{'width':'6em','text-align':'center'}"></p-column>
                                                <p-column field="HoraBase" header="Hora Base" [editable]="true" [style]="{'width':'6em','text-align':'center'}" ></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                    
                                    <!--CANCELAR-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-sx-12">
                                        <button class="btn_modal" type="text" pButton icon="fa-close" 
                                        (click)="cancelarProgBaseTercerModal(); hBase.reset();" 
                                        [hidden]="nroMiniBus==nroTotalMinibuses"
                                        label="Cancelar Programacion"></button>
                                    </div>
                                    <!--GENERAR PROGRAMACION-->
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-sx-12">
                                        <button class="btn_modal" type="text" pButton icon="fa-save" 
                                        (click)="generarProgramacionDetalle(); hBase.reset();" 
                                        [hidden]="nroMiniBus!=nroTotalMinibuses"
                                        label="Generar Programacion"></button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 

        </p-dialog>

    <!--EDITAR PROGRAMACION CABECERA-->
        <p-dialog [(visible)]="displayEditProgC" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <!--CUERPO-->
            <div class="row">
                <div class="cont_modal">
                    <div class="container">

                                <!--NOMBRE PARA RECONOCER A LA PROGRAMACION  -->
                                <div class="form-group">
                                    <label class="control-label">Nombre de la Programacion:</label>
                                    <input class="form-control" type="text" [(ngModel)]="progDescripcion" maxlength="30" #desc="ngModel" required />
                                
                                    <span *ngIf="!descrip.valid && descrip.touched" >
                                        <div id="validation" [hidden]="!descrip.errors.required"> Obligatorio </div>
                                    </span>
                                </div>

                    </div>
                </div>
            </div>
                
            <!--BOTONES-->
            <div class="btn_Modal row">
                <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12" 
                    style="
                        padding:5px 10px; 
                        margin:0px; 
                    ">
                    <button class="btn_modal"  pButton icon="fa-save" (click)="EditarProgCabecera()" label="Guardar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12"
                    style="
                        padding:5px 10px; 
                        margin:0px; 
                    ">
                    <button class="btn_modal"  pButton icon="fa-close" (click)="canEditarProgC()"   label="Cancelar"></button>
                </div>
                
            </div>
            
        </p-dialog>

    <!--MODAL VISTA PROGRAMACIONES (CLICK SOBRE UN REGISTRO)-->
        <p-dialog [(visible)]="displayProgramacion" modal="modal" width="100%" [closable]="false" [resizable]="false" *ngIf="nroColumn>=5">
            <p-header>Programacion</p-header>

            <div class="row">
                <div class="cont_modal">
                    <div id="programacion">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                
                                <table *ngIf="nroColumn>=30" id="progTPlacas1">   
                                    <thead><tr><th *ngFor="let diaNRO of calNumb;">{{diaNRO}}</th></tr></thead>
                                    <thead><tr><th *ngFor="let diaNRO of calString;">{{diaNRO}}</th></tr></thead>
                                    <tbody>
                                        <tr *ngFor="let c of _detalle">
                                            <td *ngFor="let placa of c">{{placa}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="30>nroColumn && nroColumn>=20" id="progTPlacas2">   
                                    <thead><tr><th *ngFor="let dia of calNumb;">{{dia}}</th></tr></thead>
                                    <thead><tr><th *ngFor="let diaNRO of calString;">{{diaNRO}}</th></tr></thead>
                                    <tbody>
                                        <tr *ngFor="let c of _detalle"><td *ngFor="let placa of c">{{placa}}</td></tr>
                                    </tbody>
                                </table>

                                <table *ngIf="20>nroColumn && nroColumn>10" id="progTPlacas3">
                                    <thead><tr><th *ngFor="let dia of calNumb;">{{dia}}</th></tr> </thead>
                                    <thead><tr><th *ngFor="let diaNRO of calString;">{{diaNRO}}</th></tr></thead>
                                    <tbody>
                                        <tr *ngFor="let c of _detalle">
                                            <td *ngFor="let placa of c">{{placa}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="10>=nroColumn && nroColumn>5" id="progTPlacas4">
                                    <thead><tr><th *ngFor="let dia of calNumb;">{{dia}}</th></tr></thead>
                                    <thead><tr><th *ngFor="let diaNRO of calString;">{{diaNRO}}</th></tr></thead>
                                    <tbody>
                                        <tr *ngFor="let c of _detalle">
                                            <td *ngFor="let placa of c">{{placa}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="5>=nroColumn && nroColumn>0" id="progTPlacas5">
                                    <thead><tr><th *ngFor="let dia of calNumb;">{{dia}}</th></tr></thead>   
                                    <thead><tr><th *ngFor="let diaNRO of calString;">{{diaNRO}}</th></tr></thead>                               
                                    <tbody>
                                        <tr *ngFor="let c of _detalle">
                                            <td *ngFor="let placa of c">{{placa}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--BOTONES DE LA VENTANA-->
            <div class="btn_Modal row">
                <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" style="padding:5px 10px; margin:0px;">
                    <button class="btn_modal"  icon="fa-download" pButton (click)="datosGenerarArchivo()" label="Bajar Archivo"></button>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" style=" padding:5px 10px; margin:0px; ">
                    <button class="btn_modal"  icon="fa-close" pButton (click)="cerrarProg()"   label="Cerrar"></button>
                </div>  
            </div>      
        </p-dialog>

    <!--TITULO Y NOMBRE DEL ARCHIVO A DESCARGAR-->
        <p-dialog header="Datos del Archivo" [(visible)]="displayDatosPDF" modal="modal" width="100%" height="100%" responsive="true" [resizable]="false" [closable]="false">
            <!--CUERPO-->
            <div class="row">
                <div class="cont_modal">
                    <div class="dataArchPDF">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <!--NOMBRE PARA RECONOCER A LA PROGRAMACION  -->
                            <div class="row">
                                <!--TITULO DE LA PROGRAMACION-->
                                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Titulo de la Programacion:</label>
                                                <input class="form-control" type="text" [(ngModel)]="titArchivoPDF" #titArc="ngModel"  maxlength="55" required>
                                            
                                                <span *ngIf="!titArc.valid && titArc.touched" >
                                                    <div id="validation" [hidden]="!titArc.errors.required"> Obligatorio </div>
                                                </span>
                                            </div>
                                        </div>
                                 
                            
                                        <!--NOMBRE DEL ARCHIVO PROGRAMACION-->
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Nombre del archivo:</label>
                                                <input class="form-control" type="text" [(ngModel)]="nomArchivoPDF" #nomArc="ngModel" maxlength="30"  required>
                                            
                                                <span *ngIf="!nomArc.valid && nomArc.touched" >
                                                    <div id="validation" [hidden]="!nomArc.errors.required"> Obligatorio </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--BOTONES-->
            <div class="btn_Modal row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" 
                    (click)="generarArchivo(); nomArc.reset(); titArc.reset();" 
                    label="Descargar" [disabled]="!nomArc.valid || !titArc.valid "></button>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" 
                    (click)="cancelarDatosGenerarArchivo(); nomArc.reset(); titArc.reset();" 
                    label="Cancelar"></button>
                </div>
            </div>
        </p-dialog>


<!--VENTANAS DE CONFIRMACION-->
        <!--MODAL CONFIRMAR EDITAR REGISTRO-->
        

        <!--MODAL CONFIRMAR ELIMINAR REGISTRO-->
        <p-dialog [(visible)]="displayConfEliminarCabecera" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal"  pButton (click)="borrarRegistro()" label="Aceptar"></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                        <button class="btn_modal"  pButton (click)="displayConfEliminarCabecera=false"   label="Cancelar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--MODAL ACEPTAR NUEVA PROGRAMACION (CONFIRMAR)-->
        <p-dialog [(visible)]="displayAceptarProgNueva" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <div *ngIf="nroTotalMinibuses==nroMiniBus">
                <p>{{mensajeEspera}}</p>
            </div>
            
            <div *ngIf="lengthProgDet!=0">
                    <p>{{mensajeProcesando}}</p>
            </div>

            <div *ngIf="nroMiniBus==0 && nroTotalMinibuses==-1">
                <p>{{mensaje}}</p>
            </div>
            
            <div class="btn_Modal row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button [hidden]="nroMiniBus!=0 && nroTotalMinibuses!=-1" class="btn_modal"  pButton (click)="aceptarNuevaProg()" label="Aceptar"></button>
                </div>
            </div>
        </p-dialog>

        <!--ERROR AL INGRESAR DATOS 1ERA VENTANA MODAL-->
        <p-dialog [(visible)]="displayErrorDatos" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="errorDatos()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--ERROR EN LA TABLA DE PROGRAMACION, VENTANA MODAL-->
        <p-dialog [(visible)]="displayErrorTablaProgramacion" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
              
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="errorTablaProgramacion()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--ERROR FALTAN PLACAS EN EL SORTEO, VENTANA MODAL-->
        <p-dialog [(visible)]="displayFaltanPlacas" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="faltanPlacas()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--MENSAJE SE ACABA DE DESCARGAR LA PROGRAMACION, VENTANA MODAL-->
        <p-dialog [(visible)]="displayDescargaProg" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="descargaProg()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--ERROR  MENSAJE NO SE PUEDE BORRAR LA PROGRAMACION-->
        <p-dialog [(visible)]="displayAvisoNoPuedeBorrarProg" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
               
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="OkProgNoPuedoBorrar()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

         <!--ERROR  NO SE PUEDE DESCARGAR LAS PLACAS DE LA BD-->
         <p-dialog [(visible)]="displayErrorCargarPlacas" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
               
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="aceptarErrorPlacas()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <!--SE GENERO CORRECTAMENTE LA PROGRAMACION-->
        <p-dialog [(visible)]="displayTerminoTodoGenerarProg" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <p>{{mensaje}}</p>
           
            <div class="btn_Modal row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal"  pButton (click)="aceptarGenProgComplet()" label="Aceptar"></button>
                </div>
            </div>
        </p-dialog>

         <!--ERROR ENTRE FECHAS IGNRESADAS EN EL PRIMER FORMULARIO CREAR PROGRAMACION-->
         <p-dialog [(visible)]="displayErrorFechIngrFormUno" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
               
            <div class="btn_Modal row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal"  pButton (click)="aceptarErrorFechasValidas()" label="Aceptar"></button>
                </div>
            </div>
        </p-dialog>

        <!--MENSAJE DE ESPERA-->
        <p-dialog [(visible)]="displayMensajeEspera" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <p>{{mensajeEspera}}</p>
        </p-dialog>


<!---->




