<div class="contenedor">
    <div id="titulo">Registro Diario de Vueltas</div>
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!--BUSQUEDA + BTNNUEVO + COMBO RUTA + COMBO PCONTROL-->
            <div class="row">
                <!--BUSQUEDA-->
                <div class="col-xl-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                    <input class="form-control" placeholder="Buscar..." type="text" #filtroGlobal/>
                </div>
                </div>

                <!--NUEVO REGISTRO style="float:left"-->
                <div class="col-xl-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                    <button class="form-control" 
                        id="btnNuevo" type="button" 
                        pButton icon="fa-file-text-o" 
                        [disabled]="_ruId==0" 
                        (click)="funcBtnNuevoRegistroDiario()" 
                        label="Nuevo Registro Diario" 
                    ></button>
                        </div>
                </div>
            </div>

            <!--TABLA CABECERA-->
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <div class=" table table-responsive">
                        <!--
                        <p-dataTable [value]="_allTarjControl" [rows]="5" [paginator]="true"  [globalFilter]="filtroGlobal" 
                            [responsive]="false" emptyMessage="Lista Vacia" scrollable="true" scrollWidth="100%" selectionMode="single" 
                            [(selection)]="selectedTarjCab" (onRowSelect)="onRowSelectCabecera($event)">
                            scrollable="true" scrollHeight="360px" scrollWidth="100%"
                        -->
                        <p-dataTable [value]="arrRegDiarioByEmId" 
                                     [globalFilter]="filtroGlobal"                                     
                                     [rows]="7" 
                                     [paginator]="true"
                                     emptyMessage="Lista Vacia"  
                                     selectionMode="single" 
                                     [(selection)]="selectedTarjCab" 
                                     (onRowSelect)="onRowSelectRegDiario($event)">

                            <!--campos de la datatable-->
                            <p-column styleClass="col-button" [style]="{'width':'3em','height':'2em','text-align':'center'}">
                                <template let-col let-row="rowData" pTemplate="body">
                                    <!--<button type="button" pButton id="btnTable" (click)="btnTabEditReDi(row.ReDiId)" icon="fa-pencil-square-o" > </button>-->
                                    <button type="button" pButton id="btnTable" (click)="btnTabDelReDi(row.ReDiId)" icon="fa-trash" > </button>
                                </template>
                            </p-column>
                            <p-column field="Nro" header="N°"  [style]="{'width':'4em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="ReDiFeha" header="Fecha"  [style]="{'width':'8em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="ReDiHoraInicioDiario" header="Hora Inicio"  [style]="{'width':'8em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="ReDiTotalVuelta" header="Vueltas"  [style]="{'width':'8em','text-align':'center','height':'2.8em'}"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>    

        </div>
    </div>
</div>

<!--MODALES-->
    <!--formulario-->
        <!--NUEVO REGISTRO DIARIO-->
        <p-dialog  [(visible)]="displayNuevoRegistroDiario" modal="modal" width="100%" height="100%" 
                    responsive="true" [resizable]="false" [closable]="false">
            <!--TITULO-->
            <p-header> Nuevo registro diario </p-header>

            <!--CUERPO-->
            <div class="contFormMRegDiario">
                <div class="bodyFormMRegDiario">
                        <!--orden subempresas-->
                        <div class="form-group">
                        
                                <button class="btn_modal" type="text" pButton icon="fa-file" 
                                (click)="funcBtnModOrdenSubEmpre();" 
                                [disabled]="!(CoSiId==2)" 
                                label="Orden Empresas"></button>
                            
                        </div>
                        
                        <!--FECHA FUNCIONAR EL REGISTRO DIARIO-->
                        <div class="form-group">
                            <label class="control-label">Fecha Actual:</label>
                            <input class="form-control" type="date" [(ngModel)]="fechRegDir" #fechRegDiario="ngModel" required />
                        
                            <span *ngIf="!fechRegDiario.valid && fechRegDiario.touched" >
                                <div id="validation" [hidden]="!fechRegDiario.errors.required"> Obligatorio </div>
                            </span>
                        </div>
                        <!--TOTAL DE VUELTAS POR EL DIA-->
                        <div class="form-group">
                            <label class="control-label">Numero Vueltas:</label>
                            <input class="form-control" type="number" [(ngModel)]="nTolVueltas" max=20 #ntolvul="ngModel" required />
                        
                            <span *ngIf="!ntolvul.valid && ntolvul.touched" >
                                <div id="validation" [hidden]="!ntolvul.errors.required"> Obligatorio </div>
                            </span>
                        </div>
                        <!--TIEMPO VUELTA-->
                        <div class="form-group">
                            <label class="control-label">Hora de Inicio:</label>
                            <input class="form-control" type="text" placeholder="hh:mm:ss"
                                    [(ngModel)]="ReDiHoraInicioDiario" #tmpvul="ngModel" required />
                        
                            <span *ngIf="!tmpvul.valid && tmpvul.touched" >
                                <div id="validation" [hidden]="!tmpvul.errors.required"> Obligatorio </div>
                            </span>
                        </div>
                   
                    
                </div>
                
                <!--BOTONES-->
                <div class="pieFormMRegDiario">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-check" 
                            (click)="guardarRegistroDiario(); fechRegDiario.reset(); ntolvul.reset(); tmpvul.reset();" 
                            label="Guardar Registro" [disabled]="!fechRegDiario.valid || !ntolvul.valid || !tmpvul.valid"></button>
                            <br>
                        </div>
                        
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-close" 
                            (click)="cancelGuardarRegistroDiario(); fechRegDiario.reset(); ntolvul.reset(); tmpvul.reset();" 
                            label="Cancelar"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>
        

        <!--Nuevo registro diario / orden de subempresas -->
        <p-dialog header="Orden de Sub-Empresas" [(visible)]="displayOrdenSubEmpresas" 
                  modal="modal" width="100%" height="100%" 
                  responsive="true" [resizable]="false" [closable]="false">
            <!--tabla-->
            <div class="contFormMRegDiaOrdSubEmp">
                <div class="bodyFormMRegDiaOrdSubEmp">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                            <p-dataTable [value]="arrSubEmp" scrollable="true" 
                                (onRowSelect)="onRowSelectSubEmp($event)"
                                (onRowUnselect)="onRowUnselectSubEmp($event)"
                                (onHeaderCheckboxToggle)="onHeaderCheckboxToggleSubEmp($event)"
                                scrollHeight="380px" scrollWidth="100%" 
                                emptyMessage="Lista Vacia" [(selection)]="selectedSubEmp">

                                <p-column field="Nro" header="N°"  [style]="{'width':'2em','text-align':'center'}"></p-column>
                                <p-column selectionMode="multiple" [style]="{'width':'2em'}"></p-column>
                                <p-column field="SuEmRSocial" header="Empresa"  [style]="{'width':'6em'}"></p-column>
                                <!--<p-column field="Orden" header="N° Orden"  [style]="{'width':'2em','text-align':'center'}"></p-column>-->
                            
                            </p-dataTable>
                        </div>

                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Listado:</label>
                            <ul>
                                <li *ngFor="let SubEmp of selectedSubEmp" style="text-align: left">
                                    {{SubEmp.Orden + ' - ' + SubEmp.SuEmRSocial}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <!--botones-->
                <div class="pieFormMRegDiaOrdSubEmp">
                    <div class="row justify-content-end">
                        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-check" 
                            (click)="aceptarOrderSubEmp();" label="Aceptar" [disabled]="!disBtnSaveAllSuEm"
                            ></button>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-check" 
                            (click)="cancelOrderSubEmp();" label="Cancelar"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--registro diario detalle-->
        <p-dialog header="Vuelta + Estado" [(visible)]="displayRegDiarioDetalle" modal="modal" width="100%" height="100%" 
                    responsive="true" [resizable]="false" [closable]="false">
            <!--tabla-->
            <div class="contFormMRegDiarioDet">
                <div class="bodyFormMRegDiarioDet">
                    <div class="table table-responsive">
                        <p-dataTable [value]="arrRegDiarioDetalleByEmId" scrollable="true"
                            scrollHeight="320px" scrollWidth="100%" selectionMode="single"
                            emptyMessage="Lista Vacia" >
                            <p-column field="ReDiDeNroVuelta" header="N°"  [style]="{'width':'2em','text-align':'center'}"></p-column>
                            <p-column field="ReDiDeNombreVuelta" header="Nombre"  [style]="{'width':'6em'}"></p-column>
                            <!--<p-column field="ReDiDeNroVuelta" header="N° V."  [style]="{'width':'3em','text-align':'center'}"></p-column>-->
                            <p-column field="ReDiDeEstado" header="Estado"  [style]="{'width':'6em'}"></p-column>
                        </p-dataTable>
                    </div>                 
                </div>
            
                <!--botones-->
                <div class="pieFormMRegDiarioDet">
                    <div class="row justify-content-end">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-check" 
                            (click)="cerrarTabRegDiarioDetalle();" label="Cerrar"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>


    <!--validacion-->
        <p-dialog [(visible)]="displayConfDelRegDiario" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensajevalidacion}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn_modal"  pButton (click)="okDelRegDiario()" label="Aceptar"></button>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn_modal"  pButton (click)="cancelDelRegDiario()"   label="Cancelar"></button>
                    </div>
                </div>
        </p-dialog>

        <p-dialog [(visible)]="displayErrorMismaFecha" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                <p>{{mensaje}}</p>
                <div class="btn_Modal row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn_modal"  pButton (click)="aceptarErrorMismoRegFecha()" label="Aceptar"></button>
                    </div>
                </div>
        </p-dialog>

        <p-dialog [(visible)]="displayErrorGuardar" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <p>{{mensaje}}</p>
            <div class="btn_Modal row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal"  pButton (click)="aceptarErrorGuardar()" label="Aceptar"></button>
                </div>
            </div>
        </p-dialog>

        <p-dialog [(visible)]="displayProcesoGuardando" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <p>{{mensaje}}</p>
        </p-dialog>