<div class="container">
    <div>Reporte de Buses</div>
    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
            <div>Opciones de Reporte</div>
            <select class="form-control">
                <option>Personas & Buses</option>
                <option>Telefonos & Buses</option>
                <option>Buses en el Sistema</option>
                <option>Buses por SubEmpresa</option>
            </select>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div  style="height:460px; width:100%;border: 2px solid rgb(0, 174, 0); overflow-y:auto;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
                <button pButton label="Descargar Archivo" style="height:40px; background:green; width:100%;"></button>
            </div>
        </div>
    </div>
</div>