<div class="contenedor">
    <div class="row">
        <!--TABLA -->
        <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12">
            <label>Manejo de Ruta</label>
    
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                    <input class="form-control" placeholder="Buscar..." type="text" #filtroGlobal />
                </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                    <button class="btn_modal" type="button" (click)="nuevaRutaMaestro()" 
                    pButton icon="fa-file-text-o" label="Nueva Ruta"></button>
                </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table table-responsive">
                    <p-dataTable [value]="rutasPresentar"  [globalFilter]="filtroGlobal" 
                        [rows]="4" [paginator]="true"  
                        selectionMode="single" emptyMessage="Lista vacia" (onRowSelect)="onRowSelect($event)"> 
                            <!--COLUMNAS-->
                            <p-column styleClass="col-button" [style]="{'width':'3em'}">
                                <template let-col let-Ruta="rowData" pTemplate="body" >
                                    <button style="background-color: #4CAF50" type="button" pButton (click)="editarRutaMaestro(Ruta.RuId)" icon="fa-pencil-square-o" class="btn"></button>
                                    <button style="background-color: #4CAF50" type="button" pButton (click)="eliminarRutaMaestro(Ruta.RuId)" icon="fa-trash" class="btn"></button>					
                                </template>          
                            </p-column>
                            <p-column field="nro" header="N°" [style]="{'width':'3em','text-align':'center'}"></p-column>
                            <p-column field="RuDescripcion" header="Descripcion" [style]="{'width':'12em'}" ></p-column>
                            <p-column field="RuFechaCreacion" header="Fundacion" [style]="{'width':'8em','text-align':'center'}" ></p-column>
                            <!--<div class="ui-helper-clearfix" style="width:100%"></div>-->
                    </p-dataTable>
                        </div>
                </div>
            </div>
        </div>

        <!--MAPA-->
        <div class="col-xl-8 col-md-12 col-sm-12 col-xs-12">

            <!--MAPA-->
            <div id="contMapa">
                <p-gmap 
                    #gmap
                    [options]="options" 
                    [overlays]="overlays"
                    [style]="{'width':'100%','height':'100%'}" 
                    (onMapClick)="handleMapClick($event)"
                    (onOverlayClick)="handleOverClick($event)"
                    (onOverlayDragEnd)="handleDragEnd($event)">
                </p-gmap>   
            </div>
           
            <!--BOTONES-->
            <div id="pieMapa">
                <div class="row justify-content-center">
                    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-12" >
                        
                        <button class="btn_mapa" [hidden]="actBtnCancel"  pButton  label="Cancelar" 
                                icon="fa-close" (click)="funcBtnMCancel()" [disabled]="disButCancelar"
                        ></button>
                        
                        <button class="btn_mapa" [hidden]="actBtnEditar"  pButton label="Editar" 
                                icon="fa-edit" (click)="showmodalEditar()" [disabled]="disButEditar"
                        ></button>  

                        <button class="btn_mapa" [hidden]="actBtnNuevo" pButton  label="Nuevo" 
                                icon="fa-file-o" (click)="nuevaRutaDetalle()" [disabled]="disButNuevaRuta"
                        ></button>
                    </div>

                    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-12" >
                        <button class="btn_mapa" [hidden]="actBtnGuardar"  pButton  label="Guardar"
                                icon="fa-save" (click)="guardarPuntosRutaDetalle()" [disabled]="disButSubirRuta"
                        ></button>
                    </div>

                    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-12" >
                        <button class="btn_mapa" [hidden]="actBtnAtras"  pButton  label="Atras" 
                                icon="fa-mail-reply" (click)="deshacer()" [disabled]="disButDeshacer"
                        ></button>
                    </div>

                    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-12" >
                        <button class="btn_mapa" [hidden]="actBtnBorrar" pButton label="Borrar" 
                                icon="fa-eraser" (click)="clear()"[disabled]="disButBorrar"
                        ></button>                    
                    </div>

                </div>
            </div>

        </div>  
    </div>
</div>

<!--FORMULARIOS-->

         <!--Modal boton nuevo ruta-->
         <p-dialog [(visible)]="displayNuevaRutaModal" [resizable]="false" 
                    modal="modal" width="100%" height="100%"
                    responsive="true" [closable]=false>
            <p-header>{{headertitle}} Ruta</p-header>

            <div class="contMAddRuta">
                <div class="bodyMAddRuta">
                    <!--DESCRIPCION-->
                    <div class="form-group">
                        <label >Nombre: </label>
                        
                        <input type="text" class="form-control" [(ngModel)]="Ruta.RuDescripcion" maxlength="20" required #desc="ngModel"/>
                        <span *ngIf="!desc.valid && desc.touched"  >  
                            <div id="validation" [hidden]="!desc.errors.required" > obligatorio </div>
                        </span>
                        
                    </div>

                    <!--FECHA FUNDACION-->
                    <div class="form-group">
                        <label >Fecha Fundacion:</label>
                        
                            <input type="date" class="form-control" min="1980-01-01" [(ngModel)]="Ruta.RuFechaCreacion" required #fcrea="ngModel" />
                            <span *ngIf="!fcrea.valid && fcrea.touched"  >  
                                <div id="validation" [hidden]="!fcrea.errors.required"> obligatorio </div>
                            </span>
                        
                    </div>

                    <!--NRO DE REGISTRO MUNICIPAL-->
                    <div class="form-group">
                        <label >Nro. Registro:</label>
                        
                            <input type="text" class="form-control" [(ngModel)]="Ruta.RuRegMunicipal" name="regmunicipal" required #freg="ngModel" />
                            <span *ngIf="!freg.valid && freg.touched"   >  
                                <div id="validation" [hidden]="!freg.errors.required"> obligatorio </div>
                            </span>
                        
                    </div>

                    <!--LONGITUD DE LA RUTA EN KILOMETROS-->
                    <div class="form-group" >
                        <label>Kilometro: </label>
                        
                            <input type="number" class="form-control" [(ngModel)]="Ruta.RuKilometro" name="kilometro" required #fkil="ngModel" pattern="[0-9]{2}"/>
                            <span *ngIf="!fkil.valid && fkil.touched"  >  
                                <div id="validation" [hidden]="!fkil.errors.required"> obligatorio </div>
                                <div id="validation" [hidden]="!fkil.errors.pattern" >Solo 2 Digitos</div>
                            </span>
                        
                    </div>
                </div>

                <!--BOTONES-->
                <div class="pieMAddRuta">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-save"  (click)="saveRutaMaestro(); desc.reset(); freg.reset(); fcrea.reset(); fkil.reset(); " [disabled]="!desc.valid || !freg.valid || !fcrea.valid || !fkil.valid"  label="Guardar"></button>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancelRutaMaestro(); desc.reset(); freg.reset(); fcrea.reset(); fkil.reset(); " label="Cancelar"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

         <!--modal boton editar (PARA DECIDIR SI SE EDITA O NO)-->
         <p-dialog  [(visible)]="displayfromEditar" [resizable]="false" modal="modal" width="100%" 
                    [closable]="false" responsive="true">

                <div class="conMMjsUser">
                    <div class="bodyMMjsUser">
                        <p>¿Desea editar la Ruta?</p>
                    </div>
                    <div class="pieMMjsUser">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                                <button class="btn_modal" type="button" pButton icon="fa-check" (click)="editar()" label="Aceptar"></button>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-6 col-xm-12">
                                <button class="btn_modal" type="button" pButton icon="fa-close" (click)="displayfromEditar=false" label="Cancelar"></button>
                            </div>
                        </div>
                    </div>
                </div>
         </p-dialog>

    <!--MODAL PARA MENSAJES PARA EL USUARIO-->
         
        <!--CONDICIONAL ELIMINAR CABECERA-->
         <p-dialog [(visible)]="displayConfirmar" [resizable]="false" modal="modal" width="100%" 
                    [closable]="false" responsive="true">
             
             
                <!--<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">-->
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">
                   
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" (click)="eliminarRuta()" label="Aceptar"></button>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-close" (click)="displayConfirmar=false" label="Cancelar"></button>
                        </div>
                    </div>
                </div>
            </div>
         </p-dialog>

         <!--CONDICIONAL ELIMINAR RUTA DETALLE-->
         <p-dialog [(visible)]="displayConfBorrarRuta" [resizable]="false" modal="modal" 
                    [closable]="false" width="100%" responsive="true">
             
             <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                    <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">
                    
                    <!--<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">-->
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" (click)="borrarRutaDetalleBd()" label="Aceptar"></button>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancelarBorrarRutaBd()" label="Cancelar"></button>
                        </div>
                    </div>
                </div>
            </div>
         </p-dialog>

        <!--NO SE PUEDE AGREGAR NODOS  SOBRE EL MAPA-->
        <p-dialog [(visible)]="displayAddMakerDesactivado" [resizable]="false" modal="modal" 
                    width="100%" responsive="true" [closable]="false">
            <div class="conMMjsUser">
                    <div class="bodyMMjsUser">
                            <p>{{Mensaje}}</p>
                    </div>
                    <div class="pieMMjsUser">

                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarAddMarkerDesactivado()"></button>
                            </div>
                        </div>
                    </div>
                </div>
        </p-dialog>

            <!--NO HAY GRAFICA DE LA RUTA-->
        <p-dialog [(visible)]="displaySinGrafica" [resizable]="false" modal="modal" width="100%"
                  responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">

                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarSinGrafica()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

            <!--SE GUARDO LA RUTA CORRECTAMENTE-->
        <p-dialog [(visible)]="displayGuardarCorrecto" [resizable]="false" modal="modal" width="100%" 
                    responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">            
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarGuardarCorrectamente()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--NUEVA RUTA-->
        <p-dialog [(visible)]="displayNuevaRuta" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">

                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarNuevaRuta()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--DEBE TERMINAR LA RUTA PARA SELECCIONAR OTRA FILA-->
        <p-dialog [(visible)]="displayTerminarForSave" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarTerminarRuta()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--DEBE TERMINAR (TRAZAR) LA RUTA PARA GUARDAR-->
        <p-dialog [(visible)]="displayTermineRuta" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="aceptarTermineRuta()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--ERROR, LA RUTA NO PERMITIDA PARA GUARDAR-->
        <p-dialog [(visible)]="displayrutaNoPermitida" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="rutaNoPermitida()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!--ATENCION, LA RUTA NO ESTA PERMITIDA -->
        <p-dialog [(visible)]="displaytrazaNoValida" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
            <div class="conMMjsUser">
                <div class="bodyMMjsUser">
                        <p>{{Mensaje}}</p>
                </div>
                <div class="pieMMjsUser">            
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="button" pButton icon="fa-check" label="Aceptar" (click)="trazaNoValida()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>
            