<!--RUTA-->
<div class="contenedor">
    <!--TITULO-->
    <div class="titulo">Manejo de Ruta</div>

    <!--BUSQUEDA-->
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
            <input class="form-control" placeholder="Buscar..." type="text"  id="gb1" #filtroGlobal />
        </div>
        <div class="col-xl-2 col-md-2 col-sm-6 col-xs-12">
            <button type="button" (click)="nuevaRutaMaestro()" style="float:left" pButton icon="fa-file-text-o" label="Nuevo"></button>
        </div>
    </div>

    <!--CUERPO-->
    <div class="row">
        <!--TABLA MAESTRO RUTA-->
        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="table table-responsive">
                    <p-dataTable [value]="rutasPresentar" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" 
                        scrollable="true"  scrollWidth="100%" selectionMode="single"[(selection)]="selectedRutaPresentar" (onRowSelect)="onRowSelect($event)">
                            <!--COLUMNAS-->
                            <p-column styleClass="col-button" [style]="{'width':'3em'}">
                                <template let-col let-Ruta="rowData" pTemplate="body" >
                                    <button id="btnTable" type="button" pButton (click)="editarRutaMaestro(Ruta.RuId)" icon="fa-pencil-square-o" class="btn"></button>
                                    <button id="btnTable" type="button" pButton (click)="eliminarRutaMaestro(Ruta.RuId)" icon="fa-trash" class="btn"></button>					
                                </template>          
                            </p-column>
                            <p-column field="nro" header="N°" [style]="{'width':'4em','text-align':'center'}"></p-column>
                            <p-column field="RuDescripcion" header="Descripcion" [style]="{'width':'18em'}" ></p-column>
                            <p-column field="RuFechaCreacion" header="Creacion" [style]="{'width':'8em','text-align':'center'}" ></p-column>

                            <p-footer>
                                <div class="ui-helper-clearfix" style="width:100%">
                                    
                                </div>
                            </p-footer>
                    </p-dataTable>
                </div>
            </div>
        </div>

        <!--MAPA-->
        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
            <!--MAPA-->
            <div class="row">
                <div class="col-xl-12">
                    <div id="mapa">
                        <!--<div class="form"><h5 id="mymaparuta">Trazar la ruta</h5></div>-->
                        <p-growl [value]="msgs"></p-growl>
                        <p-gmap 
                            #gmap
                            [options]="options" 
                            [overlays]="overlays"
                            [style]="{'width':'100%','height':'380px'}" 
                            (onMapClick)="handleMapClick($event)"
                            (onOverlayClick)="handleOverClick($event)"
                            (onOverlayDragEnd)="handleDragEnd($event)">
                        </p-gmap>   
                    </div>
                </div>
            </div>

            <!--BOTONES-->
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12" >
                    <div id="btnMap">
                        <button id="btn" [hidden]="actBtnNuevo" type="button" pButton  label="Nuevo" (click)="nuevaRutaDetalle()" [disabled]="disButNuevaRuta"></button>
                        <button id="btn" [hidden]="actBtnEditar" type="button" pButton label="Editar" (click)="showmodalEditar()" [disabled]="disButEditar"></button>           
                        <button id="btn" [hidden]="actBtnGuardar" type="button" pButton  label="Guardar" (click)="guardarPuntosRutaDetalle()" [disabled]="disButSubirRuta"></button>
                        <button id="btn" [hidden]="actBtnAtras" type="button" pButton  label="Atras" (click)="deshacer()" [disabled]="disButDeshacer"></button>
                        <button id="btn" [hidden]="actBtnBorrar" type="button" pButton label="Borrar" (click)="clear()"[disabled]="disButBorrar"></button>
                    </div>
                </div>
            </div>
        </div><!--END MAP-->
    </div>
</div><!--END CONTAINER PRINCIPAL-->



         <!--Modal boton nuevo ruta-Maestro-->
         <p-dialog [(visible)]="displayNuevaRutaModal" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]=false>
            <p-header>{{headertitle}} Ruta</p-header>

            <!--DESCRIPCION-->
            <div class="form-group row">
                <label for="descripcion" class="col-4 col-form-label">Descripcion: </label>
                <div class="col-8">
                    <textarea class="form-control" id="descripcion" row="4" [(ngModel)]="Ruta.RuDescripcion" name="descripcion"  required #desc="ngModel" ></textarea>
                    <span *ngIf="!desc.valid && desc.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                        <div [hidden]="!desc.errors.required"> obligatorio </div>
                    </span>
                </div>
            </div>

            <!--FECHA CREACION-->
            <div class="form-group row">
                <label for="fechacreacion" class="col-4 col-form-label">Fecha Creacion:</label>
                <div class="col-8">
                    <input type="date" class="form-control" id="fechacreacion" min="1980-01-01" [(ngModel)]="Ruta.RuFechaCreacion" name="fcreacion" required #fcrea="ngModel" />
                    <span *ngIf="!fcrea.valid && fcrea.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                        <div [hidden]="!fcrea.errors.required"> obligatorio </div>
                    </span>
                </div>
            </div>

            <!--NRO DE REGISTRO MUNICIPAL-->
            <div class="form-group row">
                <label for="regmunicipal" class="col-4 col-form-label">Nro. Registro:</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="regmunicipal" [(ngModel)]="Ruta.RuRegMunicipal" name="regmunicipal" required #freg="ngModel" />
                    <span *ngIf="!freg.valid && freg.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                        <div [hidden]="!freg.errors.required"> obligatorio </div>
                    </span>
                </div>
            </div>

            <!--LONGITUD DE LA RUTA EN KILOMETROS-->
            <div class="form-group row">
                <label for="kilometro" class="col-4 col-form-label">Kilometro: </label>
                <div class="col-8">
                    <input type="number" class="form-control" id="kilometro" [(ngModel)]="Ruta.RuKilometro" name="kilometro" required #fkil="ngModel" pattern="[0-9]{2}"/>
                    <span *ngIf="!fkil.valid && fkil.touched" class="alert alert-danger" style="display: inline-block; font-size: 80%;"  >  
                        <div [hidden]="!fkil.errors.required"> obligatorio </div>
                        <div [hidden]="!fkil.errors.pattern">Solo 2 Digitos</div>
                    </span>
                </div>
            </div>
                    
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12">
                    <button class="btn_modal" type="button" pButton icon="fa-spin"  (click)="saveRutaMaestro(); desc.reset(); freg.reset(); fcrea.reset(); fkil.reset(); " [disabled]="!desc.valid || !freg.valid || !fcrea.valid || !fkil.valid"  label="Guardar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xm-12">
                    <button class="btn_modal" type="button" pButton icon="fa-close" (click)="cancelRutaMaestro(); desc.reset(); freg.reset(); fcrea.reset(); fkil.reset(); " label="Cancelar"></button>
                </div>
            </div>
        </p-dialog>

         <!--modal boton editar (PARA DECIDIR SI SE EDITA O NO)-->
         <p-dialog  [(visible)]="displayfromEditar" [resizable]="false" modal="modal" width="100%" responsive="true">
            <p>¿Desea editar la Ruta?</p>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="displayfromEditar=false" label="No"></button>
                    <button type="button" pButton icon="fa-check" (click)="editar()" label="Si"></button>
                </div>
            </p-footer>
         </p-dialog>

         <!--CONDICIONAL ELIMINAR CABECERA-->
         <p-dialog [(visible)]="displayConfirmar" [resizable]="false" modal="modal" width="100%" responsive="true">
             <p>{{Mensaje}}</p>
             <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="displayConfirmar=false" label="No"></button>
                    <button type="button" pButton icon="fa-check" (click)="eliminarRuta()" label="Si"></button>
                </div>
            </p-footer>
         </p-dialog>

         <!--CONDICIONAL ELIMINAR RUTA DETALLE-->
         <p-dialog [(visible)]="displayConfBorrarRuta" [resizable]="false" modal="modal" width="100%" responsive="true">
             <p>{{Mensaje}}</p>
             <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="cancelarBorrarRutaBd()" label="No"></button>
                    <button type="button" pButton icon="fa-check" (click)="borrarRutaDetalleBd()" label="Si"></button>
                </div>
            </p-footer>
         </p-dialog>

    <!--MODAL PARA MENSAJES PARA EL USUARIO-->
            <!--NO SE PUEDE AGREGAR NODOS  SOBRE EL MAPA-->
            <p-dialog [(visible)]="displayAddMakerDesactivado" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarAddMarkerDesactivado()"></button>
                    </div>
                </p-footer>
            </p-dialog>

             <!--NO HAY GRAFICA DE LA RUTA-->
            <p-dialog [(visible)]="displaySinGrafica" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarSinGrafica()"></button>
                    </div>
                </p-footer>
            </p-dialog>

             <!--SE GUARDO LA RUTA CORRECTAMENTE-->
            <p-dialog [(visible)]="displayGuardarCorrecto" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarGuardarCorrectamente()"></button>
                    </div>
                </p-footer>
            </p-dialog>

            <!--NUEVA RUTA-->
            <p-dialog [(visible)]="displayNuevaRuta" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarNuevaRuta()"></button>
                    </div>
                </p-footer>
            </p-dialog>

            <!--DEBE TERMINAR LA RUTA PARA SELECCIONAR OTRA FILA-->
            <p-dialog [(visible)]="displayTerminarForSave" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarTerminarRuta()"></button>
                    </div>
                </p-footer>
            </p-dialog>

            <!--DEBE TERMINAR (TRAZAR) LA RUTA PARA GUARDAR-->
            <p-dialog [(visible)]="displayTermineRuta" [resizable]="false" modal="modal" width="100%" responsive="true" [closable]="false">
                {{Mensaje}}
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Aceptar" (click)="aceptarTermineRuta()"></button>
                    </div>
                </p-footer>
            </p-dialog>

            
<!--

    COPIAS
    col-xl-6 col-md-6 col-sm-12 col-xm-12

     <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content">
            
                </div>
            </p-footer>
             </div>
            </div>
            <div class="col-xl-6 col-xl-6 col-sm-12 col-xs-12">
                <div id="botonesMap">


      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12" >
            <div id="botonesMap">
                <button id="btn" type="button" pButton  icon="fa-eraser" label="Borrar" (click)="clear()"[disabled]="disButBorrar"></button> 
                <button id="btn" type="button" pButton  icon="fa-edit" label="Editar" (click)="showmodalEditar()" [disabled]="disButEditar"></button>           
                <button id="btn" type="button" pButton  icon="fa-circle-o" label="Terminar" (click)="ultimalinea()" [disabled]="disButTerminarRuta" ></button>
            </div>
        </div>
        <div class="col-xl-6 col-xl-6 col-sm-12 col-xs-12">
            <div id="botonesMap">
                <button id="btn" type="button" pButton  icon="fa-save" label="Guardar" (click)="guardarPuntosRutaDetalle()" [disabled]="disButSubirRuta"></button>
                <button id="btn" type="button" pButton  icon="fa-mail-reply" label="Deshacer" (click)="deshacer()" [disabled]="disButDeshacer"></button>
                <button id="btn" type="button" pButton  icon="fa-file-o" label="Nuevo" (click)="nuevaRutaDetalle()" [disabled]="disButNuevaRuta"></button>
            </div>
        </div>

-->