<div class="card w-120">
    <div class="card-block">
        <h4 class="card-title">Tarjetas De Control </h4>
        
        <input placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
        
        <!--boton nuevo-->
        <button type="text" (click)="nuevaAsignaTarjeta()" pButton label="Nuevo" data-toggle="modal" ></button>
        
        <!--TABLA MAESTRO  [pageLinks]="3" [rowsPerPageOptions]="[3,10,20]"-->
        
        <p-dataTable [value]="_allTarjControl" [rows]="5" [paginator]="true"  [globalFilter]="filtroGlobal"
            scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedProgPresentar" (onRowSelect)="onRowSelectCabecera($event)">
            <p-column styleClass="col-button" [style]="{'width':'6em'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <button type="button" pButton class="btn" (click)="editarC(row.TaCoId)" icon="fa-pencil-square-o" > </button>
                    <button type="button" pButton class="btn" (click)="eliminarC(row.TaCoId)" icon="fa-trash" > </button>
                </template>
            </p-column>
            <!--campos de la datatable-->
            <p-column field="nro" header="N°"  [style]="{'width':'3em'}"></p-column>
            <p-column field="PuCoId" header="Punto De Control|"  [style]="{'width':'12em'}"></p-column>
            <!--<p-column field="rutaDescripcion" header="Puntos"  [style]="{'width':'9em'}"></p-column>-->
            <!--<p-column field="BuId" header="BuId"  [style]="{'width':'9em'}"></p-column>-->
            <p-column field="RuId" header="Ruta"  [style]="{'width':'12em'}"></p-column>
            <p-column field="placa" header="Placa"  [style]="{'width':'8em'}"></p-column>
            <p-column field="TaCoFecha" header="Fecha"  [style]="{'width':'9em'}"></p-column>
            <p-column field="TaCoHoraSalida" header="Salida"  [style]="{'width':'7em'}"></p-column>
        </p-dataTable>
        
    </div>

    <!--TABLA DETALLE TARJETA CONTROL-->
    <div class="card-block">
        <div>
            <h4>Tarjeta</h4>
        </div>
        <div class="card-block" style="padding:3">
            <div class="card-text">
                <!--<p-dataTable [value]="_allTarjDetalle" [globalFilter]="filtroGlobal" [rows]="10" scrollable="true" scrollHeight="100px" selectionMode="single">-->
                <p-dataTable [value]="_allTarjDetalle" [rows]="10"   [globalFilter]="filtroGlobal"
                    scrollable="true" [paginator]="true" selectionMode="single" scrollWidth="100%" >
                    <!--
                        <p-column styleClass="col-button" [style]="{'width':'6em'}"> 
                            <template pTempalte="header"> [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                <button type="button" pButton icon="fa-refresh">  </button>
                            </template>
                            <template let-col let-envioPresentar="rowData" pTemplate="body">
                                <button type="button" class="btn"> </button>
                                <button type="button" class="btn"> </button>
                            </template>
                        </p-column>TaCoDeHora
                    -->
                    <p-column field="nro" header="N°"  [style]="{'width':'3em'}"></p-column>
                    <p-column field="TaCoDeDescripcion" header="Punto"  [style]="{'width':'10em'}"></p-column>
                    <!--<p-column field="TaCoDeId" header="TaCoDeId"  [style]="{'width':'9em'}"></p-column>-->
                    <p-column field="TaCoDeHora" header="Control"  [style]="{'width':'7em'}"></p-column>
                    <p-column field="TaCoDeTiempo" header="Tiempo"  [style]="{'width':'7em'}"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

    <!--modal boton nuevo-->
    <p-dialog [(visible)]="displayAsignarTarjeta" modal="modal" width="100%" [closable]= false>
            <!--PUNTOS DE CONTROL EXISTENTES-->
            <div class="form-group row">
                <div class="col-3">
                <label class="col-2 col-form-label">Puntos:</label>
                </div>
                <div class="col-9">
                <select class="form-control" [(ngModel)]="puntoControl" (change)="puntosControlId($event)">
                    <option *ngFor="let punto of _puntosControl" [ngValue]="punto" selected="selected">
                        {{punto.RuDescripcion}}
                    </option>
                </select>
                </div>
            </div>
      
        <!--LISTA PROGRAMACION EN LA BD-->
            <div class="form-group row">
                <div class="col-4">
                <label class="col-3 col-form-label">Programas:</label>
                </div>
            <div class="col-8">
                <select class="form-control" [(ngModel)]="_prId" (change)="programacionId($event)">
                    <option *ngFor="let prog of _programacion" [ngValue]="prog.prId">
                        {{prog.prDescripcion}}
                    </option>
                </select>
                </div>
            </div>

            <!--fecha programacion-->
            <div class="form-group row ">
                <div class="col-4">
                    <label class="col-2 col-form-label" >Fecha:</label>
                </div>
                <div class="col-7 row">
                    <input class="form-control" name="fecha" placeholder="MM/DD/YYY" type="date" [(ngModel)]="tarjeta._TaCoFecha" />
                </div>
                <div class="col-1 row">    
                    <button type="button" (click)="buscarxFecha()" pButton icon="fa-search" label=" "></button>
                </div>
            </div>

            <!--programacion (AQUI UN DATATABLE     OPCIONAL)-->
            <div class="container form-group row">
                <div class="col-3">
                    <label class="col-2 col-form-label">Placas:</label>
                </div>
                <div class="col-10">
                    <p-dataTable [value]="_progDetalle" scrollable="true" scrollHeight="100px" selectionMode="single" (onRowSelect)="onRowPlaca($event)">
                            <p-column field="BuId" [style]="{'width':'3em'}" ></p-column>
                            <p-column field="nroPlaca" [style]="{'width':'6em'}" ></p-column>
                    </p-dataTable>
                </div>
                
            </div>

            <!--ESTADO-->
            <div class="form-group row">
                <div class="col-3">
                        <label for="cuota" class="col-1 col-form-label">Estado:</label>
                </div>
                <div class="col-9">
                    <label class="radio-inline"><p-radioButton  value="0" label="No Asig" [(ngModel)]="val"></p-radioButton></label>
                    <label class="radio-inline"><p-radioButton  value="1" label="Asig"   [(ngModel)]="val"></p-radioButton></label>
                    <label class="radio-inline"><p-radioButton  value="2" label="Ausente" [(ngModel)]="val"></p-radioButton></label>
                </div>
            </div>

            <!--hora salida <div class="form-group row"></div>--><!--nro vuelta-->  
            <div class="form-group row">
                <div class="form-group">
                    <!--<label for="hora" class="col-1 col-form-label">Salida:</label>-->
                    <label class="control-label" for="hora">Salida:</label>
                    <input class="form-control" type="time" value="00:00:00" id="hora" [(ngModel)]="tarjeta._TaCoHoraSalida"  step="1" >   
                </div>
                <div class="form-group">    
                    <!--<label for="cuota" class="col-1 col-form-label">Cuota:</label>-->
                    <label class="control-label" for="cuota">Cuota:</label>
                    <div class="col-6">
                        <input class="form-control" type="number"  value="0"   id="cuota"    [(ngModel)]="tarjeta._TaCoCuota">
                    </div>
                </div>     
            </div>
        
            <!--modal footer-->
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix" >    
                    <button type="button" pButton  (click)="guardarTarjeta()" label="Guardar"></button>
                    <button type="button" pButton  (click)="cancelarTarjeta()" label="Cancelar"></button>
                </div>
            </p-footer>
    </p-dialog>

    <!--EDITAR PUNTOS DE CONTROL-->
     <p-dialog [(visible)]="displayEditarTarjeta" modal="modal" width="100%" [closable]= false>
         <!--PUNTOS DE CONTROL EXISTENTES-->
            <div class="form-group row">
                <div class="form-group">
                    <label  class="control-label">Puntos:</label>
                    <select class="form-control" [(ngModel)]="puntoControl" (change)="puntosControlId($event)">
                        <option *ngFor="let punto of _puntosControl" [ngValue]="punto" selected="selected">
                            {{punto.RuDescripcion}}
                        </option>
                    </select>
                </div>
            </div>

             <!--hora salida <div class="form-group row"></div>--><!--nro vuelta-->  
            <div class="form-group row">
                <div class="form-group">
                    <!--<label for="hora" class="col-1 col-form-label">Salida:</label>-->
                    <label class="control-label" for="hora">Salida:</label>
                    <input class="form-control" type="text"  id="hora" [(ngModel)]="tarjeta._TaCoHoraSalida"  step="1" >   
                </div>
            </div>
             <div class="form-group row">
                <div class="form-group">    
                    <!--<label for="cuota" class="col-1 col-form-label">Cuota:</label>-->
                    <label class="control-label" for="cuota">Cuota:</label>
                    <input class="form-control" type="number"  id="cuota"  [(ngModel)]="tarjeta._TaCoCuota">
                </div>     
            </div>
            <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" >    
                <button type="button" pButton  (click)="guardarTarjeta()" label="Guardar"></button>
                <button type="button" pButton  (click)="cancelarEditarTarjeta()" label="Cancelar"></button>
            </div>
        </p-footer>
     </p-dialog>  

     <p-dialog [(visible)] = "displayConfirmarEliminar" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix" > 
                    <button type="button" pButton (click)="cancelar_eliminarC()" label="Cancelar"></button>
                    <button type="button" pButton (click)="_eliminarC()" label = "Eliminar"></button>
                </div>
            </p-footer>
     </p-dialog>  
<!--<div class="col-6">
     <div class="col-3">
                    <div class="col-9">
                </div>
                </div>
    class="col-2 col-form-label"
    -->
                                    <!--</div>
                                    <div class="col-6">-->
                            <!--<div class="col-6">-->
                            <!--</div>-->

                            <!--NRO DE ASIGNACIONES AL CHOFER-->
                            <!--
                               <div class="col-3">
                                    <label for="Repeat" class="col-1 col-form-label">N.A.</label>
                                    <input class="form-control" type="number" value="50" id="Repeat" [(ngModel)]="TaCoNroRepeat">
                               </div>
                            -->

                            <!--    
                                    <div class="col-9">
                                        <select [(ngModel)]="placa" (change)="placaObj($event)">
                                            <option *ngFor="let progde of _progDetalle" [ngValue]="progde">
                                                {{progde.nroPlaca}}
                                            </option>
                                        </select>
                                    </div>
                                 -->
