<!--PRINCIPAL TABLAS-->
    <div class="contenedor">
        <!--TITULO-->
        <div id="titulo"> Tarjetas de Control </div>
    
        <!--BUSQUEDA + BTNNUEVO + COMBO RUTA + COMBO PCONTROL-->
        <div class="row">
            <!--COMBO RUTAS-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <select class="form-control" required [(ngModel)]="_ruId" (change)="rutaId($event)"   #ruta="ngModel">
                    <!--<option value="" disabled selected hidden>Please Choose...</option>-->
                    <option *ngFor="let ruta of rutas" [value]="ruta.RuId">{{ruta.RuDescripcion}}</option>
                </select> 
            </div>

            <!--COMBO PUNTOS CONTROL-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <select class="form-control" required [(ngModel)]="_pcId" (change)="pControlId($event)"   #pcontrol="ngModel">
                    <!--<option value="" disabled selected hidden>Please Choose...</option>-->
                    <option *ngFor="let punto of _puntosControl" [value]="punto.PuCoId">
                        {{punto.PuCoDescripcion}} / {{punto.PuCoTiempoBus}}
                    </option>
                </select> 
            </div>

            <!--BUSQUEDA-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
            </div>

            <!--NUEVO REGISTRO style="float:left"-->
            <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                <button class="form-control" id="btnNuevo" type="button"  pButton icon="fa-file-text-o" [disabled]="_ruId==0" (click)="nroAsigTarjetas()" label="Asignar Tarjeta" ></button>
            </div>
        </div>

        <!--TABLA CABECERA-->
        <div class="row">
            <!--<div class="col-xl-12 col-md-12 col-sm-12 col-xs-12"></div>-->
                <div class=" table table-responsive">
                    <p-dataTable [value]="_allTarjControl" [rows]="5" [paginator]="true"  [globalFilter]="filtroGlobal" [responsive]="false" emptyMessage="Lista Vacia"
                        scrollable="true" scrollWidth="100%" selectionMode="single" [(selection)]="selectedTarjCab" (onRowSelect)="onRowSelectCabecera($event)">
                        
                        <!--campos de la datatable-->
                        <p-column styleClass="col-button" [style]="{'width':'3em','height':'4em'}">
                            <template let-col let-row="rowData" pTemplate="body">
                                <!--<button type="button" pButton id="btnTable" (click)="editarC(row.TaCoId)" icon="fa-pencil-square-o" > </button>-->
                                <button type="button" pButton id="btnTable" (click)="eliminarC(row.TaCoId)" icon="fa-trash" > </button>
                            </template>
                        </p-column>
                        <p-column field="nro" header="N°"  [style]="{'width':'4em','text-align':'center'}"></p-column>
                        <p-column field="BuDescripcion" header="Descripcion Bus"  [style]="{'width':'17em'}"></p-column>
                        <p-column field="BuPlaca" header="Placa"  [style]="{'width':'8em','text-align':'center'}"></p-column>
                        <p-column field="TaCoFecha" header="Fecha"  [style]="{'width':'9em','text-align':'center'}"></p-column>
                        <p-column field="TaCoHoraSalida" header="Salida"  [style]="{'width':'7em','text-align':'center'}"></p-column>
                    </p-dataTable>
                </div>
            
        </div>    

        <!--TABLA DETALLE TARJETA CONTROL-->
        <div class="row">
                <div class=" table table-responsive">
                    <p-dataTable [value]="_allTarjDetalle" [rows]="7"   [responsive]="false"
                        scrollable="true" [paginator]="true" selectionMode="single" scrollWidth="100%" emptyMessage="Lista Vacia" >

                        <p-column field="nro" header="N°"  [style]="{'width':'2em','text-align':'center'}"></p-column>
                        <p-column field="TaCoDeDescripcion" header="Punto"  [style]="{'width':'9em'}"></p-column>
                        <p-column field="TaCoDeHora" header="Control"  [style]="{'width':'5em','text-align':'center'}"></p-column>
                        <p-column field="TaCoDeTiempo" header="Tiempo"  [style]="{'width':'5em','text-align':'center'}"></p-column>
                    </p-dataTable>
                </div>
        </div>
    </div>

    
<!--VENTANAS FORMULARIO-->

    <!--ELEGIR EL NRO DE TARJETAS DE CONTROL-->
    <p-dialog  [resizable]="false" [(visible)]="displayNroTarjetas" modal="modal" width="330" height="330" [closable]= false>
        <!--CONTENIDO-->
        {{mensaje}}

        <!--NRO DE TARJETAS QUE SE VA ASIGNAR A LA PLACA-->
        <div class="form-group">    
            <label>Nro Tarjetas:</label>
            <input id="inputNroTarj" type="number" [(ngModel)]="nroTarjetas" min=1 max=5  required #nroTarj="ngModel" />
            <span *ngIf="!nroTarj.valid && (nroTarj.touched || nroTarj.dirty)"  >  
                <div id="validation" [hidden]="!nroTarj.errors.required"> obligatorio </div>
            </span>   
        </div>   

        <!--BOTONES-->
        <div class=" btn_Modal row ">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-fast-forward" (click)="funcNroTarjetas();" [disabled]="!nroTarj.valid" label="Continuar"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelNroAsigTarjetas();" label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>

    <!--MODAL ASIGNAR SOLO UNA TARJETA DE CONTROL-->
    <p-dialog header="Asignando Nueva Tarjeta" [resizable]="false" [(visible)]="displayAsignarTarjeta" modal="modal" width="100%" height="100%" [closable]= false>
        <!--CONTENIDO-->
         <div class="row">
            <div class="cont_modal">
                <div class="container">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
    
                        <div class="row">
                            <!--Listado de Puntos de Control-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Listado de Puntos de Control:</label>
                                    <select class="form-control" [(ngModel)]="puntoControl" (change)="puntosControlId($event)" required #PC="ngModel">
                                        <option *ngFor="let punto of _puntosControl" [ngValue]="punto" selected="selected">
                                            {{punto.PuCoDescripcion}} / {{punto.PuCoTiempoBus}}
                                        </option>
                                    </select>  
                                    <div [hidden]="displayErrorNoHayPCModalNuevo" style="color:red;padding: 0;margin: 0;position: absolute;">{{mensaje}}</div>
                                    <div [hidden]="displayHayPCModalNuevo" style="color:green;padding: 0;padding: 0;position: absolute;">{{mensaje}}</div>
                                    <div id="validation" [hidden]="!PC.touched || PC.valid ">
                                        Error, revise los datos ingresados
                                    </div>
                                </div>   
                            </div>

                            <!--Programaciones-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Programaciones:</label>
                                    <select class="form-control" required [(ngModel)]="_prId" (change)="programacionId($event)"   #PROG="ngModel">
                                        <option *ngFor="let prog of _programacion" [value]="prog.prId">
                                            {{prog.prDescripcion}}
                                        </option>
                                    </select> 
                                    <div id="validation" [hidden]="!PROG.touched || PROG.valid ">
                                        Error, revise los datos ingresados
                                    </div>
                                </div>
                            </div>

                            <!--Programacion por Fecha-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Programacion por Fecha:</label>
                                    <div class="form-inline">
                                        <div class="col-xl-9 col-md-9 col-sm-12 col-xs-12">
                                            <input class="form-control" name="fecha" type="date" [(ngModel)]="tarjeta._TaCoFecha" required #fprog="ngModel" />
                                        </div>
                                        <div class="col-xl-3 col-md-3 col-sm-12 col-xs-12">
                                            <button class="btn_modal" type="button" (click)="buscarxFecha()" pButton icon="fa-search" [disabled]="!fprog.valid"></button>
                                        </div>
                                    </div>
                                    <div id="validation" [hidden]="fprog.valid || !fprog.touched">
                                            Error, revise los datos ingresados
                                    </div> 
                                </div>
                            </div>
                            
                            <!--Orden de las Placas-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class=" form-group ">
                                    <label>Orden de las Placas:</label>
                                    <p-dataTable [value]="_progDetalle" scrollable="true" scrollHeight="100px" selectionMode="single" 
                                                (onRowSelect)="onRowPlaca($event)" emptyMessage="Lista Vacia" [(selection)]="selectedPlacaONE" >
                                        <p-column field="nro" header="N°" [style]="{'width':'3em'}" ></p-column>
                                        <!--<p-column field="PrDeOrden" header="Sorteo" [style]="{'width':'3em'}" ></p-column>-->
                                        <p-column field="nroPlaca" header="Placa" [style]="{'width':'6em'}" ></p-column>
                                        <p-column field="subemp" header="Pertenece" [style]="{'width':'3em'}" ></p-column>
                                    </p-dataTable>
                                </div>
                            </div>

                            <!--Estado de la Tarjeta-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Estado de la Tarjeta:</label>
                                    <div class="row">
                                        <!--<p-radioButton class="radioButton" value="0"  label="No Asignado" [(ngModel)]="val" [disabled]="actRadioButton" ></p-radioButton>-->
                                        <p-radioButton class="radioButton" value="1"  label="Asignar"     [(ngModel)]="val" [disabled]="actRadioButton" ></p-radioButton>
                                        <p-radioButton class="radioButton" value="2"  label="Ausente"     [(ngModel)]="val" [disabled]="actRadioButton" ></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Hora Salida(HH:MM:SS):-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label >Hora Salida(HH:MM:SS):</label>
                                    <input class="form-control" type="time"[(ngModel)]="tarjeta._TaCoHoraSalida"  step="1"  required #hsal="ngModel" />
                                    <span *ngIf="!hsal.valid && (hsal.touched || hsal.dirty)"  >  
                                        <div id="validation" [hidden]="!hsal.errors.required"> obligatorio </div>
                                    </span>   
                                </div>   
                            </div>    

                            <!--Cuota por vuelta-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">    
                                    <label>Cuota por vuelta:</label>
                                    <input class="form-control" type="number" value="0" [(ngModel)]="tarjeta._TaCoCuota" required #cuota="ngModel" />
                                    <span *ngIf="!cuota.valid && (cuota.touched || cuota.dirty)"  >  
                                        <div id="validation" [hidden]="!cuota.errors.required"> obligatorio </div>
                                    </span>   
                                </div>   
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
         </div>

        <!--BOTONES-->
        <div class=" btn_Modal row ">
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-fast-backward" (click)="btnAtrasMultiTarj(); PC.reset(); PROG.reset(); hsal.reset(); cuota.reset(); fprog.reset();" label="Atras"></button>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardarTarjeta();  PC.reset(); PROG.reset(); hsal.reset(); cuota.reset(); fprog.reset();" [disabled]="!PC.valid || !PROG.valid || !fprog.valid || !hsal.valid || !cuota.valid || this.actRadioButton" label="Guardar"></button>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelarTarjeta();  PC.reset(); PROG.reset(); hsal.reset(); cuota.reset(); fprog.reset(); " label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>
    
    <!-- MODAL ASIGNAR MULTI TARJETAS DE CONTROL A LA VEZ-->
    <p-dialog [resizable]="false" [(visible)]="displayAsigMultiTarj" modal="modal" width="100%" height="100%" [closable]= false>
        <p-header>{{titulo}}</p-header>

        <!--CONTENIDO-->
        <div class="row">
            <div class="cont_modal">
                <div class="container">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            
                                <!--LISTA PUNTOS DE CONTROL-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Listado de Puntos de Control:</label>
                                        <select class="form-control" [(ngModel)]="puntoControl" (change)="puntosControlId($event)" required #MPC="ngModel">
                                            <option *ngFor="let punto of _puntosControl" [ngValue]="punto" selected="selected">
                                                {{punto.PuCoDescripcion}} / {{punto.PuCoTiempoBus}}
                                            </option>
                                        </select>  
                                        <div [hidden]="displayErrorNoHayPCModalNuevo" style="color:red;padding: 0;margin: 0;position: absolute;">{{mensaje}}</div>
                                        <div [hidden]="displayHayPCModalNuevo" style="color:green;padding: 0;margin: 0;position: absolute;">{{mensaje}}</div>
                                        <div id="validation" [hidden]="!MPC.touched || MPC.valid ">
                                            Error, revise los datos ingresados
                                        </div>
                                    </div>
                                </div>
                                
                                <!--LISTA HORA DE SALIDA-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label >Hora Salida(HH:MM:SS):</label>
                                        <input class="form-control" type="time"[(ngModel)]="tarjeta._TaCoHoraSalida"  step="1"  required #Mhsal="ngModel" />
                                        <span *ngIf="!Mhsal.valid && (Mhsal.touched || Mhsal.dirty)"  >  
                                            <div id="validation" [hidden]="!Mhsal.errors.required"> obligatorio </div>
                                        </span>   
                                    </div> 
                                </div>

                                <!--TIEMPO INTERMEDIOS-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label >Tiempo Intermedio(HH:MM:SS):</label>
                                        <input class="form-control" type="text"[(ngModel)]="timeInter"
                                        pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})"  #MtimeInterm="ngModel" required/>
                                        
                                        <div id="validation" [hidden]="!MtimeInterm.touched || MtimeInterm.valid ">
                                            Error en los datos (HH:MM:SS)
                                        </div>
                                    </div> 
                                </div>

                                <!--LISTA PROGRAMACION ELEGIDA-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Programaciones:</label>
                                        <select class="form-control" required [(ngModel)]="_prId" (change)="programacionId($event)"   #MPROG="ngModel">
                                            <option *ngFor="let prog of _programacion" [value]="prog.prId">
                                                {{prog.prDescripcion}}
                                            </option>
                                        </select> 
                                        <div id="validation" [hidden]="!MPROG.touched || MPROG.valid ">
                                            Error, revise los datos ingresados
                                        </div>
                                    </div>
                                </div>

                                <!--PROGRAMACION POR FECHA-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Programacion por Fecha:</label>
                                        <div class="form-inline">
                                            <div class="col-xl-9 col-md-9 col-sm-12 col-xs-12">
                                                <input class="form-control" name="fecha" type="date" [(ngModel)]="tarjeta._TaCoFecha" required #Mfprog="ngModel" />
                                            </div>
                                            <div class="col-xl-3 col-md-3 col-sm-12 col-xs-12">
                                                <button class="btn_modal" type="button" (click)="buscarxFecha()" pButton icon="fa-search" [disabled]="!fprog.valid"></button>
                                            </div>
                                        </div>
                                        <div id="validation" [hidden]="Mfprog.valid || !Mfprog.touched">
                                                Error, revise los datos ingresados
                                        </div> 
                                    </div>
                                </div>
                                
                                <!--ESTADO DE LA TARJETA-POR DEFECTO PONER A TODOS ASIGNAR -->

                                <!-- -> LISTA DE PLACAS - PROGRAMACION, AL ELEGIR UNA  PLACA MULTIPLICARLO POR EL NRO DE TARJETAS
                                    -> ORDEN SORTEO DE LAS PLACAS-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class=" form-group ">
                                        <label>Orden de las Placas:</label>
                                        <p-dataTable [value]="_progDetalle" scrollable="true" scrollHeight="100px" selectionMode="single" 
                                                    (onRowSelect)="onRowPlaca($event)" emptyMessage="Lista Vacia" [(selection)]="selectedPlacaMULTI">
                                            <p-column field="nro" header="N°" [style]="{'width':'3em'}" ></p-column>
                                            <p-column field="PrDeOrden" header="Sorteo" [style]="{'width':'3em'}" ></p-column>
                                            <p-column field="nroPlaca" header="Placa" [style]="{'width':'6em'}" ></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>

                                <!-- CUOTA POR VUELTA-->
                                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">    
                                        <label>Cuota por vuelta:</label>
                                        <input class="form-control" type="number" value="0" [(ngModel)]="tarjeta._TaCoCuota" required #Mcuota="ngModel" />
                                        <span *ngIf="!Mcuota.valid && (Mcuota.touched || Mcuota.dirty)"  >  
                                            <div id="validation" [hidden]="!Mcuota.errors.required"> obligatorio </div>
                                        </span>   
                                    </div>
                                </div>    
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--BOTONES-->
        <div class=" btn_Modal row ">
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-fast-backward" (click)="btnAtrasMultiTarj(); MPC.reset(); MPROG.reset(); Mhsal.reset(); Mcuota.reset(); Mfprog.reset(); MtimeInterm.reset();" label="Atras"></button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-save" (click)="guardarMultiTarjetas(); MPC.reset(); MPROG.reset(); Mhsal.reset(); Mcuota.reset(); Mfprog.reset(); MtimeInterm.reset();" [disabled]="!MPC.valid || !MPROG.valid || !Mhsal.valid || !Mcuota.valid || !MtimeInterm.valid || !Mfprog.valid || this.actRadioButton" label="Guardar"></button>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelarMultiTarjeta(); MPC.reset(); MPROG.reset(); Mhsal.reset(); Mcuota.reset(); Mfprog.reset(); MtimeInterm.reset();" label="Cancelar"></button>
            </div>
        </div>
    </p-dialog>

   

<!--MENSAJES PARA EL USUARIO-->

     <!--MODAL CONFIRMAR ELIMINAR REG-->
     <p-dialog [(visible)] = "displayConfirmarEliminar" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelar_eliminarC()" label="Cancelar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="aceptar_eliminarC()" label = "Eliminar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL ERROR FALTAN SELECCIONAR RUTA O PUNTOS D ECONTROL PA BUSCAR X FECHA-->
     <p-dialog [(visible)] = "displayErrorDatosProgxFecha" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="errorBuscarxFecha()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL ERROR NO HAY DATOS FECHA EN FECHA-->
     <p-dialog [(visible)] = "displayNoProgEnFecha" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="errorBusquedaProg()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL VALIDO LISTA DE PUNTOS DE CONTROL DETALLE
     <p-dialog [(visible)] = "displayHayPCModalNuevo" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarHayPC()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  -->

     <!--MODAL NO VALIDO LISTA DE PUNTOS DE CONTROL DETALLE
     <p-dialog [(visible)] = "displayErrorNoHayPCModalNuevo" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarErrorNoHayPC()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  -->

     <!--MODAL NO HAY TARJETAS DE CONTROL ASIGNADAS-->
     <p-dialog [(visible)] = "displayNoTarjetasAsignadas" [resizable]="false" modal="modal" width="100%" [closable]=false>
            {{mensaje}}
            <div class=" btn_Modal row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarNoAsigTarjeta()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  
