<!--FORMULARIO PRINCIPAL-->
<div class="contenedor">
    <!--TITULO-->
    <div id="titulo">Tarjetas de Control</div>
    
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!--BUSQUEDA + BTNNUEVO + COMBO RUTA + COMBO PCONTROL-->
            <div class="row">
                <!--COMBO RUTAS-->
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12">
                    <select class="form-control" required [(ngModel)]="_ruId" (change)="funcCboRutaId($event)"   #ruta="ngModel">
                        <!--<option value="" disabled selected hidden>Please Choose...</option>-->
                        <option *ngFor="let ruta of rutas" [value]="ruta.RuId">{{ruta.RuDescripcion}}</option>
                    </select> 
                </div>

                <!--BUSQUEDA-->
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12">
                    <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroGlobal/>
                </div>

                <!--NUEVO REGISTRO style="float:left"-->
                <div class="col-xl-2 col-md-4 col-sm-12 col-xs-12">
                    <button class="form-control" id="btnNuevo" type="button"  pButton icon="fa-file-text-o" 
                    [disabled]="_ruId==0" (click)="formAsignarTarjetas()" label="Asignar" ></button>
                </div>
                <!--
                <div class="col-xl-2 col-md-4 col-sm-12 col-xs-12">
                    <button class="form-control" id="btnNuevo" type="button"  pButton (click)="borrarTodasTarjetas();"></button>
                </div>
                -->
            </div>

            <!--TABLA CABECERA-->
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <div class=" table table-responsive">
                        <p-dataTable [value]="_allTarjControl" [globalFilter]="filtroGlobal" 
                                    emptyMessage="Lista Vacia" 
                                    selectionMode="single" dataKey="BuPlaca"
                                    [rows]="7" [paginator]="true"
                                    [(selection)]="selectedTarjCab" (onRowSelect)="onRowSelectCabecera($event)">

                            <!--campos de la datatable-->
                            <p-column styleClass="col-button" [style]="{'width':'3em','text-align':'center'}">
                                <template let-col let-row="rowData" pTemplate="body">
                                    <!--<button type="button" pButton id="btnTable" (click)="editarC(row.TaCoId)" icon="fa-pencil-square-o" > </button>-->
                                    <button type="button" pButton id="btnTable" (click)="eliminarC(row.TaCoId)" icon="fa-trash" > </button>
                                </template>
                            </p-column>
                            <p-column field="Nro" header="N°"  [style]="{'width':'2em','text-align':'center'}"></p-column>
                            <p-column field="BuPlaca" header="Placa"  [style]="{'width':'5em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="NomTaCoNroVuelta" header="Vuelta"  [style]="{'width':'3em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="NomPuntosControl" header="P. Control"  [style]="{'width':'14em','height':'2.8em'}"></p-column>
                            <p-column field="NomTaCoMultiple" header="Tipo"  [style]="{'width':'6em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="NomTaCoFinish" header="Term."  [style]="{'width':'3em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="NomTaCoAsignado" header="Estado"  [style]="{'width':'6em','text-align':'center','height':'2.8em'}"></p-column>
                            <p-column field="TaCoHoraSalida" header="H. Sal" sortable="true" [style]="{'width':'6em','text-align':'center','height':'2.8em'}"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

    
<!--VENTANAS FORMULARIO-->
    <!--CUADRO DE SALIDAS-->
    <p-dialog header="Cuadro de Salidas" [resizable]="false" [draggable]="false" [(visible)]="displayCuadroSalidas" modal="modal" width="100%" height="100%" [closable]= false>
        
        <div class="row">
            <div class="_cuadroSalidas">
                <div class="cuadroSalidas">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <!-- nro de tarjetas entre 3 y 5-->
                            <table class="table" id="tablaSalidas">
                                <thead >
                                    <tr>
                                        <th *ngFor="let headCol of headerTabCuadroNumber;" style="text-align:center;">
                                            {{headCol}}
                                        </th>
                                    </tr>
                               
                                    <tr>
                                        <th *ngFor="let nomhoras of headerTabCuadroHoras;">
                                            <tr>
                                                <th *ngFor="let nomhora of nomhoras;" style="padding:auto;">
                                                    {{nomhora}}
                                                </th>
                                            </tr>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody >
                                    <td *ngFor="let nrovuelta of arrCuadroSalidas">
                                        <tr *ngFor="let horas of nrovuelta">
                                            <td *ngFor="let hora of horas">
                                                {{hora}}   
                                            </td>
                                        </tr>
                                    </td>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                    
            </div>
        </div>  

        <div class=" btnClassCuadroSalidas row">
            <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="cerrarCuadroSalidas()" label = "Cerrar"></button>
            </div>   
        </div>
    </p-dialog>
    
    <!--CUADRO TARJETA CONTROL DETALLE POR PUNTOS DE CONTROL-->
    <p-dialog header="Tarjeta de Control" [resizable]="false" [(visible)]="displayTarjetaControlDetalle" modal="modal" width="100%" height="100%" [closable]= false>
        <div class="row">
            <div class="tbTarjCtrlDet">
                <div class="_tbTarjCtrlDet">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        
                        <p-dataTable [value]="_allTarjDetalle" scrollable="true"
                            scrollHeight="300px" scrollWidth="100%" selectionMode="single"
                            emptyMessage="Lista Vacia" >

                            <p-column field="nro" header="N°" [style]="{'width':'2em','text-align':'center'}"></p-column>
                            <p-column field="TaCoDeDescripcion" header="Punto"  [style]="{'width':'9em'}"></p-column>
                            <p-column field="TaCoDeHora" header="Control"  [style]="{'width':'5em','text-align':'center'}"></p-column>
                            <p-column field="TaCoDeTiempo" header="Tiempo"  [style]="{'width':'5em','text-align':'center'}"></p-column>
                        </p-dataTable>
                       
                    </div>

                    <div class=" btnTarjDetallePCtrl row ">
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn_modal" type="text" pButton icon="fa-close" 
                            (click)="cerrarTarjetaControl();" label = "Cerrar"></button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        
    </p-dialog>

    <!--MODAL ASIGNAR TARJETA DE CONTROL-->
    <p-dialog [resizable]="false" [(visible)]="displayAsignarTarjeta" [draggable]="false" modal="modal" width="100%" height="100%" [closable]= false>
        <!--CONTENIDO-->
        <p-header>Asignar Tarjetas -- Vuelta: {{ReDiDeNroVuelta}} de {{ReDiTotalVuelta}}</p-header>

            <div class="_asignaUnaTarj">
                <div class="asignaUnaTarj">
                    <!---PUNTOS DE CONTROL - TIPO TARJETA-->
                    <div class="form-group row">
                        <!--PUNTOS DE CONTROL-->
                        <div class="form-group  col-xl-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Puntos de Control:</label>
                            <select class="form-control" [(ngModel)]="puntoControl" 
                                (change)="funcCboPuntosControlId($event)" required #cboPtosControl="ngModel">
                                <option *ngFor="let punto of _puntosControl" [ngValue]="punto" selected="selected">
                                    {{punto.PuCoDescripcion}} / {{punto.PuCoTiempoBus}}
                                </option>
                            </select>  
                            <!--validacion-->
                            <div [hidden]="displayErrorNoHayPCModalNuevo" id="validation">{{mensaje}}</div>
                            <div [hidden]="displayHayPCModalNuevo" id="verdadero">{{mensaje}}</div>
                            <div id="validation" [hidden]="!cboPtosControl.touched || cboPtosControl.valid ">
                                Error, revise los datos ingresados
                            </div>
                        </div>
                        <!--TIPO TARJETA-->
                        <div class="form-group  col-xl-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Tipo Tarjeta:</label>
                            <select class="form-control" [(ngModel)]="TaCoMultiple" 
                                    (change)="funcCboTipoTarjeta()" required #cboTipoTarjeta="ngModel">
                                <option *ngFor="let tipoTarjeta of arrTipoTarjeta" [ngValue]="tipoTarjeta.id">
                                    {{tipoTarjeta.nomb}}
                                </option>
                            </select>  
                            <!--validacion-->
                            <div id="validation" [hidden]="!cboTipoTarjeta.touched || cboTipoTarjeta.valid ">
                                Obligatorio!!!
                            </div>               
                        </div>   
                    </div>

                    <!--TARJETA INDIVIDUAL-->
                    <div class="form-group row" *ngIf='TaCoMultiple==0 '>
                        <!--COMBOS + INPUTS-->
                        <div class="contenidoAsignarTarjetaIndividual form-group col-xl-4 col-md-5 col-sm-12 col-xs-12">
                                <label>Programacion: {{PrDescripcion}}</label>   
                                <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroTableIndividual/>
                                    
                            <!--ESTADO TARJETA: {{msjestadoplaca}}-->         
                                <label>Estado Tarjeta:</label>
                                <select class="form-control" [(ngModel)]="val" (change)="funEstTarjApertura();" required #ValTarj="ngModel">
                                    <option *ngFor="let valtj of arrValTarjeta" [ngValue]="valtj.val" [selected]="valtj.val===selValTarjeta.val ">
                                        {{valtj.nomb}}
                                    </option>
                                </select>
                                <span *ngIf="!ValTarj.valid && ValTarj.touched" >
                                    <div id="validation" [hidden]="!ValTarj.errors.required"> Obligatorio </div>
                                </span>                                                                         

                            <!--TIEMPO RETEN(HH:MM:SS):  ReReTiempo  tarjeta._TaCoHoraSalida-->
                                <div  [hidden]="actInputReten">
                                    <label >Rente(HH:MM:SS):</label>
                                    <input class="form-control" type="text" #tmpReten="ngModel" required
                                            pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})" 
                                            length=8 step="1" [(ngModel)]="ReReTiempo"/>
                                    <div id="validation" *ngIf="validarTiempo.length!=0">
                                        {{validarTiempo}}
                                    </div>
                                </div>   

                            <!--TIEMPO ESLAVON, RECUPERA LA CADENA DE ASIGNACION DE TARJETAS-->
                                <div  [hidden]="actInputHoraSalida">
                                    <label >Hora Salida(HH:MM:SS):</label>
                                    <input class="form-control" type="text" #tmpSalida="ngModel" required
                                        pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})" 
                                        length=8 step="1" [(ngModel)]="HoraSalidaRecEslavon" />
                                    <div id="validation" *ngIf="validarTiempo.length!=0">
                                        {{validarTiempo}}
                                    </div>
                                </div>                             
                        </div>                        
                        <!--TABLA-->                      
                        <div class=" form-group col-xl-8 col-md-7 col-sm-12 col-xs-12">             
                                                                
                            <!--BUSQUEDA-->
                                            
                            <p-dataTable [value]="arrprogxfecha" dataKey="BuPlaca"
                                        [rows]="5" [paginator]="true" [globalFilter]="filtroTableIndividual"
                                        selectionMode="single" (onRowSelect)="onRowPlaca($event)" 
                                        emptyMessage="Lista Vacia" [(selection)]="selectedPlacaONE" >
                                <p-column field="nro" header="N°"  [style]="{'width':'2em','text-align':'center','height':'2.5em'}" ></p-column>                   
                                <p-column field="BuPlaca" header="Placa" [style]="{'width':'6em','text-align':'center','height':'2.5em'}" ></p-column>
                                <p-column field="EstadoAsignado" header="Estado" [style]="{'width':'6em','text-align':'center','height':'2.5em'}" ></p-column>                      
                            </p-dataTable>                                               
                        </div>                        
                        
                        <!--botones-->              
                        <div class="btnModAsigT row">
                            
                            <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn_modal" type="text" pButton icon="fa-save" 
                                (click)="guardarTarjeta(tmpSalida.valid, tmpReten.valid);" 
                                [disabled]="(  (!(val!='x') || !(estadoPlaca==0))  )" label="Guardar"></button>
                                
                            </div>
                            
                            <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn_modal" type="text" pButton icon="fa-close" 
                                (click)="cancelarTarjeta(); cboPtosControl.reset(); cboTipoTarjeta.reset();" label="Cerrar"></button>
                            </div>
            
                            <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn_modal" type="text" (click)="abrirCuadroSalidas();"
                                pButton icon="fa-file-o" label="Cuadro de Salidas"></button>
                            </div>
                        </div>                        
                    </div>

                    <!--TARJETA MULTIPLE-->
                    <div class="form-group row" *ngIf='TaCoMultiple==1' >                            
                        <!--COMBOS + INPUTS-->
                        <div class="contenidoAsignarTarjetaMulti form-group col-xl-4 col-md-5 col-sm-12 col-xs-12">

                            <label>Programacion: {{PrDescripcion}}</label>   
                            <input class="form-control" placeholder="Buscar..." type="text" id="gb1" #filtroTableMultiple/>

                            <!--Estado de la Tarjeta    ASIGNAR O AUSENTE-->                        
                            <label>Estado Tarjetas:</label>
                            <select class="form-control" [(ngModel)]="val" (change)="funEstTarjApertura();" required #ValTarjMulti="ngModel">
                                <option *ngFor="let valtj of arrValTarjeta" [ngValue]="valtj.val" [selected]="valtj.val===selValTarjeta.val ">
                                    {{valtj.nomb}}
                                </option>
                            </select>
                            <span *ngIf="!ValTarjMulti.valid && ValTarjMulti.touched" >
                                <div id="validation" [hidden]="!ValTarjMulti.errors.required"> Obligatorio </div>
                            </span>
    
                            <!--1er reten-->
                            <div [hidden]="actMInputPrimerReten">
                                <label >1er Reten(HH:MM:SS):</label>
                                <input class="form-control" type="text"[(ngModel)]="ReReTiempo"  step="1" 
                                required #PrimerReten="ngModel" />
                                <span *ngIf="!PrimerReten.valid && (PrimerReten.touched || PrimerReten.dirty)"  >  
                                    <div id="validation" [hidden]="!PrimerReten.errors.required"> 
                                        obligatorio 
                                    </div>
                                </span>   
                            </div>

                            <!--TIEMPO ESLAVON, RECUPERA LA CADENA DE ASIGNACION DE TARJETAS-->
                            <div  [hidden]="actMInputHoraEslavon">
                                <label >H. Salida(HH:MM:SS):</label>
                                <input class="form-control" type="text" #tmpEslavon="ngModel" required
                                    pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})" 
                                    length=8 step="1" [(ngModel)]="HoraSalidaRecEslavon" />
                                <div id="validation" *ngIf="validarTiempo.length!=0">
                                    {{validarTiempo}}
                                </div>
                            </div>   
                                                 
                            <!--TIEMPO INTERMEDIOS (RETEN)-->                           
                            <div [hidden]="actMInputRepeatReten">
                                <label >Retenes(HH:MM:SS):</label>
                                <input class="form-control" type="text" [(ngModel)]="MultiReten"
                                pattern="([0-1]{1}[0-9]{1}|20|21|22|23):([0-5]{1}[0-9]{1}):([0-5]{1}[0-9]{1})"  
                                #MulReten="ngModel" required/>
                                
                                <div id="validation" [hidden]="!MulReten.touched || MulReten.valid ">
                                    Error en los datos (HH:MM:SS)
                                </div>
                            </div>                        
                                
                        </div>
                        <!--TABLA-->
                        <div class=" form-group col-xl-8 col-md-7 col-sm-12 col-xs-12">
                            <p-dataTable [value]="arrprogxfecha"  dataKey="BuPlaca"
                                            selectionMode="single" [globalFilter]="filtroTableMultiple"
                                        (onRowSelect)="onRowPlaca($event)" emptyMessage="Lista Vacia" 
                                        [(selection)]="selectedPlacaMULTI" [rows]="5" [paginator]="true">                        
                                <p-column field="nro" header="N°" [style]="{'width':'2em','text-align':'center','height':'2.5em'}" ></p-column>
                                <p-column field="BuPlaca" header="Placa" [style]="{'width':'6em','text-align':'center','height':'2.5em'}" ></p-column>
                                <p-column field="EstadoAsignado" header="Estado" [style]="{'width':'6em','text-align':'center','height':'2.5em'}" ></p-column>                        
                            </p-dataTable>
                        </div>     
                        {{estadoPlaca}}{{val}}                                           
                        <!--botones-->              
                        <div class="btnModAsigT row">
                                <!-- !(val!='x' && (estadoPlaca==0 || estadoPlaca==1 || estadoPlaca==2 || estadoPlaca==3 ))-->
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <button class="btn_modal" type="text" pButton icon="fa-save" 
                                (click)="guardarMultiTarjetas(PrimerReten.valid,  tmpEslavon.valid, MulReten.valid); MulReten.reset(); ValTarjMulti.reset();" 
                                [disabled]="(!(val!='x') || !(estadoPlaca==0))" label="Guardar"></button>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <button class="btn_modal" type="text" pButton icon="fa-close" 
                                (click)="cancelarMultiTarjeta(); ValTarjMulti.reset(); cboPtosControl.reset(); cboTipoTarjeta.reset();" label="Cerrar"></button>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                                <button class="btn_modal" type="text" (click)="abrirCuadroSalidas();"
                                pButton icon="fa-file-o" label="Cuadro de Salidas"></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf='TaCoMultiple!=1 && TaCoMultiple!=0'>
                         <!--botones-->              
                         <div class="btnModAsigT row">
                                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12">
                                    <button class="btn_modal" type="text" pButton icon="fa-close" 
                                    (click)="cancelarTarjeta(); cboPtosControl.reset(); cboTipoTarjeta.reset();" label="Cerrar"></button>
                                </div>
                         </div>
                    </div>
                </div>
            </div>
    </p-dialog>


<!--MENSAJES PARA EL USUARIO-->

     <!--MODAL CONFIRMAR ELIMINAR REG-->
     <p-dialog [(visible)] = "displayConfirmarEliminar" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
                {{mensaje}}
            </div>
            <div class=" btnFormsMnjsComf row ">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-trash-o" (click)="aceptar_eliminarC()" label = "Eliminar"></button>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-close" (click)="cancelar_eliminarC()" label="Cancelar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL ERROR FALTAN SELECCIONAR RUTA O PUNTOS D ECONTROL PA BUSCAR X FECHA-->
     <p-dialog [(visible)] = "displayErrorDatosProgxFecha" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
                {{mensaje}}
            </div>
            <div class=" btnFormsMnjsComf row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="errorBuscarxFecha()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL ERROR NO HAY DATOS FECHA EN FECHA-->
     <p-dialog [(visible)] = "displayNoProgEnFecha" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
                {{mensaje}}
            </div>
            <div class=" btnFormsMnjsComf row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="errorBusquedaProg()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL MENSAJE ESPERA GUARDANDO TARJETA-->
     <p-dialog [(visible)] = "displayMsjEsperaGuardarTarjeta" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
                {{msjEsperaGuardando}}
            </div>
            
     </p-dialog>  

     <!--MODAL MENSAJE PASAR A LA SGTE VUELTA, SE ASIGNO LA ULTIMA PLACA-->
     <p-dialog [(visible)] = "displayPasarSgteVuelta" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
            {{mensajesigvuelta}}
            </div>
            <div class=" btnFormsMnjsComf row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarPasarSgteVuelta()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL NO HAY TARJETAS DE CONTROL ASIGNADAS-->
     <p-dialog [(visible)] = "displayNoTarjetasAsignadas" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf"> 
                {{mensaje}}
            </div>
            <div class=" btnFormsMnjsComf row ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarNoAsigTarjeta()" label=" Aceptar"></button>
                </div>
            </div>
     </p-dialog>  

     <!--MODAL NO ENCONTRO REGISTRO DIARIO -->
     <p-dialog [(visible)] = "displayMensajeNoRegDiario" [resizable]="false" modal="modal" width="100%" [closable]=false>
            <div class="mdlMnjsConf">
                {{mensajeModal}}
            </div>
            <div class=" btnFormsMnjsComf ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarNoRegDiario()" label="Aceptar"></button>
                </div>
            </div>
     </p-dialog> 
     
     <!--MODAL NO ENCONTRO REGISTRO DIARIO -->
     <p-dialog [(visible)] = "displayMnjNoPuedeCrearMulTarjEnPenultimaVuelta" [resizable]="false" modal="modal" width="100%" [closable]=false>
        <div class="mdlMnjsConf">
            {{mensajeModal}}
        </div>
        <div class=" btnFormsMnjsComf ">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn_modal" type="text" pButton icon="fa-check" (click)="aceptarNoPuedeCrearMultiTarjeta()" label="Aceptar"></button>
            </div>
        </div>
    </p-dialog> 